<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    {% load cropping %}

    <link rel="shortcut icon" href="{% static 'website/img/ml-favicon.png' %}" />

    <!-- Load some fonts -->
    <!-- Raleway: https://fonts.google.com/specimen/Raleway -->
{#    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />#}
{#    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700|Raleway:400,800|Roboto:400,700" rel="stylesheet">    #}
{#    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">#}
    <!-- Raleway 300 is light, 400 is regular, 500 is medium, 600 is semi-bold, 700 is bold -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}"/>

    <!-- A modified version of the grayscale css -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/grayscale.css' %}"/>

    <!-- Our custom style sheets -->
    <link rel="stylesheet" href="{% static 'website/css/carousel_fade.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/autocomplete.css' %}"/>
    
    {% block stylesheets %}
    
    {% endblock %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- Back Top -->
    <link rel="stylesheet" href="{% static 'website/css/backtop.css' %}"/>

	<!-- jQuery: v1.9.1 necessary for Bootstrap's JavaScript plugins -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Bootstrap: Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Grayscale template -->
	<script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'website/js/grayscale.js' %}"></script>
	<script src="{% static 'website/js/backtop.js' %}"></script>

  {% block external_scripts %}

  {% endblock %}

    <title>
        {% block pagetitle %}
            {{ request.resolver_match.url_name }}
        {% endblock %}
    </title>

    <script type="text/javascript">

    {% block scripts %}

    {% endblock %}

    $(document).ready(function () {
        console.log("{{debug}}");
        $('.carousel').carousel();
        // $("#back-top").hide();
    });

    function parseHashtoAnchor(string){
        if(!isNaN(parseInt(string))){
            return string.trim();
        }
        string = string.replace(/-/g, " ");
        string = string.trim();
        var stringArray = string.split(" ");
        var returnVal = '';
        stringArray.forEach(function(element){
           element = element.charAt(0).toUpperCase() + element.substring(1, element.length);
           returnVal = returnVal + element + " ";
        });
        return returnVal.trim()

    }

    // allow for smooth scrolling to anchor links
    $(document).click(function (event) {
	var target = event.originalEvent.target;
        if (target.className === "scroll" || target.parentElement.className === "scroll") {
            //prevent the default action for the click event
            event.preventDefault();

            var element = target.className === "scroll" ? target : target.parentElement;

            //get the top offset of the target anchor
            var hashName = element.hash.substring(1);
            hashName = parseHashtoAnchor(hashName);
            console.log(hashName)
            var target_offset = $('[name=' + hashName + ']').offset();
            console.log(target_offset)
            var target_top = target_offset.top - 60;

            //goto that anchor by setting the body scroll top to anchor top
            //http://api.jquery.com/animate/
            $('html, body').animate({ scrollTop: target_top }, 500);
        }
    });

    </script>

    {% if debug %}
    <!-- No google analytics will be loaded as you are in development -->
    {% else %}
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     
     ga('create', 'UA-79723676-1', 'auto');
     ga('send', 'pageview');
    </script>
    {% endif %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% block navbar %}
        <!-- Navigation -->
        <nav class="navbar navbar-custom {% with request.resolver_match.url_name as url_name %}{% if url_name == 'member' %}navbar-white{% endif %}{% endwith %} navbar-fixed-top"
             role="navigation" >
            <div class="container-fluid" style="width:100%; max-width:1170px; margin:auto">
                <div class = "row">
                    <div class="col-xs-12" style="padding:0px">

                        <div class="navbar-header">

                            <button style="" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                                <i class="fa fa-bars"></i>
                            </button>

                            <a class="navbar-brand page-scroll" href="{% url 'website:index' %}">
                                <!-- <i class="fa fa-gears"></i>  <span style="font-family: roboto-bold">make</span>ability</span> lab-->
                                <!-- <img src="{% static 'website/img/logos/makelab_logo_bolder_white_no_text_100x68.png' %}" height="20" /> -->
                                {# TODO: the text following the logo does not look vertically centered. Should be fixed. #}
                                <img src="{% static 'website/img/logos/makelab_logo_white_no_text_100x67.png' %}" height="20" />

                                <div class="lab-text"><span style="font-family: roboto-bold; margin-left: 2px;">Make</span>ability</span> Lab</div>
                            </a>

                        </div>

                        <div class="collapse navbar-collapse navbar-main-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <!-- To automatically highlight active links, I followed this code:
                                 http://stackoverflow.com/a/29495310 -->
                                {% with request.resolver_match.url_name as url_name %}
                                    <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'website:index' %}">Home</a></li>
                                    <li class="{% if url_name == 'people' %}active{% endif %}"><a href="{% url 'website:people' %}">People</a></li>
                                    <li class="{% if url_name == 'projects' %}active{% endif %}"><a href="{% url 'website:projects' %}">Projects</a></li>
                                    <li class="{% if url_name == 'news_listing' %}active{% endif %}"><a href="{% url 'website:news_listing' %}">News</a></li>
                                    <li class="{% if url_name == 'publications' %}active{% endif %}"><a href="{% url 'website:publications' %}">Publications</a></li>
                                    <li class="{% if url_name == 'talks' %}active{% endif %}"><a href="{% url 'website:talks' %}">Talks</a></li>
                                    <li class="{% if url_name == 'videos' %}active{% endif %}"><a href="{% url 'website:videos' %}">Videos</a></li>
                                    <li class="{% if url_name == 'faq' %}active{% endif %}"><a href="{% url 'website:faq' %}">FAQ</a></li>
                                {% endwith %}
                            </ul>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <!-- /.navbar-collapse -->
                </div>
            </div>

            <!-- /.container -->
        </nav>
    {% endblock %}

    {% block maincarousel %}
        <div id="mainCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000"
             data-pause="true">
            <!-- <div class="overlay carousel-caption"></div> -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for banner in banners %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        {% if banner.link %}
                            <a href="{{ banner.link }}">
                        {% elif banner.project and not project %}
                            {# We only want to link to a project when we're not on a project page #}
                            <a href="{% url 'website:project' banner.project.short_name %}">
                        {% endif %}
                        <div class="fill"
                             style="background-image:url({% cropped_thumbnail banner "cropping" scale=1.0 %})"
                             aria-label="{% if banner.alt_text %}{{ banner.alt_text }}{% else %}{{ banner.caption }}{% endif %}"
                             title="{% if banner.alt_text %}{{ banner.alt_text }}{% else %}{{ banner.caption }}{% endif %}">
                        </div>
                        <div class="overlay shadow-left" style="pointer-events: none;">
                            <div class="container carousel-container">
                                <div class="carousel-caption carousel-caption-left" style="pointer-events: auto;">
                                    {% if banner.title %}
                                    {% autoescape off %}
                                        <div class="carousel-caption-title">
                                            {{ banner.title }}
                                        </div>
                                        <div class="carousel-caption-text">
                                            {{ banner.caption }}
                                        </div>
                                    {% endautoescape %}
                                {% else %}
                                    <div class="carousel-caption-title">
                                        {{ banner.project.name }}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if banner.link %}</a>
                        {% elif banner.project and not project %}</a>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <ol class="carousel-indicators" {% if banners|length < 2 %} style="display: none" {% endif %}>
                {% for banner in banners %}
                    <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}

    {% block content %}

        <div class="well">
            <div class="container">
                <h1>We're the Makeability Lab!</h1>
                <p>Some text describing us goes here</p>
            </div>
        </div>

        <!--
        Note: Bootstrap uses a 12 column system, so for each item you specify the number of columns
        filled. Also, you can define different numbers of items for different screen sizes.
        So, col-xs-6 col-sm-4 col-md-3 col-lg-2 means that there will be:
            2 items per row for extra small screens (< 768px)
            3 items per row for small screens (768px-992px)
            4 items per row for medium screens (992px-1200px)
            6 items per row for large screens (> 1200px)
        See https://scotch.io/tutorials/understanding-the-bootstrap-3-grid-system for more info.
        -->
        <div class="container">
            <h3>
                Recent publications:
            </h3><br/>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item4.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item5.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item6.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item7.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item4.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item5.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item6.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item7.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item4.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item5.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item6.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item7.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
            </div>

            <h3>
                Recent talks:
            </h3><br/>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item1.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item2.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item3.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item1.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item2.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item3.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item2.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item3.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item1.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item3.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item1.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 thumbnail">
                  <img src="img/item2.png">
                  <div class="caption">
                    <h4>Some text</h4>
                  </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %}

        <div class="makelab-footer">
            <div class="row makelab-footer-row">
               
                <div class="col-xs-2 makelab-footer-col">
                    <a href="{% url 'website:index' %}">
                        <img src="{% static 'website/img/logos/makelab_logo_white_with_text_400x342.png' %}"
                             class="img-responsive makelab-footer-logo"/>
                    </a>
                  </div>
                    
				<div class="col-xs-2 makelab-footer-col">
                    <p style="margin-top:0px">
                       We design, build, and evaluate interactive tools and techniques to address pressing societal
                        challenges in accessibility, sustainability, education, and beyond.
                    </p>
                      
					<div class="makelab-footer-connect-links">
						<ul>
                                <li>
                                    <a href="https://twitter.com/makeabilitylab">
                                        <!--<img src="{% static 'website/img/logos/twitter_logo_white.png' %}" class="makelab-footer-connect-logo"/>-->
                                        <i class="fa fa-2x fa-twitter w3-hover-opacity"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:jonf@cs.uw.edu">
                                        <!--<img src="{% static 'website/img/logos/email_logo_white.png' %}" class="makelab-footer-connect-logo"/> Email-->
                                        <i class="fa fa-2x fa-envelope w3-hover-opacity"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/jonfroehlich/makeabilitylabwebsite">
                                        <!--<img src="{% static 'website/img/logos/github_logo_white.png' %}" class="makelab-footer-connect-logo"/> Github -->

                                        <i class="fa fa-2x fa-github-square w3-hover-black"></i>
                                    </a>
                                </li>
						</ul>
					</div>      
				</div>

                <div class="col-xs-2 makelab-footer-col makelab-footer-recent-news">
                    <h1>Recent News</h1>
                    {# To add news dynamically, we need to use a context processor. See our custom process in context_processors.py #}
                    {# See: https://stackoverflow.com/questions/36093221/how-to-put-variable-from-database-into-base-html-template #}

                    {% for news_item in recent_news %}
                        <div class="row">
                            <a href="{% url 'website:news' news_item.id %}">
                                <div class="col-xs-3" style="white-space:nowrap;min-width:115px">
				    {#  Date formats here: https://docs.djangoproject.com/en/1.11/ref/templates/builtins/#std:templatefilter-date #}
                                    <p>{{ news_item.date|date:"N d, Y" }}</p>
                                </div>
                                <div style="max-width: 300px; width:100%;">
                                   <p class= "line-clamp">{{ news_item.title }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-xs-2 makelab-footer-col makelab-footer-links">
                    <h1>Links</h1>
                    <ul>
                        {% with request.resolver_match.url_name as url_name %}
{#                            <li>url_name: {{ url_name  }}</li>#}
                            <li style="white-space:nowrap;" class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'website:index' %}"> &nbsp;> &nbsp; Home</a></li>
    {#                        <li>About Us</li>#}
                            <li style="white-space:nowrap;" class="{% if url_name == 'people' %}active{% endif %}"><a href="{% url 'website:people' %}">&nbsp;> &nbsp; People</a></li>
                            <li style="white-space:nowrap;" class="{% if url_name == 'news_listing' %}active{% endif %}"><a href="{% url 'website:news_listing' %}">&nbsp;> &nbsp; News</a></li>
    {#                  <li class="{% if url_name == 'projects' %}active{% endif %}"><a href="{% url 'website:projects' %}">&nbsp;> &nbsp; Projects</a></li>#}
                            <li style="white-space:nowrap;" class="{% if url_name == 'publications' %}active{% endif %}"><a href="{% url 'website:publications' %}">&nbsp;> &nbsp; Publications</a></li>
                            <li style="white-space:nowrap;" class="{% if url_name == 'talks' %}active{% endif %}"><a href="{% url 'website:talks' %}">&nbsp;> &nbsp; Talks</a></li>
                            <li style="white-space:nowrap;" class="{% if url_name == 'videos' %}active{% endif %}"><a href="{% url 'website:videos' %}">&nbsp;> &nbsp; Videos</a></li>
                        {% endwith %}
                    </ul>
                    <div class="makelab-footer-connect-links-mobile">

                        <!-- TODO: Vertically center text with icon. Currently text does not appear perfectly vertically centered with icon -->
                        <!--<h1>Connect</h1>-->

                            <ul>
                                <li>
                                    <a href="https://twitter.com/makeabilitylab">
                                        <!--<img src="{% static 'website/img/logos/twitter_logo_white.png' %}" class="makelab-footer-connect-logo"/>-->
                                        <i class="fa fa-2x fa-twitter w3-hover-opacity"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:jonf@cs.uw.edu">
                                        <!--<img src="{% static 'website/img/logos/email_logo_white.png' %}" class="makelab-footer-connect-logo"/> Email-->
                                        <i class="fa fa-2x fa-envelope w3-hover-opacity"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/jonfroehlich/makeabilitylabwebsite">
                                        <!--<img src="{% static 'website/img/logos/github_logo_white.png' %}" class="makelab-footer-connect-logo"/> Github -->

                                        <i class="fa fa-2x fa-github-square w3-hover-black"></i>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>

            <!-- TODO: Consider adding a sponsorship row? -->
            <!-- TODO: The centering looks weird on this. Also responsive design wraps columns, which I don't like. Ideally, I think, on small devices, should just switch to single row;
                 TODO: Fix UMD CS logo so that the text is bigger -->
            <div class="makelab-footer-affiliations">
                <div class="row makelab-footer-affiliations-row">
                <div class="makelab-footer-affiliation-col">
                    <a href="http://dub.uw.edu">
                        <img src="{% static 'website/img/logos/uw_dub_bottom_white_185x100.png' %}"
                             class="img-responsive makelab-footer-affiliation-logo"/>
                    </a>
                </div>
                <div class="makelab-footer-affiliation-col" id="uw-cse-footer-icon">
                    <a href="https://www.cs.washington.edu/">
                        <img src="{% static 'website/img/logos/uw_allen_school_logo_white_941x100.png' %}"
                             class="img-responsive makelab-footer-affiliation-logo" style="margin-top: 2px;">
                    </a>
                </div>
                <div class="makelab-footer-affiliation-col" id="uw-footer-icon">
                    <a href="https://www.washington.edu/">
{#                        <img src="{% static 'website/img/logos/UW_white_vertical_203x100.png' %}"#}
{#                             class="img-responsive makelab-footer-affiliation-logo"/>#}
                        <img src="{% static 'website/img/logos/uw_white_horizontal_1196x94.png' %}"
                             class="img-responsive makelab-footer-affiliation-logo"/>
                    </a>
                </div>
                <div class="makelab-footer-affiliation-col" id="umd-cse-footer-icon">
                    <a href="https://www.cs.umd.edu">
                        <img src="{% static 'website/img/logos/umd_cs_logo_white_850x100.png' %}"
                             class="img-responsive makelab-footer-affiliation-logo" />
                    </a>
                </div>
                <div class="makelab-footer-affiliation-col" id="umd-footer-icon">
                    <a href="https://www.umd.edu/">
                        <img src="{% static 'website/img/logos/umd_logo_white_586x100.png' %}"
                             class="img-responsive makelab-footer-affiliation-logo"/>
                    </a>
                </div>
            </div>
            </div>
        </div>
    {% endblock %}
</div>

{# TODO: Change the back-to-top button to something far more subtle. Maybe only show on mobile? #}
{#<p id="back-top" style="display: none">#}
{#    <a href="#top"><span></span>Back to Top</a>#}
{#</p>#}


</body>
</html>
