{% comment %}
================================================================================
BASE TEMPLATE - Makeability Lab
================================================================================

This is the foundational template that all pages extend. It provides:
- Document structure and meta tags
- CSS and JavaScript loading
- Navigation header
- Footer with affiliations
- Block hooks for child templates

ACCESSIBILITY FEATURES:
- Skip link for keyboard navigation
- Semantic HTML5 elements (header, nav, main, footer)
- ARIA labels on icon-only links
- Alt text on all images
- Visible focus indicators (via design-tokens.css)
- Proper heading hierarchy
- Carousel uses role="region" with aria-roledescription (WCAG compliant)

TEMPLATE BLOCKS:
- pagetitle: Page title in <title> tag
- opengraph: Open Graph meta tags
- stylesheets: Additional CSS files
- external_scripts: Additional JS libraries
- scripts: Inline JavaScript
- navbar: Navigation header
- maincarousel: Hero carousel/banner
- content: Main page content
- footer: Page footer

@version 2.1.0 - Fixed carousel ARIA pattern for accessibility compliance
@author Makeability Lab
================================================================================
{% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load ml_tags %}
  {% load static %}
  {% load cropping %}

  <!-- Build info (helps with debugging) -->
  <!-- Makeability Lab website version {% get_settings_value "ML_WEBSITE_VERSION" %} -->
  <!-- DEBUG mode: {% get_settings_value "DEBUG" %} -->
  {% var_exists 'view_prep_time' as view_prep_time_exists %}
  {% if view_prep_time_exists %}
  <!-- Django view prep: {{ view_prep_time|floatformat:3 }}s -->
  {% endif %}
  <!-- Django render: DEBUG_INSERT_RENDER_TIMING -->

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta name="description" content="The Makeability Lab is an advanced research lab in Human-Computer Interaction and AI directed by Professor Jon E. Froehlich at University of Washington's Allen School of Computer Science.">
  <meta name="author" content="Jon E. Froehlich and Makeability Lab members">

  <!-- Open Graph meta tags for social sharing -->
  {% block opengraph %}
  <meta property="og:title" content="Makeability Lab">
  <meta property="og:type" content="website">
  <meta property="og:description" content="The Makeability Lab is an advanced research lab in Human-Computer Interaction directed by Professor Jon E. Froehlich at University of Washington's Allen School of Computer Science.">
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'website/img/logos/makelab_logo_v3_white_with_colors_and_text_og_image_ratio_1200w.png' %}">
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
  {% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'website/img/ml-favicon.png' %}">

  <!-- Web fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- 
    Stylesheets - Load order matters!
    1. design-tokens.css first (defines CSS custom properties)
    2. Bootstrap framework
    3. Site components (consume the tokens)
    4. Icon libraries
  -->
  <link rel="stylesheet" href="{% static 'website/css/design-tokens.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/carousel_fade.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/autocomplete.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/top-navbar.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/backtop.css' %}">
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  {% block stylesheets %}{% endblock %}

  <!-- JavaScript libraries (jQuery 1.9.1 required by Bootstrap 3.3.6) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
          crossorigin="anonymous"></script>
  <script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'website/js/top-navbar.js' %}"></script>

  {% block external_scripts %}{% endblock %}

  <title>{% block pagetitle %}{{ request.resolver_match.url_name }}{% endblock %} | Makeability Lab</title>

  <script>
    {% block scripts %}{% endblock %}

    $(document).ready(function() {
      $('.carousel').carousel();
    });
  </script>

  {% if debug %}
  <script>console.log("Development mode: Google Analytics disabled");</script>
  {% else %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-79723676-1', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Skip link for keyboard users (WCAG 2.4.1: Bypass Blocks) -->
  <a href="#content" class="skip-link">Skip to main content</a>

  <!-- ============================== Navigation ============================== -->
  {% block navbar %}
  <header role="banner">
    <nav class="navbar navbar-custom navbar-fixed-top
                {% var_exists 'navbar_white' as navbar_white_exists %}
                {% if navbar_white_exists and navbar_white %}light-navbar-theme{% endif %}" 
         role="navigation"
         aria-label="Main navigation">
      <div class="container-fluid navbar-container">
        <div class="row">
          <div class="col-xs-12">

            <div class="navbar-header">
              <button type="button" 
                      class="navbar-toggle" 
                      data-toggle="collapse"
                      data-target=".navbar-main-collapse"
                      aria-expanded="false"
                      aria-controls="navbar-main-collapse"
                      aria-label="Toggle navigation menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="sr-only">Menu</span>
              </button>

              <a class="navbar-brand page-scroll" href="{% url 'website:index' %}">
                <img src="{% static 'website/img/logos/makelab_logo_white_no_text_100x67.png' %}" 
                     alt=""
                     height="20"
                     aria-hidden="true">
                <span class="makeabilitylab-text">
                  <span class="makeabilitylab-make-text">Make</span>ability Lab
                </span>
              </a>
            </div>

            <div id="navbar-main-collapse" class="collapse navbar-collapse navbar-main-collapse">
              <ul class="nav navbar-nav pull-right">
                {% with request.resolver_match.url_name as url_name %}
                
                <li class="{% if url_name == 'index' %}active{% endif %}">
                  <a href="{% url 'website:index' %}">
                    <i class="fa-solid fa-house nav-icon" aria-hidden="true"></i>
                    <span>Home</span>
                  </a>
                </li>
                
                <li class="{% if url_name == 'news_listing' %}active{% endif %}">
                  <a href="{% url 'website:news_listing' %}">
                    <i class="fa-solid fa-newspaper nav-icon" aria-hidden="true"></i>
                    <span>News</span>
                  </a>
                </li>
                
                <li class="{% if url_name == 'people' %}active{% endif %}">
                  <a href="{% url 'website:people' %}">
                    <i class="fa-solid fa-users nav-icon" aria-hidden="true"></i>
                    <span>People</span>
                  </a>
                </li>
                
                <li class="{% if url_name == 'projects' %}active{% endif %}">
                  <a href="{% url 'website:projects' %}">
                    <i class="fa fa-flask nav-icon" aria-hidden="true"></i>
                    <span>Projects</span>
                  </a>
                </li>
                
                <li class="{% if url_name == 'publications' %}active{% endif %}">
                  <a href="{% url 'website:publications' %}">
                    <i class="fa-solid fa-file-lines nav-icon" aria-hidden="true"></i>
                    <span>Publications</span>
                  </a>
                </li>
                
                <li>
                  <a href="https://docs.google.com/document/d/1YiiDsfpiolpXjUTj8xWrQwQQUzqrfqT9bocOpaYDrtI" rel="noopener">
                    <i class="fa-solid fa-book-open nav-icon" aria-hidden="true"></i>
                    <span>Lab Handbook</span>
                  </a>
                </li>
                
                <li>
                  <a href="https://goo.gl/forms/59lAm3CUuupiMhUt1" rel="noopener">
                    <i class="fa-solid fa-paper-plane nav-icon" aria-hidden="true"></i>
                    <span>Apply</span>
                  </a>
                </li>
                
                {% endwith %}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}

  <!-- ============================= Hero Carousel ============================= -->
  {% comment %}
  CAROUSEL ACCESSIBILITY NOTES:
  - Uses role="region" with aria-roledescription="carousel" (WAI-ARIA best practice)
  - Avoids role="listbox/option" pattern which implies form input semantics
  - Each slide has aria-roledescription="slide" for screen reader context
  - Background images use role="img" with descriptive aria-label
  - Nested links are allowed within region (no nested-interactive violation)
  {% endcomment %}
  {% block maincarousel %}
  <div id="main-carousel" 
       class="carousel slide carousel-fade" 
       data-ride="carousel" 
       data-interval="10000"
       data-pause="true"
       role="region"
       aria-roledescription="carousel"
       aria-label="Featured projects and news">
    
    <div class="carousel-inner">
      {% for banner in banners %}
      <div class="item {% if forloop.first %}active{% endif %}"
           aria-roledescription="slide"
           aria-label="{% if banner.alt_text %}{{ banner.alt_text }}{% elif banner.caption %}{{ banner.caption }}{% else %}{{ banner.title }}{% endif %}">
        
        {% if banner.video %}
        <video class="fill banner-video" playsinline autoplay muted loop aria-hidden="true">
          <source src="{{ MEDIA_URL }}{{ banner.video }}" type="video/mp4">
        </video>
        {% elif banner.image %}
        <div class="fill" 
             style="background-image: url('{% cropped_thumbnail banner "cropping" scale=1.0 %}')"
             role="img"
             aria-label="{% if banner.alt_text %}{{ banner.alt_text }}{% elif banner.caption %}{{ banner.caption }}{% else %}{{ banner.title }} banner image{% endif %}">
        </div>
        {% endif %}

        {% if banner.link %}
        <a href="{{ banner.link }}">
        {% elif banner.project and not project %}
        <a href="{% url 'website:project' banner.project.short_name %}">
        {% endif %}
        
        <div class="overlay shadow-left" style="pointer-events: none;">
          <div class="container carousel-container">
            <div class="carousel-caption carousel-caption-left" style="pointer-events: auto;">
              {% if banner.title %}
              {% autoescape off %}
              <div class="carousel-caption-title">{{ banner.title }}</div>
              {% if banner.caption %}
              <div class="carousel-caption-text">{{ banner.caption }}</div>
              {% endif %}
              {% endautoescape %}
              {% elif banner.project.name %}
              <div class="carousel-caption-title">{{ banner.project.name }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        
        {% if banner.link %}</a>{% elif banner.project and not project %}</a>{% endif %}
      </div>
      {% endfor %}
    </div>

    <ol class="carousel-indicators" 
        {% if banners|length < 2 %}style="display: none"{% endif %}
        aria-label="Carousel navigation">
      {% for banner in banners %}
      <li data-target="#main-carousel" 
          data-slide-to="{{ forloop.counter0 }}" 
          {% if forloop.first %}class="active"{% endif %}
          aria-label="Slide {{ forloop.counter }}">
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endblock %}

  <!-- ============================== Main Content ============================== -->
  <main id="content" role="main">
    {% block content %}
    <p>Override this block with page content.</p>
    {% endblock %}
  </main>

  <!-- ================================= Footer ================================= -->
  {% block footer %}
  <footer class="makelab-footer" role="contentinfo">
    <div class="row makelab-footer-row">

      <!-- Logo -->
      <div class="col-xs-2 makelab-footer-col">
        <a href="{% url 'website:index' %}" aria-label="Makeability Lab home">
          <img src="{% static 'website/img/logos/MakeabilityLab-Logo-v3-w-Text-BlackAndWhite-White_978x789.png' %}"
               alt="Makeability Lab"
               class="img-responsive makelab-footer-logo">
        </a>
      </div>

      <!-- About + Social Links -->
      <div class="col-xs-2 makelab-footer-col">
        <p style="margin-top: 0; font-size: smaller;">
          We design, build, and evaluate new interactive tools and techniques to address pressing societal
          challenges. <strong>Make</strong>ability refers both to how our technological innovations make new abilities
          possible for humans as well as our educational mission to help students gain new abilities as they learn 
          and grow through research, invention, and human-centered design.
        </p>

        <nav class="makelab-footer-connect-links" aria-label="Social media">
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/makeabilitylab" aria-label="Makeability Lab on LinkedIn">
                <i class="fab fa-2x fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/makeabilitylab.bsky.social" aria-label="Makeability Lab on Bluesky">
                <i class="fab fa-2x fa-bluesky" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/makeabilitylab" aria-label="Makeability Lab on Twitter">
                <i class="fab fa-2x fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="mailto:jonf@cs.uw.edu" aria-label="Email the Makeability Lab">
                <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/makeabilitylab" aria-label="Makeability Lab on GitHub">
                <i class="fab fa-2x fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Recent News -->
      <div class="col-xs-2 makelab-footer-col makelab-footer-recent-news">
        <h2 class="makelab-footer-heading">Recent News</h2>
        {% for news_item in recent_news %}
        <div class="row">
          <a href="{% url 'website:news_item_by_slug' slug=news_item.slug %}">
            <div class="col-xs-3" style="white-space: nowrap; min-width: 115px;">
              <p>{{ news_item.date|date:"N d, Y" }}</p>
            </div>
            <div style="max-width: 300px; width: 100%;">
              <p class="line-clamp">{{ news_item.title }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <!-- Site Links -->
      <nav class="col-xs-2 makelab-footer-col makelab-footer-links" aria-label="Site links">
        <h2 class="makelab-footer-heading">Links</h2>
        <ul>
          {% with request.resolver_match.url_name as url_name %}
          <li class="{% if url_name == 'index' %}active{% endif %}">
            <a href="{% url 'website:index' %}">&nbsp;>&nbsp; Home</a>
          </li>
          <li class="{% if url_name == 'people' %}active{% endif %}">
            <a href="{% url 'website:people' %}">&nbsp;>&nbsp; People</a>
          </li>
          <li class="{% if url_name == 'news_listing' %}active{% endif %}">
            <a href="{% url 'website:news_listing' %}">&nbsp;>&nbsp; News</a>
          </li>
          <li class="{% if url_name == 'projects' %}active{% endif %}">
            <a href="{% url 'website:projects' %}">&nbsp;>&nbsp; Projects</a>
          </li>
          <li class="{% if url_name == 'publications' %}active{% endif %}">
            <a href="{% url 'website:publications' %}">&nbsp;>&nbsp; Publications</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1YiiDsfpiolpXjUTj8xWrQwQQUzqrfqT9bocOpaYDrtI" rel="noopener">&nbsp;>&nbsp; Lab Handbook</a>
          </li>
          {% endwith %}
        </ul>

        <!-- Mobile social links (shown via CSS on small screens) -->
        <nav class="makelab-footer-connect-links-mobile" aria-label="Social media">
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/makeabilitylab" aria-label="Makeability Lab on LinkedIn">
                <i class="fab fa-2x fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/makeabilitylab.bsky.social" aria-label="Makeability Lab on Bluesky">
                <i class="fab fa-2x fa-bluesky" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/makeabilitylab" aria-label="Makeability Lab on Twitter">
                <i class="fab fa-2x fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="mailto:jonf@cs.uw.edu" aria-label="Email the Makeability Lab">
                <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/jonfroehlich/makeabilitylabwebsite" aria-label="Makeability Lab website source on GitHub">
                <i class="fab fa-2x fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </nav>

    </div>

    <!-- Affiliation logos -->
    <div class="makelab-footer-affiliations">
      <div class="row makelab-footer-affiliations-row">
        
        <div class="makelab-footer-affiliation-col" id="uw-dub-footer-icon">
          <a href="https://dub.uw.edu/">
            <img src="{% static 'website/img/logos/uw_dub_bottom_white_185x100.png' %}"
                 alt="UW DUB: Design, Use, Build research community"
                 class="img-responsive makelab-footer-affiliation-logo">
          </a>
        </div>
        
        <div class="makelab-footer-affiliation-col" id="uw-create-footer-icon">
          <a href="https://create.uw.edu/">
            <img src="{% static 'website/img/logos/create_logo_white_cropped.png' %}"
                 alt="UW CREATE: Center for Research and Education on Accessible Technology and Experiences"
                 class="img-responsive makelab-footer-affiliation-logo">
          </a>
        </div>
        
        <div class="makelab-footer-affiliation-col" id="uw-cse-footer-icon">
          <a href="https://www.cs.washington.edu/">
            <img src="{% static 'website/img/logos/uw_allen_school_logo_white_941x100.png' %}"
                 alt="Paul G. Allen School of Computer Science & Engineering"
                 class="img-responsive makelab-footer-affiliation-logo"
                 style="margin-top: 2px;">
          </a>
        </div>
        
        <div class="makelab-footer-affiliation-col" id="uw-footer-icon">
          <a href="https://www.washington.edu/">
            <img src="{% static 'website/img/logos/uw_white_horizontal_1196x94.png' %}"
                 alt="University of Washington"
                 class="img-responsive makelab-footer-affiliation-logo">
          </a>
        </div>

      </div>
    </div>
  </footer>
  {% endblock %}

</body>
</html>