<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/base.css' %}"/>

    <title>
        {% block pagetitle %}
            {{ request.resolver_match.url_name }}
        {% endblock %}
    </title>

    <script type="text/javascript">
		$(document).ready(function () {
			$('.carousel').carousel();
		});
	</script>
</head>
<body>
<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <!-- sr-only is for screenreaders -->
                    <span class="sr-only">Toggle navigation</span>
                    <!-- These three span class="icon-bar" lines create a button with three horizontal lines when
                         the screen width is small (part of the responsive design) -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">makeability lab</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- To automatically highlight active links, I followed this code:
                         http://stackoverflow.com/a/29495310 -->
                    {% with request.resolver_match.url_name as url_name %}
                        <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'website:index' %}">Home</a></li>
                        <li class="{% if url_name == 'people' %}active{% endif %}"><a href="{% url 'website:people' %}">People</a></li>
                        <li class="{% if url_name == 'publications' %}active{% endif %}"><a href="{% url 'website:publications' %}">Publications</a></li>
                        <li class="{% if url_name == 'talks' %}active{% endif %}"><a href="{% url 'website:talks' %}">Talks</a></li>
                        <li><a href="http://www.cs.umd.edu/hcil/">HCIL</a></li>
                    {% endwith %}

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    {% with request.resolver_match.url_name as url_name %}
{#        {{ url_name }}#}
        {% if url_name == 'index' %}index is active{% endif %}
        {% if url_name == 'asdf' %}active{% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% block footer %}
        <hr>
        <p>Thanks for visiting {{  request.resolver_match.url_name }}.</p>
    {% endblock %}
</div>
</body>
</html>