{% extends "website/base.html" %}

{% block pagetitle %}FAQ{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/faq.css' %}">
{% endblock %}

{% block external_scripts %}
    <script src="{% static '/website/js/faq.js' %}"></script>
{% endblock %}

{% block maincarousel %}
    {% include "snippets/display_short_carousel_snippet.html" %}
{% endblock %}

{% block content %}
    <div class="container faq">
        <div class="row">
            <div class="col-md-3">
                <div id="faq-panel" class="panel panel-default">
                    <div class="panel-heading">
                        FAQ
                    </div>
                    <div class="panel-body">
                        <ul id="questions-list">
                            <div class="panel-grouping">
                                <li class="topic">
                                    <a>View All Questions</a>
                                </li>
                                <div id="phd-subtopics" class="subtopics">
                                </div>
                            </div>
                            <div class="panel-grouping">
                                <li class="topic">
                                    <a>PhD Research</a>
                                    <span class="plusminus">+</span>
                                </li>
                                <div id="phd-subtopics" class="subtopics">
                                    <li>
                                        <a href="#as-an-hci-phd-student,-what-areas-should-i-focus-on-learning?">
                                            As an HCI PhD student, what areas should I focus on learning?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#i'm-considering-applying-to-uw-for-a-phd-in-hci,-should-i-apply-to-cse,-hcde,-or-the-ischool?">
                                            I'm considering applying to UW for a PhD in HCI, should I apply to CSE,
                                            HCDE, or the iSchool?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#should-i-get-an-ms-before-applying-to-phd-programs?">
                                            Should I get an MS before applying to PhD programs?
                                        </a>
                                    </li>
                                </div>
                            </div>
                            <div class="panel-grouping">
                                <li class="topic">
                                    <a>Undergraduate Research</a>
                                    <span class="plusminus">+</span>
                                </li>
                                <div id="undergrad-subtopics" class="subtopics">
                                    <li>
                                        <a href="#i'm-an-undergrad-at-uw,-how-do-i-apply-to-the-makeability-lab?">
                                            I'm an undergrad at UW, how do I apply to the Makeability Lab?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#what-are-some-characteristics-of-a-successful-undergrad-researcher?">
                                            What are some characteristics of a successful undergrad researcher?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#what-do-undergrad-researchers-do-in-the-makeability-lab?">
                                            What do undergrad researchers do in the Makeability Lab?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#i-would-like-to-earn-course-credit-for-research,-what-do-i-need-to-do?">
                                            I would like to earn course credit for research, what do I need to do?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#i'm-an-undergraduate-student-at-a-university-outside-the-us,-can-i-intern-in-the-makeability-lab-this-summer?">
                                            I'm an undergraduate student at a university outside the US, can I intern in
                                            the Makeability Lab this summer?
                                        </a>
                                    </li>
                                </div>
                            </div>
                            <div class="panel-grouping">
                                <li class="topic">
                                    <a>Misc</a>
                                    <span class="plusminus">+</span>
                                </li>
                                <div id="misc-subtopics" class="subtopics">
                                    <li>
                                        <a href="#would-you-write-me-a-letter-of-rec?">
                                            Would you write me a letter of recommendation?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#i-sent-professor-froehlich-an-email-and-he-did-not-respond,-what's-the-deal?!">
                                            I sent Professor Froehlich an email and he did not respond, what's the
                                            deal?!
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Some advice pages...
                    Klemmer: https://d.ucsd.edu/srk/faq/
                    Hong: http://www.cs.cmu.edu/~jasonh/advice.html
                    Ernst: http://homes.cs.washington.edu/~mernst/advice/
                    Philip Guo: http://www.pgbovine.net/writings.htm
                    How hci papers are structured: http://cacm.acm.org/blogs/blog-cacm/163199-two-examples-of-hci-research/fulltext
                    Tessla Lau: http://tlau.org/advice/
                    Adam Marcus: http://marcua.net/writing/gradschool-guide/#creating-things
                    -->
            <!-- possible sections to add in the future:
                  - applying to graduate school
                  - how to write a good research paper
                  - how to give a good talk
                  - making a good poster
                  - how to get an NSF fellowship (or other grad fellowship)
                  - Doing Research With Me (including how to become a funded student)
                  - Advice for advisors seems cool: http://www.cs.indiana.edu/how.2b/how.2b.advice.html
                  - Nice career advice from Quora: http://www.quora.com/Career-Advice/What-are-a-few-unique-pieces-of-career-advice-that-nobody-ever-mentions#ans1903037-->
            <div class="col-md-9 main-content">
                <div class="topic-items topic-items-active" id="phd-research">
                    <h1>PhD Research</h1>

                    <div class="faq-item" id="as-an-hci-phd-student,-what-areas-should-i-focus-on-learning?">
                        <h2 class="question">
                            As an HCI PhD student, what areas should I focus on learning?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    This is an ever-evolving complex question. The answer will depend largely on who
                                    you ask and when you ask. The question is complex both because of the
                                    interdisciplinary
                                    nature of HCI as well as the different threads of research within it (<i>e.g.,</i>
                                    from more usability-leaning research to more design-oriented research). Skills/areas
                                    that I consider core to HCI can be broken down into seven interconnected areas (in
                                    no particular order):
                                </p>
                                <ol>
                                    <li>Theory (<i>e.g.,</i> psychology, cognitive science, sociology, anthropometrics)
                                    </li>
                                    <li>Design (<i>e.g.,</i> visual design, interaction design, software design,
                                        industrial
                                        design)
                                    </li>
                                    <li>Critical thinking (<i>e.g.,</i> comfort/experience with brainstorming/ideating,
                                        providing/receiving critique)
                                    </li>
                                    <li>Implementation abilities (<i>e.g.,</i> programming skills, rapid prototyping,
                                        working
                                        with materials, physical computing)
                                    </li>
                                    <li>Evaluation (<i>e.g.,</i> study/experimental design, qualitative
                                        methods/analysis,
                                        quantitative methods/analysis, statistics)
                                    </li>
                                    <li>Communication (as HCI is fundamentally about communication, students should be
                                        strong
                                        oral and written communicators)
                                    </li>
                                    <li>Technical skills (HCI--at least the HCI that I do--is increasingly technical
                                        relying on machine learning, data analysis, computer vision, embedded
                                        systems,
                                        etc.)
                                    </li>
                                </ol>
                                <p>
                                    Note: the list above is not comprehensive.
                                </p>
                                <p>

                                    If you are a CS graduate student, I would try to take as many machine learning,
                                    statistics, and computer vision courses as possible. Whether CSE, HCDE, or iSchool,
                                    I would
                                    try to take at least an "Intro to HCI" course (if you have not as an undergrad),
                                    a graphic design or interaction design (IxD) course, and a research methods course
                                    (the more, the better). I'll close my answer by emphasizing that I truly believe
                                    that the best way to learn is by doing. So, get out there and try!

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="faq-item"
                         id="i'm-considering-applying-to-uw-for-a-phd-in-hci,-should-i-apply-to-cse,-hcde,-or-the-ischool?">
                        <h2 class="question">
                            I'm considering applying to UW for a PhD in HCI, should I apply to CSE, HCDE, or the
                            iSchool?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    This is a good question. The answer, really, is that it depends on your
                                    skills/background, your research interests and goals, and who you want to work with.
                                    <!--TODO: expand on this answer-->
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="faq-item" id="should-i-get-an-ms-before-applying-to-phd-programs?">
                        <h2 class="question">
                            Should I get an MS before applying to PhD programs?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    This is completely up to you but it is not necessary and somewhat atypical.
                                </p>
                                <p> You may want to apply to MS programs
                                    first to get a taste of research and to help decide if you want to pursue a
                                    research-oriented career and get a PhD. This is what I did. I enrolled at the
                                    University
                                    of California, Irvine as an MS student and worked with <a
                                            href="https://www.dourish.com/">Professor Paul Dourish</a> before
                                    applying to PhD programs and eventually attending the University of Washington.
                                    Note:
                                    most MS programs are professionally oriented rather than research oriented. So, be
                                    sure
                                    to investigate each program closely. No matter what university you attend, if you
                                    have
                                    ambitions to earn your doctorate, the most important thing is the kind of research
                                    you
                                    do during your MS, your research productivity during that time, and who you work
                                    with
                                    (e.g., your MS advisor).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-items topic-items-active" id="undergraduate-research">
                    <h1>Undergraduate Research</h1>
                    <div class="faq-item" id="i'm-an-undergrad-at-uw,-how-do-i-apply-to-the-makeability-lab?">
                        <h2 class="question">
                            I'm an undergrad at UW, how do I apply to the Makeability Lab?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>The students who perform best in our group tend to be 'Makers' and self-starters
                                    unafraid
                                    of learning new technology and using it to build new, novel interactive experiences.
                                    Our
                                    research is heavily design/engineering but is also interdisciplinary. In particular,
                                    we encourage
                                    students in computer science, computer engineering, and electrical engineering to
                                    apply
                                    as well as those with art, design, and social science backgrounds.
                                </p>
                                <p>We have a <strong>three-stage application process</strong>, which we have carefully
                                    refined over the
                                    years:</p>
                                <ol>
                                    <li>
                                        First, fill out <strong><a href="https://goo.gl/forms/59lAm3CUuupiMhUt1">this
                                        application form</a></strong>.
                                    </li>
                                    <li>
                                        Second, for qualified candidates, we will request a <strong>letter of
                                        recommendation</strong>.
                                        This letter can be brief--one or two paragraphs is fine--but
                                        should speak to your creativity, responsibility and maturity, drive, and
                                        technical skills. The letter should also identify key improvement areas.
                                    </li>
                                    <li>
                                        Finally, we will schedule a <strong>~20-30 min interview</strong> to help assess
                                        your communication, problem solving,
                                        and technical skills/experiences.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item" id="what-are-some-characteristics-of-a-successful-undergrad-researcher?">
                        <h2 class="question">
                            What are some characteristics of a successful undergrad researcher?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>If you're an undergrad reading this website, you might be thinking to yourself: "Do I
                                    have what
                                    it takes?"
                                </p>
                                <p>
                                    <!--TODO: switch this to second person -->
                                    Characteristics of highly successful ugrad researchers include: tenacity and
                                    persistence,
                                    the ability to work through ambiguity and solve problems independently,
                                    a sense of creativity and wonder, a willingness to take risks, a strong and
                                    dependable work ethic, good
                                    communication skills (both oral and written), and a passion for endless learning and
                                    working
                                    on a team to solve difficult, never-before-solved problems.
                                </p>
                                <p>You also have to have time. Time to work, time to think, time to make mistakes and
                                    recover, and time to prototype, code, test, and iterate over and over again.
                                    I have seen many undergraduate students fail at research simply because they vastly
                                    underestimated the amount of time and effort required to be successful. Research is
                                    hard.
                                    You will not succeed without a few long nights in the lab hacking on your
                                    software/hardware
                                    project trying to make a deadline.
                                </p>
                                <p>If this intrigues you. If you want to be part of something bigger
                                    than yourself. If you want to be involved in solving high-impact research problems
                                    using HCI
                                    and computer science, then please  <a href="#i'm-an-undergrad-at-uw,-how-do-i-apply-to-the-makeability-lab?">apply here</a>.

                                <p>
                                    Oh, and if you're not in computer science. That's totally fine! While *most* of our
                                    ugrad
                                    research positions require technical expertise, we often work on massive,
                                    multi-disciplinary
                                    problems that benefit from additional skillsets
                                    (particularly in art and design but in other areas as well). We have successfully
                                    worked
                                    with undergraduate students in mechanical engineering, psychology, chemical
                                    engineering,
                                    design, math, physics, and others.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item" id="what-do-undergrad-researchers-do-in-the-makeability-lab?">
                        <h2 class="question">
                            What do undergrad researchers do in the Makeability Lab?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Great question. The short answer: it depends. It depends on your interests and
                                    skills, on the projects we're working on, on the other undergraduates in the lab,
                                    and on the availability of graduate student mentors. Generally, all of my undergrads
                                    work on teams comprised of other students and faculty (in a range of
                                    disciplines), and are also mentored by one or two graduate students.
                                </p>
                                In any case, I truly believe—and have observed firsthand—that undergraduate students
                                can significantly and positively impact a research project.
                                <!--TODO: add in some specific examples of how ugrads have contributed and what they've done-->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item" id="i-would-like-to-earn-course-credit-for-research,-what-do-i-need-to-do?">
                        <h2 class="question">
                            I would like to earn course credit for research, what do I need to do?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>CSE 498A, CSE 498B, and CSE 499 can be used to earn academic credit towards your
                                    degree requirement for doing research.
                                    Please consult the official CSE webpage for more details.
                                    (<a href="https://www.cs.washington.edu/academics/ugrad/enrichment/research">link</a>).
                                    Taking these courses is a great way
                                    to free up your schedule for research (by reducing your lecture-based courseload)
                                    while also earning credit.
                                </p>
                                <p>While the number of credits taken for CSE 498/499 varies, the average is 3-4
                                    quarterly credits.
                                    Expect the workload to be approximately 3-4 hours per week per credit.</p>
                                <p>
                                    If you sign up for research credit, you will need to prepare a report and a final
                                    talk at the end of the quarter (given to the Makeability Lab) summarizing your key
                                    accomplishments and research findings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item"
                         id="i'm-an-undergraduate-student-at-a-university-outside-the-us,-can-i-intern-in-the-makeability-lab-this-summer?">

                        <h2 class="question">I'm an undergraduate student at a university outside the US, can I intern
                            in the Makeability Lab this summer?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    I receive 50+ emails a year inquiring about summer research
                                    internships in my group from undergraduate students outside the US. The emails are
                                    often
                                    formatted
                                    very similarly and mass emailed to CS professors across the country (with little
                                    customization),
                                    such as:
                                </p>
                                <blockquote>
                                    <p>
                                        Dear Professor Froehlich,
                                    </p>
                                    <p>
                                        I am writing to you after having read through your research. I am particularly
                                        fascinated by
                                        &lt;project X&gt; and
                                        &lt;project Y&gt; and share your interest in developing interactive technology
                                        that is
                                        valuable to society on the whole.
                                    </p>
                                    <p>
                                        I am an undergraduate student pursuing a degree in &lt;some tech field&gt; at
                                        &lt;some
                                        university&gt;, the top
                                        &lt;department/university/institution&gt; in my country. I would like to apply
                                        to work as a
                                        summer intern at your lab for the summer of 2015
                                        (June and July), if possible.
                                    </p>
                                    <p>
                                        &lt;more paragraphs about candidate's background and an attached resume&gt;
                                    </p>
                                </blockquote>
                                <p>While I am grateful to be in a position to receive such interest, it is simply not
                                    tenable to
                                    thoroughly
                                    vet each of these applications. Moreover, many of these students want to come to the
                                    US for only
                                    a short period
                                    (2 - 3 months). It would be challenging for even a 2nd or 3rd year graduate student
                                    with research experience to accomplish
                                    publishable research in that time (especially starting from zero) much less an
                                    undergraduate
                                    student with little research experience
                                    (not to mention the transactional costs of acclimating to a new lab, working with
                                    new people,
                                    adapting to a new culture). So, in
                                    short, I either do not respond to these requests directly (my apologies, I simply
                                    receive too
                                    many emails) or respond with a polite "No."
                                </p>
                                <p>
                                    I realize this means that I am likely missing out on working with and learning from
                                    some truly
                                    talented and exceptional students but
                                    the time and effort required to take such a risk outweighs the benefits for me (at
                                    least at this
                                    stage in my career).
                                </p>
                                <p>
                                    There has been only one exception to the above and that was for an extraordinary
                                    student whom I
                                    had previously met at a conference,
                                    had already first-authored a research paper published at a top venue, had incredible
                                    letters of
                                    recommendation, and was attending
                                    and excelling at one of his country's top universities.
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="topic-items topic-items-active" id="misc">
                    <h1>Misc</h1>
                    <div class="faq-item" id="would-you-write-me-a-letter-of-rec?">
                        <h2 class="question">
                            Would you write me a letter of recommendation?
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                Writing letters of recommendation is one of the most important aspects of my job
                                as a professor, and I gain a lot of satisfaction from helping students seek out
                                and reach new opportunities in their careers. With that said, writing a quality,
                                thoughtful recommendation letter takes time. When you ask for a recommendation letter,
                                it's important that you consider the effort that's required. You want to make the
                                process <em>as easy as possible</em> for me so that I can focus on the intellectual
                                effort of writing a good letter rather than the administrative effort of gathering
                                all the resources I need to write the letter, keeping track of where to send the
                                letters, and dealing with the idiosyncrasies of web-forms. So, to help us both,
                                when requesting a letter please...
                                <ol class="list">
                                    <li>Importantly, when you first ask if I would write you a letter, you should
                                        provide
                                        well-thought out rationale for why you're <em>asking me</em> and what you think
                                        I
                                        can speak about that may differentiate my letter from others. Note that I, of
                                        course,
                                        reserve the right to disagree with your rationale if I do not think that I would
                                        be a good choice for your rec letter. And that's fine--you need to find the best
                                        letter writers for you! It's your career and your life.
                                    </li>
                                    <li>Ask for the letter <strong>in advance</strong>--a month
                                        beforehand
                                        would be nice. While I certainly do not need a month to write the letter, this
                                        lead
                                        time allows me to work around travel, big deadlines, etc., so that I can block
                                        out
                                        a free, quiet time to write a thoughtful and substantive letter. Please check
                                        with
                                        me a week before the recommendation letter deadline to ensure everything is
                                        going
                                        smoothly.
                                    </li>
                                    <li>If I agree to write you a letter, please send <strong>one</strong> email that
                                        contains all
                                        the information required for the letter, including:
                                        <ul>
                                            <li><strong>Summarize your work</strong> in my research
                                                group and/or
                                                class(es). Include a particular example (or two or three) where you
                                                demonstrated
                                                creativity, determination, or excellent performance, or recognition. You
                                                need not
                                                write in lengthy prose--a bulleted list is fine.
                                            </li>
                                            <li>Include an abbreviated list of your <strong>major (recent)
                                                accomplishments
                                                in life</strong> with descriptions--including scholastically, in
                                                research, in service
                                                (<em>e.g.,</em> president of ACM-W on-campus group, started CS high
                                                school
                                                tutoring
                                                program), and in life (<em>e.g.,</em> won university ballroom dance
                                                competition, marathon
                                                race finisher).
                                            </li>
                                            <li>Attach your <strong>transcript</strong>, your <strong>
                                                CV/resume</strong>, and, if applicable, a draft of your <strong>personal
                                                statement</strong> (doesn't need to be final).
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Ask your TA(s) for courses and/or your PhD mentor (for research) to send me an
                                        email
                                        describing the work that you did. When you do, summarize your work for them and
                                        highlight your accomplishments to jog their memory.
                                    </li>
                                    <li>Lastly, if I write you a letter, I'd love for you to <strong>
                                        stay in touch</strong>: let me know where you ended up and give me status
                                        updates
                                        from time-to-time. I really enjoy hearing from former students. If you encounter
                                        things in your career that you think I should be teaching in my classes, let me
                                        know!
                                    </li>
                                </ol>
                                This entry is inspired by and derived from a similar post by <a
                                    href="https://d.ucsd.edu/srk/faq/#rec">
                                UCSD Professor Scott Klemmer</a>.<p>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item"
                         id="i-sent-professor-froehlich-an-email-and-he-did-not-respond,-what's-the-deal?!">
                        <h2 class="question">
                            I sent Professor Froehlich an email and he did not respond, what's the deal?!
                        </h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    My apologies! Thank you for your email—I look forward to talking with you! I
                                    really try to respond to nearly every email I receive (except for template emails
                                    from prospective students). However, sometimes my
                                    responses are delayed (by multiple days) or sometimes I simply miss your email.
                                </p>
                                <p>
                                    If you don't hear from me within two days, please don't hesitate to send me a
                                    follow-up email (or even two) that contains your original email plus a "ping" note
                                    or something similar (so that I realize this is an additional attempt to contact
                                    me).
                                    I know this is less than ideal (and, perhaps, even sounds a bit pretentious) but I
                                    have recently crossed the email inbox threshold where I am literally drowning in
                                    email. I've found that it's not possible for me to process all of
                                    these emails and get my other work done each day. Hence, I suggest simply pinging me
                                    again with a friendly follow-up if I don't respond to your original message. :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
