{% extends "website/base.html" %}

{% block pagetitle %}Makeability Lab{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="makelab-intro">
            <h1>We are the Makeability Lab, dedicated to building
                and studying interaction technology for a social purpose</h1>
        </div>

        <div id="research-area-icons" class="row research-area-icon-row">
            <!-- TODO Cleanup the icon files once they are accepted -->
            <!-- TODO add links for each icon to the appropriate publications/projects page -->
            <!-- TODO Icons have white backgrounds and are *not* centered. Needs to be fixed -->
            <div class="col-xs-4 col-md-2 col-xs-offset-2 col-md-offset-1 research-area-icon-col">
                <a href="{% url 'website:publications' %}?filter=sustainability">
                    <img class="research-area-icon" src="{% static 'website/img/icons/sustainabilitycircle.png' %}">
                </a>
                <span class="research-area-icon-label">Sustainability</span>
            </div>
            <div class="col-xs-4 col-md-2 research-area-icon-col">
                <a href="{% url 'website:publications' %}?filter=accessibility">
                    <img class="research-area-icon" src="{% static 'website/img/icons/accessibilitycircle.png' %}">
                </a>
                <span class="research-area-icon-label">Accessibility</span>
            </div>
            <div class="col-xs-4 col-md-2 research-area-icon-col">
                <a href="{% url 'website:publications' %}?filter=health">
                    <img class="research-area-icon" src="{% static 'website/img/icons/healthcircle.png' %}">
                </a>
                <span class="research-area-icon-label">Health</span>
            </div>
            <div class="col-xs-4 col-md-2 research-area-icon-col">
                <a href="{% url 'website:publications' %}?filter=learning">
                    <img class="research-area-icon" src="{% static 'website/img/icons/learningcircle.png' %}">
                </a>
                <span class="research-area-icon-label">Learning Tools</span>
            </div>
            <div class="col-xs-4 col-md-2 research-area-icon-col">
                <a href="{% url 'website:publications' %}?filter=making">
                    <img class="research-area-icon" src="{% static 'website/img/icons/makertoolscircle.png' %}">
                </a>
                <span class="research-area-icon-label">Maker Tools</span>
            </div>
        </div>
    </div>

    <hr/>

    <div id="makelab-recent-projects" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Projects</h1>

    </div>

    <div id="makelab-recent-news" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent News</h1>
        <div class="">
            <!-- TODO: update formatting of news items. Decide on 4 or 5 columns -->
            {% for news_item in news %}
                <div class="col-xs-12 col-md-3">
                    {% if news_item.image %}
                        <img src="{% thumbnail item.image 250x250 box=item.cropping crop detail %}" class="news_thumbnail_image" alt="{{ item.alt_text }}">
                    {% else %}
                        <img src="{% static 'website/img/news_icon.png' %}" class="news_thumbnail_image" alt="{{ item.alt_text }}">
                    {% endif %}
                    <a href="{% url 'website:news' news_item.id %}">{{ news_item.title }}</a>
                </div>

            {% endfor %}
        </div>
    </div>

    <!-- TODO: the ../../media directory should be a variable and not a constant -->
    <div id="makelab-recent-videos" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Videos</h1>
        <div class="">
            <!-- TODO: Consider adding age of video into display somehow -->
            {#  Slice limits to a number of elements in list; see https://stackoverflow.com/a/3907661 #}
            {% for video in videos|slice:"3" %}
                <div class="col-xs-12 col-md-4 video-column">
                    <div class="video">
                        <!-- TODO: fix this on mobile; has weird aspect ratio because of fixed height -->
                        <iframe class="youtube-player" src="{{video.get_embed}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class="video-title line-clamp">{{video.title}}</p>
{#                    <p class="video-location line-clamp-one-line">{{video.caption}} </p>#}
                    <p class="video-links">
                        <a href="{{video.video_url}}">YouTube</a>
                        {% if video.publication %}
                        | <a href="../../media/{{video.publication.pdf_file}}">Paper</a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>


{#    <div id="makelab-recent-papers" class="container-fluid makelab-content-container">#}
{#        <h1 class="section-header">Recent Papers</h1>#}
{#        <div class="">#}
{#            <!-- TODO: iterate through recent papers and display them-->#}
{#            #}
{#            {% for pub in publications|slice:"4" %}#}
{#                <div class="col-xs-12 col-md-3">#}
{#                    <a href="../../media/{{ pub.pdf_file }}">#}
{#                        <img src="{% thumbnail pub.thumbnail 300x0 detail %}" class="pub-thumbnail-image-float-left">#}
{#                    </a>#}
{#                    <span class="pub-text-float-left">#}
{#                        {{ pub.title }}#}
{#                    </span>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

    <div id="makelab-recent-papers" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Papers</h1>
        <div class="">
            {% for pub in publications|slice:"5" %}
                <div class="col-xs-12 col-md-5ths pub-column">
                    <!-- TODO: add in best paper icon, etc. -->
                    <div class="pub-thumbnail">
                        <a href="../../media/{{ pub.pdf_file }}" class="publication-thumbnail-link">
                            <img src="{% thumbnail pub.thumbnail 300x0 detail %}" class="pub-thumbnail-image img-responsive">
                        </a>
                    </div>
                    <div class="pub-text">
                        <span class="pub-title line-clamp">{{ pub.title }}</span>
                        <span class="pub-venue">
                            {{ pub.book_title_short }}
                            {% if pub.to_appear %}
                                <span class="pub-to-appear-text">To Appear</span>
                            {% endif %}
                        </span>
                    </div>


                </div>
            {% endfor %}
        </div>
    </div>

    <div id="makelab-recent-talks" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Talks</h1>
        <div class="">
            <!-- TODO: iterate through recent talks and display them-->
            {% for talk in talks|slice:"4" %}
                <div class="col-xs-12 col-md-3">
                    <div class="talk2-thumbnail">
                        <!-- TODO: I don't get this thumbnail stuff; need to talk to Lee about it -->
                        <a href="../../media/{{ talk.pdf_file }}">
                            <img src="{% thumbnail talk.thumbnail 420x0 detail %}" class="talk2-thumbnail-image img-responsive">
                        </a>
                    </div>
                    <div class="talk-text">
                        <!-- TODO: href the talk title as well -->
                        <span class="talk-title line-clamp">{{ talk.title }}</span>
                        <p class="talk-date">{{ talk.date }}
                            <span class="talk-location">{{ talk.location }}</span>
                        </p>
                        <p class="talk-speakers">
                            <!-- Remove space between speakers -->
                            {% for speaker in talk.speakers.all %}
                                {% if not forloop.first %},&nbsp;{% endif %}
                                <a href="{% url 'website:member' speaker.id %}">{{ speaker.get_full_name }}</a></span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
