{% extends "website/base.html" %}

{% block pagetitle %}Makeability Lab{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/index.css' %}?version=1">
    <link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}

<script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'website/js/citationPopover.js' %}"></script>

{% endblock %}

{% block scripts %}

    // TODO: move these scripts into a separate file
    $(document).ready(function() {

        // find the citation links and set up the popover content and behavior for each
        var citationLinks = $(".publication-citation-link");
        for(var i = 0; i < citationLinks.length; i++) {
            $(citationLinks[i]).citationPopover(publications[i]);
        }

        // update the publication awards
        var publicationItems = $(".pub-column");
        for(var i = 0; i < publicationItems.length; i++) {
            var pub = publications[i];
            var publicationData = publicationItems[i];
            if (pub.award) {
                var award_icon;
                if (pub.award == "Best Paper Award") {
                    award_icon = pub.best_paper;
                } else {
                    award_icon = pub.honorable_mention;
                }

                $(publicationData).find(".publication-award-icon").append("<img src=\"" + award_icon + "\" align=\"center\" class=\"award-icon\"/>");
                $(publicationData).find(".pub-thumbnail-link").append("<img src=\"" + pub.award_banner + "\" class=\"publication-award-banner\"/>");
                $(publicationData).find(".publication-award-text").html(pub.award);
            } else {
                $(publicationData).find(".publication-award").css("display", "none");
            }
        }
    });

    // get the publication data for filling the citations
    // TODO: is there a way to integrate this into the HTML/Django code below?
    var publications = [
        {% for pub in publications|slice:"6" %}
        {
            "id": "A.###",
            "title": "{{ pub.get_title }}",
            "authors": [
            {% for author in pub.authors.all %}
                {
                "name": "{{ author.get_full_name }}",
                "first_name": "{{ author.first_name }}",
                "middle_name": "{{ author.middle_name }}",
                "last_name": "{{ author.last_name }}",
                "link": "{% url 'website:member' author.url_name %}"
                },
            {% endfor %}
            ],
            "date": new Date("{{ pub.date }}"),
            "pdf": "../../media/{{ pub.pdf_file }}",
            "video_url": "{{ pub.video.video_url }}",
            "thumbnail": "{% thumbnail pub.thumbnail 300x0 detail %}",
            "venue": "{{ pub.book_title_short }}",
            "pub_type": "{{ pub.pub_venue_type }}",
            "geo_location": "{{ pub.geo_location }}",
            "series": "{{ pub.series }}",
            "page_num_start": "{{ pub.page_num_start }}",
            "page_num_end": "{{ pub.page_num_end }}",
            "book_title": "{{ pub.book_title }}",
            "url": "{{ pub.official_url }}",
            "doi": "{{ pub.doi }}",
            "publisher": "{{ pub.publisher }}",
            "publisher_address": "{{ pub.publisher_address }}",
            "isbn": "{{ pub.isbn }}",
            "best_paper": "{% static 'website/img/bestpaper.png' %}",
            "honorable_mention": "{% static 'website/img/honorablemention.png' %}",
            "award_banner": "{% static 'website/img/awardoverlay.png' %}",
            {% if pub.award %}"award": "{{ pub.award }}",{% endif %}
            {% if pub.total_papers_accepted and pub.total_papers_submitted %}
                "total_papers_accepted": {{ pub.total_papers_accepted }},
                "total_papers_submitted": {{ pub.total_papers_submitted }},
            {% endif %}
            {% if pub.page_num_start %} "start_page": {{ pub.page_num_start }},{% endif %}
            {% if pub.page_num_end %} "end_page": {{ pub.page_num_end }},{% endif %}
            {% if pub.num_pages %} "num_pages": {{ pub.num_pages }},{% endif %}
            "to_appear": {% if pub.to_appear %}true{% else %}false{% endif %},
            "keywords": [
                {% for keyword in pub.keywords.all %}
                    "{{ keyword.keyword }}",
                {% endfor %}
            ],
            "projects": [
                {% for project in pub.projects.all %}
                    "{{ project.short_name }}",
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

{% endblock %}

<!-- TODO: In general, I need to test on and support mobile devices. I just tested it and it looks weird. Also need to test on other browsers -->
<!-- TODO: The navbar and banner caption should have same left and right margins as the rest of the content on page I think. As now, navbar is narrower -->
{% block maincarousel %}
    {# Call the parent block #}
    {{ block.super }}

    <div class="container-fluid makelab-content-container" style="z-index: 15;right:0;left:0;position: absolute;top:0px">
         <!-- This is a news overlay on the banner -->
        <div class="container-fluid news-listing pull-right" style="z-index: 15; position: relative; top: 100px; background: rgba(0, 0, 0, 0.65); padding: 6px 10px 1px 10px; border-radius: 5px; margin-right: 15px;">
            <div style="width: 200px">
                {% for news_item in news|slice:"5" %}
                    <p class="line-clamp" style="margin-bottom:15px; color:white; font-family:Roboto;">
                        <a href="{% url 'website:news' news_item.id %}">
                            <span style="color:rgb(245,245,245);"><span style="font-family: roboto-bold; font-weight: 700;">{{ news_item.date }}.</span> {{ news_item.title }}</span>
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <!-- TODO: make it so that first banner is the Intro to Makeability Lab banner, which provides a nice introduction to who we are -->
    <!-- TODO: add in mouseover effect to projects, talks, other things?
         See:
              https://designshack.net/articles/css/joshuajohnson-2/
              https://www.awwwards.com/websites/portfolio/ & vanschneider.com for demos
              https://codepen.io/Remedy/pen/ZYJrpp
              https://stackoverflow.com/questions/15757036/creating-a-zoom-effect-on-an-image-on-hover-using-css
    -->

    <div id="makelab-recent-projects" class="container-fluid makelab-content-container">
        <h1 class="section-header" style="margin-top:25px">Recent Projects</h1>
        <div class="section">
            {% for project in projects|slice:"8" %}
                <!-- Extra conditional added to not display projects with zero publications -->
                {% if project.get_most_recent_publication %}
                    <div class="col-ts-12 col-xs-6 col-sm-4 col-lg-3" style="margin-bottom:20px">
                        <a href="{% url 'website:project' project.short_name %}">
                            <div style="background: white; width:100%; height: 180px; contain: content;">
                                <img style="width:100%; height: auto; position: relative;top: 50%; left: 50%;transform: translate(-50%,-50%);object-fit: cover" src="{% thumbnail project.gallery_image "300x180" crop="center" %}">
                            </div>
                        </a>
                        <a href="{% url 'website:project' project.short_name %}">
                            <p class="artifact-title">{{ project.name }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row justify-content-end">
                <!-- TODO fix the right alignment -->
                <div class="col-xs-12 see-all-artifacts">
                    <div class="col-xs-12" style="display:none"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 see-all-artifacts pull-right">
                        <a href="{% url 'website:projects' %}">See All Projects ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: make the news feed look good. Uncomment the following to start playing with this -->
{#    <div id="makelab-recent-news" class="container-fluid makelab-content-container">#}
{#        <h1 class="section-header">Recent News</h1>#}
{#        <div class="">#}
{#            <!-- TODO: update formatting of news items. Decide on 4 or 5 columns -->#}
{#            {% for news_item in news %}#}
{#                <div class="col-xs-12 col-md-3">#}
{#                    {% if news_item.image %}#}
{#                        <img src="{% thumbnail item.image 250x250 box=item.cropping crop detail %}" class="news_thumbnail_image" alt="{{ item.alt_text }}">#}
{#                    {% else %}#}
{#                        <img src="{% static 'website/img/news_icon.png' %}" class="news_thumbnail_image" alt="{{ item.alt_text }}">#}
{#                    {% endif %}#}
{#                    <a href="{% url 'website:news' news_item.id %}">{{ news_item.title }}</a>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

    <!-- TODO: the ../../media directory should be a variable and not a constant -->
    <div id="makelab-recent-videos" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Videos</h1>
        <div class="section">
            <!-- TODO: Consider adding age of video into display somehow -->
            {#  Slice limits to a number of elements in list; see https://stackoverflow.com/a/3907661 #}
            {% for video in videos|slice:"3" %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-column">
                    <div class="video">
                        <!-- TODO: fix this on mobile; has weird aspect ratio because of fixed height -->
                        <iframe class="youtube-player" src="{{video.get_embed}}" frameborder="0" allowfullscreen></iframe>

                        <p class="artifact-title line-clamp" style="margin-top: 0px;">{{video.title}}</p>
    {#                    <p class="video-location line-clamp-one-line">{{video.caption}} </p>#}
                        <p class="artifact-links">
                            <a href="{{video.video_url}}">YouTube</a>
                            {% if video.publication %}
                            | <a href="../../media/{{video.publication.pdf_file}}">Paper</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-12 see-all-artifacts">
                <a href="{% url 'website:videos' %}">See All Videos ></a>
            </div>
        </div>
    </div>


    <div id="makelab-recent-papers" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Papers</h1>
        <div class="section">
            {% for pub in publications|slice:"6" %}
                <div class="col-xs-12 col-md-4 pub-column" style="margin-bottom: 20px;">
                    <!-- TODO: add in best paper icon, etc. -->
                    <div class="pub-thumbnail" style="float: left; margin-right: 7px;">
                        <a href="../../media/{{ pub.pdf_file }}" class="pub-thumbnail-link">
                            <img src="{% thumbnail pub.thumbnail 300x0 detail %}" class="pub-thumbnail-image2 img-responsive" style="max-width: 100px;">
                        </a>
                    </div>

                    <a href="../../media/{{ pub.pdf_file }}">
                        <span class="artifact-title line-clamp" style="margin-top: 0px;">{{ pub.title }}</span>
                    </a>
                    <p class="artifact-venue line-clamp-one-line">
                        {{ pub.book_title_short }}
                        {% if pub.to_appear %}
                            <span class="pub-to-appear-text">To Appear</span>
                        {% endif %}
                        <span class="publication-award">| <span class="publication-award-text">{{ pub.award }}</span> <span class="publication-award-icon"><i class=\"fa fa-trophy\" aria-hidden="true"></i></span></span>
                    </p>
                    <p class="artifact-authors line-clamp3">
                        {% for author in pub.authors.all %}
                            <a href="{% url 'website:member' author.url_name %}">{{author.get_full_name}}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>

                    <!-- TODO: fix this so only shows up on mouse over of the pub-column div and that the border only shows on top of this info-->
                    <!-- TODO: fix so border-top only covers text area and not overlaps with pub -->
                    <!-- TODO: add to appear if paper is not out yet. -->
                    <!-- We only show the download bar if there is a paper to download. And, thankfully, this if condition checks that
                         pub.pdf_file exists, is not empty, and is not a false boolean value. See https://docs.djangoproject.com/en/1.9/ref/templates/builtins/#if-->
                    {% if pub.pdf_file %}
                        <p class="pub-download-links">
                            <a href="../../media/{{ pub.pdf_file }}">PDF</a>
                            {% if pub.official_url %}<a href="{{ pub.official_url }}">| Official Link</a> |{% endif %}
                            <span class="citation-link">| <a data-toggle="popover" data-html="true" data-trigger="manual" tabindex="0" title="Citation" data-content="Empty Citation" class="publication-citation-link">Citation</a></span>
                            {% if pub.talk.pdf_file %}<a href="../../media/{{ pub.talk.pdf_file }}">| Talk</a>{% endif %}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-xs-12 see-all-artifacts">
                <a href="{% url 'website:publications' %}">See All Papers ></a>
            </div>
        </div>
    </div>


    <div id="makelab-recent-talks" class="container-fluid makelab-content-container">
        <h1 class="section-header">Recent Talks</h1>
        <div class="section">

            <!-- TODO: add in date of talk somewhere--or better yet, age? e.g., 4d, 4months ago -->
            {% for talk in talks|slice:"8" %} <!-- Switch slice to '4' to just display 4 talks -->
                <div class="col-ts-12 col-xs-6 col-sm-4 col-lg-3" style="margin-bottom:20px">
                    <div style="width: 100%; height: 300px; contain: content;">
                        <div class="talk2-thumbnail">
                            <!-- TODO: I don't get this thumbnail stuff; need to talk to Lee about it -->
                            <a href="../../media/{{ talk.pdf_file }}">
                                <div style="background: white; width:100%; height: 180px; contain: content;">
                                    <img style="width:100%; height: auto; position: relative;top: 50%; left: 50%;transform: translate(-50%,-50%);object-fit: cover" src="{% thumbnail talk.thumbnail 420x0 detail %}" class="talk2-thumbnail-image img-responsive">
                                </div>
                            </a>
                        </div>
                        <div class="talk-text">
                            <!-- TODO: href the talk title as well -->
                            <span class="artifact-title line-clamp">{{ talk.title }}</span>
                            <p class="artifact-venue">{{ talk.forum_name }}</p>
                            <p class="artifact-authors">
                                <!-- TODO: figure out how to remove vertical space between speakers and subtitle -->
                                {% for speaker in talk.speakers.all %}
                                    <a href="{% url 'website:member' speaker.id %}">{{ speaker.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <!-- TODO: add in YouTube of talk? -->
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-12 see-all-artifacts">
                <a href="{% url 'website:talks' %}">See All Talks ></a>
            </div>
        </div>
    </div>

{% endblock %}
