{% extends 'website/base.html' %}

{% block pagetitle %}{{project.name}}{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'website/css/indproject.css' %}">
<link rel="stylesheet" href="{% static 'website/css/news.css' %}">
<link rel="stylesheet" href="{% static 'website/css/video.css' %}">
<link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
<link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
<link rel="stylesheet" href="{% static 'website/css/landing.css' %}">
{% endblock %}


{% block content %}
<div id="content" class="container content-container" data-spy="scroll">
    <div class="row" id="sidebar-level">
	<div class="col-md-2 col-md-push-10">
	    <div class="row">
		<h3 class="news-type-label">Quick Info</h3>
		<p class="quick-info">
		    <b>Project Date</b>
		    {{project.start_date}} - {% if project.end_date %}{{project.end_date}}{% else %}Present{% endif %}
		    <br/>
		    <b>PIs: </b>
		    {% with project.get_pi as pi %}
		    {% if pi %}
		    <a href="{% url 'website:member' pi.id %}">{{pi.get_full_name}}</a> (PI)<br/>
		    {% endif %}
		    {% endwith %}
		    {% with project.get_co_pi as copi %}
		    {% if copi %}
		    <a href="{% url 'website:member' copi.id %}">{{copi.get_full_name}}</a> (Co-PI)<br/>
		    {% endif %}
		    {% endwith %}
		    {% ifequal project.sponsors|length 0 %}
		    {% else %}
		    <br/>
		    <b>Sponsors: </b>
		    {% endifequal %}
		    {% for sponsor in project.sponsors.all %}
		    <a href="{{sponsor.url}}">
			<img src="{{sponsor.icon}}" class="sponsor-icon">
			<span class="sponsor-name">{{sponsor.name}}</span>
		    </a>
		    {% endfor %}
		    <br/>
		    <b>Keywords: </b>
		    {% for keyword in project.keywords.all %}
		    {% if forloop.last %}
		    {{keyword.keyword}}
		    {% else %}
		    {{keyword.keyword}},
		    {% endif %}
		    {% endfor %}
		</p>
	    </div>
	    <div class="row">
		<h3 class="news-type-label">Recent News</h3>
		<div class="well news-well">
		    {% for item in project.news_set.all %}
		    <!-- Create a row for each news item which has been passed in -->
		    <div class="row news_header">
			<!-- TODO link to the full news item -->
			<a href="">
			    <!-- Use the items image if it exists, otherwise use the default icon -->
			    {% if item.image %}
			    <img src="{{item.image.url}}" class="news_image" height="50" width="50" alt="{{item.alt_text}}">
			    {% else %}
			    <img src="{% static 'website/img/news_icon.png' %}" class="news_image" height="50" width="50">			
			    {% endif %}
			</a>
			<div class="news_info">
			    <!-- https://css-tricks.com/line-clampin/ This seems to be a good way to do multi line wrapping, also referenced in relevant news.css file -->
			    <div class="news_title line-clamp">
				<!-- TODO link to the full news item -->
				<a href="">
				    <p>{{item.title}}</p>
				</a>
			    </div>
			    <p class="news_date">{{item.short_date}} | <a href="{% url 'website:member' item.author.id %}">{{item.author}}</a></p><!--</p><p class="news_date">{{item.author}}</p>-->
			</div>
		    </div>
		    <div class="row news_body">
			<!-- Truncation now uses a set number of lines which can be modified in news.css content-clamp class by changing -webkit-line-clamp -->
			<div class="news_content content-clamp">
			    {% autoescape off %}
			    <p>{{item.content}}</p>
			    {% endautoescape %}
			</div>
		    </div>
		    {% endfor %}
		</div>
	    </div>
	</div>
	<div class="col-md-10 col-md-pull-2 project-intro-content">
	    <div class="row about-row">
		<h3 class="news-type-label">About</h3>
		<p class="project-about">
		    <div style="float: right">
			<div class="header-visual">
			    {% if project.project_header_set.all|length > 0 %}
			    {% with project.project_header_set.all|first as header %}
			    {% autoescape off %}
			    {{header.get_visual}}
			    {% endautoescape %}
			    <br/>
			    <span class="header-visual-title">{{header.title}}</span><br/>
			    {% if header.caption %}
			    <span class="header-visual-caption">{{header.caption}}</span>
			    {% endif %}
			    {% endwith %}
			    {% else %}
			    {% with project.video_set.all|first as first_video %}
			    <iframe class="video-about" src="{{first_video.get_embed}}" frameborder="0" allowfullscreen></iframe><br/>
			    <span class="header-visual-title">{{first_video.title}}</span><br/>
			    {% if first_video.caption %}
			    <span class="header-visual-caption">{{first_video.caption}}</span>
			    {% endif %}
			    {% endwith %}
			    {% endif %}
			    
			</div>
		    </div>
		    {% autoescape off %}
		    {{project.about}}
		    {% endautoescape %}
		</p>
	    </div>
	    <div class="row">
		{% ifequal project.publication_set|length 0 %}
		{% else %}
		<h3 class="news-type-label">Publications</h3>
		{% endifequal %}
		{% for pub in publications %}
		<div class="row publication-template">
		    <div class="publication-thumbnail">
			<a href="../../media/{{pub.pdf_file}}" class="publication-thumbnail-link">
			    <img src="{% thumbnail pub.thumbnail 300x0 detail %}" class="publication-thumbnail-image img-responsive">
			</a>
		    </div>
		    <div class="publication-info">
			<p class="publication-title">{{pub.title}}</p>
			<p class="publication-authors">
			    {% for author in pub.authors.all %}
			    <span class="publication-author"><a href="{% url 'website:member' author.id %}">{{author.get_full_name}}</a>&nbsp;</span>
			    {% endfor %}
			</p>
			<p class="publication-stats">
			    <span class="publication-venue">{{pub.book_title_short}}</span>
			    {% if pub.total_papers_accepted %}
			    <span class="publication-acceptance-rate">| <span class="publication-acceptance-rate-text">Acceptance Rate: {{pub.get_acceptance_rate}}% ({{pub.total_papers_accepted}} / {{pub.total_papers_submitted}})</span></span>
			    {% endif %}
    			</p>
        		<p class="publication-keywords hidden-xs">
	        	    keywords: 
	        	    <span class="publication-keyword"><span class="publication-keyword-text">
				{% for keyword in pub.keywords.all %}
				{% if forloop.last %}
				{{keyword.keyword}}
				{% else %}
				{{keyword.keyword}},
				{% endif %}
				{% endfor %}
			    </span>,&nbsp;</span>
	        	</p>
        		<div class="publication-download">Download: <a href="../../media/{{pub.pdf_file}}" class="publication-download-link">[pdf]</a> <span class="publication-video-link-label">| {% if pub.video %}Video: <a href="{{pub.video.video_url}}" class="publication-video-link">[youtube]</a></span> | {% endif %}Export <a data-toggle="popover" data-html="true" data-trigger="manual" tabindex="0" title="Citation" data-content="Empty Citation" class="publication-citation-link">[Citation]</a></div>
		    </div>
		</div>
		{% endfor %}
	    </div>
	</div>
    </div>
    <div class="row" id="below-sidebar"
	<div class="row">
	    {% ifequal project.video_set|length 0 %}
	    {% else %}
	    <h3 class="news-type-lable"><b>Recent Videos</b></h3>
	    {% endifequal %}
	    {% for video in videos %}
	    <div class="col-xs-12 col-md-6 video-column">
		<div class="video-container">
		    <iframe class="video" src="{{video.get_embed}}" frameborder="0" allowfullscreen></iframe>
		</div>
		<p class="video-title">{{video.title}}</p>
		{% if video.caption %}
		<p class="video-location">{{video.caption}} </p>
		{% endif %}
		<p class="video-links">
		    <a href="{{video.video_url}}">YouTube</a>
		    {% if video.publication %}
		    | <a href="../../media/{{video.publication.pdf_file}}">Paper</a>
		    {% endif %}
		</p>
	    </div>
	    {% endfor %}
	</div>
	<div class="row">
	    {% ifequal project.talk_set|length 0 %}
	    {% else %}
	    <h3 class="news-type-label"><b>Recent Talks</b></h3>
	    {% endifequal %}
	    <div class="col-xs-12 no-margin">
		<div class="row">
		<!-- Create a div for each talk passed in -->
		    {% for talk in talks %}
		    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 talk-template-landing landing-talk-fix">
			<div class="talk-info">
			    <div class="talk-thumbnail">
				<a href="../../media/{{talk.pdf_file}}" class="talk-thumbnail-link">
				    <img src="{% thumbnail talk.thumbnail 200x0 detail %}" class="talk-thumbnail-image img-responsive talk-image-fix"/>
				</a>
			    </div>
			    <p class="talk-title line-clamp">
				{{talk.title}}
			    </p>
			    <p class="talk-speakers">
				{% for speaker in talk.speakers.all %}
				{% if forloop.last %}
				<span class="talk-speaker"><a href="{% url 'website:member' speaker.id %}">{{speaker.get_full_name}}</a></span>
				{% else %}
				<span class="talk-speaker"><a href="{% url 'website:member' speaker.id %}">{{speaker.get_full_name}}</a>,&nbsp;</span>
				{% endif %}
				{% endfor %}
			    </p>
			    <p class="talk-stats">
				<span class="talk-date">{{talk.date}}</span>
				<span class="talk-location">{{talk.location}}</span>
			    </p>
			</div>
		    </div>
		    {% endfor %}
		</div>
	    </div>
	</div>
	<div class="row">
	    {% ifequal project.photo_set|length 0 %}
	    {% else %}
	    <h3 class="news-type-label">Photo Gallery</h3>
	    {% endifequal %}
	    {% for image in project.photo_set.all %}
	    <div class="col-md-4 project-gallery-col">
		<img src="{% thumbnail image.picture 368x245 box=image.cropping crop detail %}" alt="{{image.alt_text}}" class="project-gallery">
		<div class="overlay">
		    <p class="image-gallery-caption">{{image.caption}}</p>
		</div>
	    </div>
	    {% endfor %}
	</div>
	<div class="row">
	    {% ifequal active|length 0 %}
	    {% else %}
	    <h3 class="news-type-label">Active Members</h3>
	    {% endifequal %}
	    {% for member in active %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-5ths">
		<a href="{% url 'website:member' member.id %}">
                    <img src="{% thumbnail member.person.image 245x245 box=member.person.cropping crop detail %}" class="img-responsive"/>
		</a>
		<div class="item-info">
                    <a href="{% url 'website:member' member.person.id %}">
			<h5>{{ member.person.get_full_name }}</h5>
                    </a>
		    {% if member.pi_member %}
		    {{member.pi_member}} | 
		    {% endif %}
		    {% if member.person.position_set.all|length > 0 %}
		    {% with member.person.position_set.all|first as position %}
                    {{ position.title }}, {{ position.get_department_abbreviated }}
                    <br/>
                    {{ position.school }}
		    {% endwith %}
		    {% endif %}
		</div>
            </div>
	    {% endfor %}
	</div>
	<div class ="row">
	    {% ifequal alumni|length 0 %}
	    {% else %}
	    <h3 class="news-type-label">Alumni Member</h3>
	    {% endifequal %}
	    {% for member in alumni %}
	    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-5ths">
		<a href="{% url 'website:member' member.id %}">
                    <img src="{% thumbnail member.person.image 245x245 box=member.person.cropping crop detail %}" class="img-responsive"/>
		</a>
		<div class="item-info">
                    <a href="{% url 'website:member' member.person.id %}">
			<h5>{{ member.person.get_full_name }}</h5>
                    </a>
		    {% if member.pi_member %}
		    {{member.pi_member}} | 
		    {% endif %}
		    {% if member.person.position_set.all|length > 0 %}
		    {% with member.person.position_set.all|first as position %}
                    {{ position.title }}, {{ position.get_department_abbreviated }}
                    <br/>
                    {{ position.school }}
		    {% endwith %}
		    {% endif %}
		</div>
            </div>
	    {% endfor %}
	</div>
    </div>
</div>
{% endblock %}
