{% extends 'website/base.html' %}

{% block pagetitle %}{{person.get_full_name}}{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
<link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
<link rel="stylesheet" href="{% static 'website/css/news.css' %}">
<link rel="stylesheet" href="{% static 'website/css/member.css' %}">
{% endblock %}

{% block maincarousel %}
<div id="mainCarousel" class="carousel slide carousel-fade shortCarousel" data-ride="carousel" data-interval="10000" data-pause="false">    
    <div class="page-title shadow-left">
        <div class="container carousel-container">
            <div class="overlay-title">{{person.get_full_name}}</div>
        </div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for banner in banners %}
        <div class="item {% if forloop.first %}active{% endif %}">
	    {% if banner.link %}
	    <a href="{{banner.link}}">
		{% else %}
		{% if banner.project %}
		<a href="{% url 'website:project_ind' banner.project.short_name %}">
		    {% endif %}
		    {% endif %}
		    <div class="fill" style="background-image:url({% cropped_thumbnail banner "cropping" scale=1.0 %})" aria-label="{{ banner.alt_text }}" title="{{ banner.alt_text }}"></div>
		    <!-- <div class="overlay">
			 <div class="container carousel-container">
			 <div class="carousel-caption carousel-caption-right">
			 {% autoescape off %} {# enable HTML tags #}
			 <div class="carousel-caption-title">
			 {{ banner.title }}
			 </div>
			 <div class="carousel-caption-text">
			 {{ banner.caption }}
			 </div>
			 {% endautoescape %}
			 </div>
			 </div>
			 </div> -->
		    {% if banner.link %}</a>{% endif %}
		{% if banner.project %}
	    </a>
	    {% endif %}
        </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators"  {% if banners|length < 2 %} style="display: none" {% endif %}>
        {% for banner in banners %}
        <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

{% block content %}
<div id="content" class="container content-container" data-spy="scroll">
    <div id="header" class="container">
	<div class="row" id="about-header">
	    <div class="col-sm-6 col-md-3 hidden-xs">
		<div class="easter-egg-col">
		    <img src="{% thumbnail person.image 245x245 box=person.cropping crop detail %}" class="img-responsive"/>
		    <div class="overlay-easter-egg">
			<img src="{% thumbnail person.easter_egg 245x245 box=person.easter_egg_crop crop detail %}" class="img-responsive">
		    </div>
		</div>
	    </div>
	    <div class="col-xs-4 col-sm-6 col-md-3">
		<h3 class="news-type-label">{{person.get_full_name}}</h3>
		{% with person.get_latest_position as position %}
		{% if position %}
		{{position.title}}
		{% if position.is_high_school %}
		{% else %}
		, {{position.get_department_abbreviated}}
		{% endif %}
		<br/>
		{{position.school}}<br/>
		{% endif %}
		{% endwith %}
		{% if person.email %}
		<a href="mailto:{{person.email}}">
		    <img src="{% static 'website/img/email.png' %}" class="header-icon">
		    <span class="header-link">email</span><br/>
		</a>
		{% endif %}
		{% if person.personal_website %}
		<a href="{{person.personal_website}}">
		    <img src="{% static 'website/img/link.png' %}" class="header-icon">
		    <span class="header-link">website</span><br/>
		</a>
		{% endif %}
		{% if person.github %}
		<a href="{{person.github}}">
		    <img src="{% static 'website/img/github.png' %}" class="header-icon">
		    <span class="header-link">github</span><br/>
		</a>
		{% endif %}
		{% if person.twitter %}
		<a href="{{person.twitter}}">
		    <img src="{% static 'website/img/twitter.png' %}" class="header-icon">
		    <span class="header-link">twitter</span><br/>
		</a>
		{% endif %}
	    </div>
	    <div class="col-xs-8 col-sm-12 col-md-6 about-person">
		{{person.bio}}
	    </div>
	</div>
    </div>
    <div id="main-content" class="container">
	<div class="row">
	    <div class="col-xs-12 col-md-2 col-md-push-10 newstwitter-bar">
		{% if news %}
		<!-- Create a row for the well which will contain news from our feeds -->
		<div class="row">
		    <h3 class="news-type-label">Recent News</h3>
		    <div class="well news-well">
			{% for item in news %}
			<!-- Create a row for each news item which has been passed in -->
			<div class="row news_header">
			    <!-- TODO link to the full news item -->
			    <a href="">
				<!-- Use the items image if it exists, otherwise use the default icon -->
				{% if item.image %}
				<img src="{% thumbnail item.image 250x250 box=item.cropping crop detail %}" class="news_image" height="50" width="50" alt="{{item.alt_text}}">
				{% else %}
				<img src="{% static 'website/img/news_icon.png' %}" class="news_image" height="50" width="50">			
				{% endif %}
			    </a>
			    <div class="news_info">
				<!-- https://css-tricks.com/line-clampin/ This seems to be a good way to do multi line wrapping, also referenced in relevant news.css file -->
				<div class="news_title line-clamp">
				    <!-- TODO link to the full news item -->
				    <a href="{% url 'website:news' item.id %}">
					<p>{{item.title}}</p>
				    </a>
				</div>
				<p class="news_date">{{item.short_date}} | <a href="{% url 'website:member' item.author.id %}">{{item.author.first_name}}</a></p><!--</p><p class="news_date">{{item.author}}</p>-->
			    </div>
			</div>
			<div class="row news_body">
			    <!-- Truncation now uses a set number of lines which can be modified in news.css content-clamp class by changing -webkit-line-clamp -->
			    <div class="news_content content-clamp">
				{% autoescape off %}
				<p>{{item.content}}</p>
				{% endautoescape %}
			    </div>
			</div>
			{% endfor %}
		    </div>
		</div>
		{% endif %}
	    </div>
	    <div class="col-xs-12 col-md-10 col-md-pull-2 landing-content">
		{% if publications %}
		<div class="row">
		    <h3 class="news-type-label"><b>Publications</b></h3>
		    
		    <div class="col-xs-12 col-md-10">
			<!-- Create a publication div for each publication passed in -->
			{% for pub in publications %}
			<div class="row publication-template">
			    <div class="publication-thumbnail">
				<a href="../../media/{{pub.pdf_file}}" class="publication-thumbnail-link">
				    <img src="{% thumbnail pub.thumbnail 300x0 detail %}" class="publication-thumbnail-image img-responsive">
				</a>
			    </div>
			    <div class="publication-info">
				<p class="publication-title">{{pub.title}}</p>
				<p class="publication-authors">
				    {% for author in pub.authors.all %}
				    <span class="publication-author"><a href="{% url 'website:member' author.id %}">{{author.get_full_name}}</a>&nbsp;</span>
				    {% endfor %}
				</p>
				<p class="publication-stats">
				    <span class="publication-venue">{{pub.book_title_short}}</span>
				</p>
			    </div>
			</div>
			{% endfor %}
		    </div>
		</div>
		{% endif %}
		{% if talks %}
		<div class="row">
		    <h3 class="news-type-label"><b>Talks</b></h3>
		    <div class="row">
			<!-- Create a div for each talk passed in -->
			{% for talk in talks %}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 talk-template-landing landing-talk-fix">
			    <div class="talk-info">
				<div class="talk-thumbnail">
				    <a href="../../media/{{talk.pdf_file}}" class="talk-thumbnail-link">
					<img src="{% thumbnail talk.thumbnail 200x0 detail %}" class="talk-thumbnail-image img-responsive talk-image-fix"/>
				    </a>
				</div>
				<p class="talk-title line-clamp">
				    {{talk.title}}
				</p>
				<p class="talk-speakers">
				    {% for speaker in talk.speakers.all %}
				    {% if forloop.last %}
				    <span class="talk-speaker"><a href="{% url 'website:member' speaker.id %}">{{speaker.get_full_name}}</a></span>
				    {% else %}
				    <span class="talk-speaker"><a href="{% url 'website:member' speaker.id %}">{{speaker.get_full_name}}</a>,&nbsp;</span>
				    {% endif %}
				    {% endfor %}
				</p>
				<p class="talk-stats">
				    <span class="talk-date">{{talk.date}}</span>
				    <span class="talk-location">{{talk.location}}</span>
				</p>
			    </div>
			</div>
			{% endfor %}
		    </div>
		</div>
		{% endif %}
	    </div>
	</div>
    </div>
</div>
{% endblock %}
