{% extends 'website/base.html' %}

{% block pagetitle %}
  News
{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'website/css/news-listing.css' %}?version=1" />
  {% comment %} <link rel="stylesheet" href="{% static 'website/css/news-listing-old.css' %}?version=1" /> {% endcomment %}
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}" />
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}" />
{% endblock %}

{% block maincarousel %}
  {% comment %}Remove the carousel{% endcomment %}
  {% comment %} {% include 'snippets/display_short_carousel_snippet.html' %} {% endcomment %}
{% endblock %}

{% block content %}
  <div id="content" class="container">
    <div id="makelab-news" class="makelab-content-container">
      {% comment %} TODO: add zoom in image on hover {% endcomment %}
      <h1>Latest News</h1>
      <div class="news-grid">
        {% for n in news %}
          <div class="news-card">
            <div class="news-image">
              <a href="{% url 'website:news' news_id=n.id %}">
                {% if n.image %}
                  <img src="{% thumbnail n.image 363x217 box=news.cropping crop detail upscale %}" alt="{{n.alt_text}}"/>
                {% else %}
                  <img src="{% static 'website/img/news_icon.png' %}" style="max-height:217px;" 
                    alt="This is a default news page icon for when there are no thumbnails; it looks like a newspaper" />
                {% endif %}
              </a>
            </div>
            <h3 class="news-card-headline"><a href="{% url 'website:news' news_id=n.id %}">{{ n.title }}</a></h3>
            <div class="news-card-byline">
              <span class="news-card-author">BY <a href="{% url 'website:member' member_id=n.author.id %}">{{ n.author }}</a></span>
              <span class="news-card-date">• {{ n.short_date }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="news-pagination">
      {% if news.has_other_pages %}
        <ul class="pagination">
          {% if news.has_previous %}
            <li><a href="?page={{ news.previous_page_number }}">Newer</a></li>
          {% endif %}
          {% for i in news.paginator.page_range %}
            {% if news.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if news.has_next %}
            <li><a href="?page={{ news.next_page_number }}">Older</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
