{% extends "website/base.html" %}

{% block pagetitle %}{{news.title}}{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'website/css/news-item.css' %}">
{% endblock %}

{% block maincarousel %}
	{% comment %} <div style="min-height: 40px">&nbsp; {% endcomment %}
			{# Uncomment the following if you want to have a carousel on the people page #}
			{# {% include "snippets/display_short_carousel_snippet.html" %} #}
	{% comment %} </div> {% endcomment %}
{% endblock %}

{% block content %}

{% comment %}
Bootstrap requires a containing element to wrap site contents and house our grid system. 
You may choose one of two containers to use in your projects:
 - .container for responsive fixed width container
 - .container-fluid for full width container, spanning the entire width of your viewport. 
Note that, due to padding and more, neither container is nestable.
See: https://getbootstrap.com/docs/3.4/css/#overview-container
{% endcomment %}
<div class="container makelab-container makelab-news">
	<div class="row">
		<!-- Main content area -->
		<div class="col-md-8">
			<div class="news-item-header">
				<h1 class="news-item-title">{{news_item.title}}</h1>
				<div class="news-byline">
					{% with author=news_item.author %}
						<a href="{% url 'website:member_by_name' member_name=author.url_name %}">
							<img src="{% thumbnail author.image author.get_thumbnail_size_as_str box=author.cropping crop=True upscale=True detail=True%}" 
									alt="{{ author.get_full_name }}"/>
						</a>
						<div class="news-byline-info">
							<p class="news-byline-author">By {{ author.get_full_name }}</p>
							<p class="news-byline-date">{{ news_item.short_date }}</p>
						</div>
					{% endwith %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8">
			<div class="news-item-header">
				<div class="news-item-header-image">
					{% if news_item.image %}
						<img class="img-responsive" src="{% thumbnail news_item.image 750x350 box=news_item.cropping crop=True upscale=True detail=True %}" 
								alt="{{news_item.alt_text}}">
					{% else %}
						<img class="img-responsive" src="{% static news_item.default_news_image_filename %}" 
								alt="This is a default news page icon for when there are no thumbnails" />
					{% comment %} <img src="{% static 'website/img/news_icon.png' %}" class="big-news-image"> {% endcomment %}
					{% endif %}
				</div>
				<div class="news-item-header-caption">
					{% if news_item.image_caption %}
						{{news_item.image_caption}}
					{% endif %}
				</div>
			</div>
			<div class="news-item-content">
				{% comment %}
				In Django’s template system, the |safe filter is used to mark a string as safe, which means it 
				won’t be auto-escaped when rendered. Django’s templating engine does escaping automatically to 
				prevent things like HTML injection
				{% endcomment %}
				{{news_item.content|safe}}
			</div>
		</div>
		
		<!-- Sidebar for related news -->
		<div class="col-md-4 news-item-sidebar">
			{% if people_mentioned or related_projects %}
				<h2 class="news-item-sidebar-header first-subsection">More About</h2>
				<ul class="news-item-sidebar-ul">
					{% for project in related_projects %}
						<li class="news-item-sidebar-li">
              <a href="{% url 'website:project' project.short_name %}">
                <img src="{% thumbnail project.gallery_image project.get_thumbnail_size_as_str box=project.cropping crop=True upscale=True detail=True%}" 
                  alt="{{project.get_thumbnail_alt_text}}"/>				
              </a>
              <div class="news-item-sidebar-content">
                <a href="{% url 'website:project' project.short_name %}">{{ project.name }}</a>
              </div>
						</li>
					{% endfor %}
					{% for person in people_mentioned %}
						<li class="news-item-sidebar-li">   
              <a href="{% url 'website:member_by_name' member_name=person.url_name %}">
                <img src="{% thumbnail person.image person.get_thumbnail_size_as_str box=person.cropping crop=True upscale=True detail=True%}" 
                      alt="{{ person.get_full_name }}"/> 
              </a>
              <div class="news-item-sidebar-content">
                <a href="{% url 'website:member_by_name' member_name=person.url_name %}">{{ person.get_full_name }}</a>
              </div>
						</li>
					{% endfor %}		
			{% endif %}

			{% if project_recent_news_items %}
				<h2 class="news-item-sidebar-header {% if not people_mentioned and not related_projects %}first-subsection{% endif %}">
          Latest Related Project News
        </h2>
				<ul class="news-item-sidebar-ul">
				{% for recent_news_item in recent_news_about_projects_mentioned %}
					{% include "snippets/display_news_item_sidebar_snippet.html" %}
				{% endfor %}			
			{% elif recent_news_about_people_mentioned %}
				<h2 class="news-item-sidebar-header {% if not people_mentioned and not related_projects %}first-subsection{% endif %}">
          Latest Related People News
        </h2>
				<ul class="news-item-sidebar-ul">
				{% for recent_news_item in recent_news_about_people_mentioned %}
					{% include "snippets/display_news_item_sidebar_snippet.html" %}
				{% endfor %}
			{% elif recent_news_posts_by_author %}
				<h2 class="news-item-sidebar-header {% if not people_mentioned and not related_projects %}first-subsection{% endif %}">
          More News By {{ news_item.author }}
        </h2>
				<ul class="news-item-sidebar-ul">
				{% for recent_news_item in recent_news_posts_by_author %}
					{% include "snippets/display_news_item_sidebar_snippet.html" %}
				{% endfor %}
			{% endif %}

			{% if recent_ml_news %}
				<h2 class="news-item-sidebar-header">Recent Makeability Lab News</h2>
				<ul class="news-item-sidebar-ul">
					{% for recent_news_item in recent_ml_news  %}
						{% include "snippets/display_news_item_sidebar_snippet.html" %}
					{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
