{% extends 'website/base.html' %}

{% block pagetitle %}
  News
{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'website/css/news-listing.css' %}" />
  {% comment %} <link rel="stylesheet" href="{% static 'website/css/news-listing-old.css' %}?version=1" /> {% endcomment %}
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}" />
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}" />
{% endblock %}

{% block maincarousel %}
  {% comment %}Remove the carousel{% endcomment %}
  {% comment %} {% include 'snippets/display_short_carousel_snippet.html' %} {% endcomment %}
{% endblock %}

{% block content %}
  <div id="content" class="container">
    <div id="makelab-news" class="makelab-content-container">
      {% comment %} TODO: add zoom in image on hover {% endcomment %}
      {% if news.number == 1 %}
        <h1>Latest News</h1>
      {% else %}
        <h1>News</h1>
      {% endif %}

      <div class="news-grid">
        {% for news_item in news %}
          <div class="news-card">
            <div class="news-image">
              {% comment %} The 'news_item_by_slug' refers to the name in urls.py for the path pattern to use here {% endcomment %}
              <a href="{% url 'website:news_item_by_slug' slug=news_item.slug %}">
                {% if news_item.image %}
                  <img src="{% thumbnail news_item.image news_item.get_thumbnail_size_as_str box=news_item.cropping crop=True detail=True upscale=True %}" 
                    alt="{{news_item.alt_text}}"/>
                {% else %}
                  <img src="{% static news_item.default_news_image_filename %}" style="max-height:217px;" 
                    alt="This is a default news page icon for when there are no thumbnails" />
                {% endif %}
              </a>
            </div>
            <h3 class="news-card-headline"><a href="{% url 'website:news_item_by_slug' slug=news_item.slug %}">{{ news_item.title }}</a></h3>
            <div class="news-card-byline">
              <span class="news-card-author">BY <a href="{% url 'website:member_by_name' member_name=news_item.author.url_name %}">{{ news_item.author }}</a></span>
              <span class="news-card-date">• {{ news_item.short_date }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="news-pagination">
      {% if news.has_other_pages %}
        <ul class="pagination">
          {% if news.has_previous %}
            <li><a href="?page={{ news.previous_page_number }}">Newer</a></li>
          {% endif %}
          {% for i in news.paginator.page_range %}
            {% if news.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if news.has_next %}
            <li><a href="?page={{ news.next_page_number }}">Older</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
