{% extends "website/base.html" %}

{% block pagetitle %}{{news.title}}{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'website/css/news-item.css' %}">
{% endblock %}

{% block maincarousel %}
	{% comment %} <div style="min-height: 40px">&nbsp; {% endcomment %}
			{# Uncomment the following if you want to have a carousel on the people page #}
			{# {% include "snippets/display_short_carousel_snippet.html" %} #}
	{% comment %} </div> {% endcomment %}
{% endblock %}

{% block content %}

{% comment %}
Bootstrap requires a containing element to wrap site contents and house our grid system. 
You may choose one of two containers to use in your projects:
 - .container for responsive fixed width container
 - .container-fluid for full width container, spanning the entire width of your viewport. 
Note that, due to padding and more, neither container is nestable.
See: https://getbootstrap.com/docs/3.4/css/#overview-container
{% endcomment %}
<div class="container makelab-container makelab-news">
	<div class="row">
		<!-- Main content area -->
		<div class="col-md-8">
			<div class="news-item-header">
				
				<h1 class="news-item-title">{{news.title}}</h1>
				<div class="news-byline">
					{% with author=news.author %}
						<a href="{% url 'website:member' author.url_name %}">
							<img src="{% thumbnail author.image author.get_thumbnail_size_as_str box=author.cropping crop=True upscale=True detail=True%}" 
									alt="{{ author.get_full_name }}"/>
						</a>
						<div class="news-byline-info">
							<p class="news-byline-author">By {{ author.get_full_name }}</p>
							<p class="news-byline-date">{{ news.short_date }}</p>
						</div>
					{% endwith %}
				</div>
				<div class="news-item-header-image">
					{% if news.image %}
						<img class="img-responsive" src="{% thumbnail news.image 750x350 box=news.cropping crop=True upscale=True detail=True %}" 
								alt="{{news.alt_text}}">
					{% else %}
						<img class="img-responsive" src="{% static news.default_news_image_filename %}" class="big-news-image" 
								alt="This is a default news page icon for when there are no thumbnails" />
					{% comment %} <img src="{% static 'website/img/news_icon.png' %}" class="big-news-image"> {% endcomment %}
					{% endif %}
				</div>
				<div class="news-item-header-caption">
					{% if news.image_caption %}
						{{news.image_caption}}
					{% endif %}
				</div>
			</div>
			<div class="news-item-content">
				{% comment %}
				In Django’s template system, the |safe filter is used to mark a string as safe, which means it 
				won’t be auto-escaped when rendered. Django’s templating engine does escaping automatically to 
				prevent things like HTML injection
				{% endcomment %}
				{{news.content|safe}}
			</div>
		</div>
		
		<!-- Sidebar for related news -->
		<div class="col-md-4 news-item-sidebar">
			<h2>Recent Makeability Lab News</h2>
			<ul>
				<li><a href="#">Related news article 1</a></li>
				<li><a href="#">Related news article 2</a></li>
				<li><a href="#">Related news article 3</a></li>
			</ul>

			<h2>Latest Project News</h2>
			<ul>
				<li><a href="#">Related news article 1</a></li>
				<li><a href="#">Related news article 2</a></li>
				<li><a href="#">Related news article 3</a></li>
			</ul>

			<h2>More News By Author</h2>
			<ul>
				<li><a href="#">Related news article 1</a></li>
				<li><a href="#">Related news article 2</a></li>
				<li><a href="#">Related news article 3</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
