{% extends "website/base.html" %}

{% block pagetitle %}People{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/people.css' %}">
{% endblock %}


{% block maincarousel %}
    {% comment %} Keep this empty to not have a carousel {% endcomment %}
{% endblock %}

{% block content %}
  <div id="content" class="container">
    <div id="makelab-people" class="makelab-content-container">
      <h1>People</h1>  
      <div class="current-research-group-grid">
        {% for position in current_members %}
          {% with person=position.person %}
            <div class="person">
              <a href="{% url 'website:member' person.url_name %}">
                {% comment %}
                  We have a fun little "easter egg" here that swaps out a person's image on mouseover.
                  Also, we use easy-thumbnails to create thumbnail image: https://easy-thumbnails.readthedocs.io/en/latest/usage/#templates
                  The basic syntax is: {% thumbnail [source] [size] [options] %}

                  If box is specified, then it will crop. Otherwise, you can also set crop=True
                {% endcomment %}       
                <img class="swap-image" onmouseover="swapImage(this)" onmouseout="swapImage(this)"
                    src="{% thumbnail person.image person.get_thumbnail_size_as_str box=person.cropping crop=True upscale=True detail=True%}" 
                    alt="{{ person.get_full_name }}" 
                    data-alt-src="{% thumbnail person.easter_egg person.get_thumbnail_size_as_str box=person.easter_egg_crop crop=True upscale=True detail=True %}" 
                    width=90%"/>
              </a>
              <div class="person-name">
                <a href="{% url 'website:member' person.url_name %}">
                  {{ person.get_full_name }}
                </a>
              </div>
              {% if person.last_name == "Froehlich" %}
                <div class="person-title">Lab Director</div>
              {% else %}
                <div class="person-title">{{ position.title }}</div>
              {% endif %}
              <div class="person-affiliation">{{ position.get_school_abbreviated }} {{ position.get_department_abbreviated }} </div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>

      
      {% if graduated_phd_students %}
        <div class="graduated-phd-section">
          <h2>Graduated PhD Students</h2>
          <div class="graduated-phds-grid">
            {% for person in graduated_phd_students %}
              <div class="person graduated-phd">
                <a href="{% url 'website:member' person.url_name %}">
                  <img class="swap-image" onmouseover="swapImage(this)" onmouseout="swapImage(this)"
                        src="{% thumbnail person.image person.get_thumbnail_size_as_str box=person.cropping crop detail upscale %}" 
                        alt="{{ person.get_full_name }}" 
                        data-alt-src="{% thumbnail person.easter_egg person.get_thumbnail_size_as_str box=person.easter_egg_crop crop detail upscale %}" 
                        width=90%"/>
                </a>
                <div class="graduated-phd-name">
                  <a href="{% url 'website:member' person.url_name %}">
                    Dr. {{ person.get_full_name }}
                  </a>
                </div>
                {% with position=person.get_latest_phd_student_position %} 
                  {% with dissertation=person.get_dissertation %}  
                    <div class="person-title">
                      PhD {{ position.get_school_abbreviated }} {{ position.get_department_abbreviated }}, {{ dissertation.date.year }}
                    </div>
                  
                    <div class="dissertation">
                      <span class="dissertation-header">Dissertation:</span> 
                      <span class="dissertation-title">
                        <a href="{% get_media_prefix %}{{ dissertation.pdf_file }}">{{ dissertation }}</a><br/>
                      </span>
                    </div>

                    {% if person.next_position %}
                      <div class="first-position">
                        {% if person.next_position_url %}
                          <span class="first-position-header">First Position:</span> 
                          <span class="first-position-content"> 
                            <a href="{{ person.next_position_url }}">{{ person.next_position }}</a>
                          </span>
                        {% else %}
                          <span class="first-position-content"> 
                            {{ person.next_position }}
                          </span>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endwith %}
                {% endwith %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
       
      {% if map_title_to_past_members %}
        <div class="past-members-section">
          <h2>Past Members</h2>
          {% for title in sorted_past_member_titles %}
            <h3>{{ title }}s</h3>
            <div class="past-members-grid">
              {% for position in map_title_to_past_members|get_item:title %}
                <div class="past-member-grid-item">
                  {% comment %} TODO check if high school student and don't print out department {% endcomment %}
                  <span class="past-member-name"> 
                    <a href="{% url 'website:member' position.person.url_name %}">{{ position.person.get_full_name }}</a>,
                  </span>
                  <span class="past-member-affiliation">
                    {% if position.is_high_school %}
                      {{ position.school }}, {{position.get_date_range_as_str}}
                    {% else %}
                      {{ position.get_school_abbreviated }} {{ position.get_department_abbreviated }}, {{position.get_date_range_as_str}}
                    {% endif %}
                  </span>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </div>

  <script>
    var _swapImageEnabled = true;
    console.log("Hi console friends 👋🏽,\n\nTo turn off our 'easter egg' swap, in the console window, type 'toggleSwapImage()'.")

    function swapImage(imgElement) {
      if(_swapImageEnabled){
        let temp = imgElement.src;
        imgElement.src = imgElement.dataset.altSrc;
        imgElement.dataset.altSrc = temp;
      }
    }
    
    function toggleSwapImage() {
      _swapImageEnabled = !_swapImageEnabled;
    }
  </script>
{% endblock %}
