{% extends 'website/base.html' %}

{% block pagetitle %}{{project.name}}{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/project.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/news.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <!-- <script src="{% static 'website/js/peopleHeightFix.js' %}"></script> -->
    <script src="{% static 'website/js/utils.js' %}"></script>
    <script src="{% static 'website/js/indproject.js' %}"></script>
{% endblock %}


{% block content %}
<div id="content" class="container content-container" data-spy="scroll">
    <div class="row row-adjust-margins" id="sidebar-level">
	<div class="col-md-2 col-md-push-10">
        <div class="row quick-info">
            <h3 class="news-type-label">Quick Info</h3>
            <p class="quick-info">
                {% if project.start_date %}
                    <b>Project Date</b>
                    {{project.start_date}} - {% if project.end_date %}{{project.end_date}}{% else %}Present{% endif %}
                    <br>
                {% endif %}
                {% with project.get_pi as pi %}
                    {% if pi %}
                        <b>PIs: </b>
                        <a href="{% url 'website:member' pi.get_url_name %}">{{pi.get_full_name}}</a> (PI)<br/>
                    {% endif %}
                {% endwith %}
                {% for copi in project.get_co_pis %}
                    <a href="{% url 'website:member' copi.get_url_name %}">{{copi.get_full_name}}</a> (Co-PI)<br/>
                {% endfor %}
                {% if project.sponsors.all %}
                    <b>Sponsors: </b>
                    {% for sponsor in project.sponsors.all %}
                        {%  if sponsor.url %}
                          <a href="{{sponsor.url}}" target="_blank">
                          <img src="{{sponsor.icon}}" class="sponsor-icon">
                          <span class="sponsor-name">{{sponsor.name}}</span>
                          </a>
                        {% else %}
                          <img src="{{sponsor.icon}}" class="sponsor-icon">
                          <span class="sponsor-name">{{sponsor.name}}</span>
                        {% endif %}
                    {% endfor %}
                    <br>
                {% endif %}
                {% if project.keywords.all %}
                    <b>Keywords: </b>
                    {% for keyword in project.keywords.all %}
                        {% if forloop.last %}
                            {{keyword.keyword}}
                        {% else %}
                            {{keyword.keyword}},
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
	    </div>
	    {% if news %}
	    <!-- Create a row for the well which will contain news from our feeds -->
	    <div class="row recent-news">
		<h3 class="news-type-label">Recent News</h3>
		<div class="well news-well">
		    {% for item in news %}
		    <!-- Create a row for each news item which has been passed in -->
		    <div class="row news_header">
			<!-- TODO link to the full news item -->
			<a href="">
			    <!-- Use the items image if it exists, otherwise use the default icon -->
			    {% if item.image %}
			    <img src="{% thumbnail item.image 250x250 box=item.cropping crop detail %}" class="news_image" height="50" width="50" alt="{{item.alt_text}}">
			    {% else %}
			    <img src="{% static 'website/img/news_icon.png' %}" class="news_image" height="50" width="50">			
			    {% endif %}
			</a>
			<div class="news_info">
			    <!-- https://css-tricks.com/line-clampin/ This seems to be a good way to do multi line wrapping, also referenced in relevant news.css file -->
			    <div class="news_title line-clamp">
				<!-- TODO link to the full news item -->
				<a href="{% url 'website:news' item.id %}">
				    <p>{{item.title}}</p>
				</a>
			    </div>
			    <p class="news_date">{{item.short_date}} | <a href="{% url 'website:member' item.author.id %}">{{item.author.first_name}}</a></p><!--</p><p class="news_date">{{item.author}}</p>-->
			</div>
		    </div>
		    <div class="row news_body">
			<!-- Truncation now uses a set number of lines which can be modified in news.css content-clamp class by changing -webkit-line-clamp -->
			<div class="news_content content-clamp">
			    {% autoescape off %}
			    <p>{{item.content}}</p>
			    {% endautoescape %}
			</div>
		    </div>
		    {% endfor %}
		</div>
	    </div>
	    {% endif %}
	</div>
	<div class="col-md-10 col-md-pull-2 project-intro-content">
        <div class="row about-row">
            <h3 class="news-type-label">About</h3>
            <p class="project-about">
            <div style="float: right">
                <div class="header-visual">
                    {% if project.project_header_set.all|length > 0 %}
                        {% with project.project_header_set.all|first as header %}
                            {% autoescape off %}
                                {{ header.get_visual }}
                            {% endautoescape %}

                            <p style="font-weight: bold; margin:0px;">{{ header.title }}</p>
                            {% if header.caption %}
                               <p style="font-size: smaller;"> {{ header.caption }}</p>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% with project.video_set.all|first as first_video %}
                            <iframe class="video-about" src="{{ first_video.get_embed }}" frameborder="0"
                                    allowfullscreen></iframe><br/>
                            <span class="header-visual-title">{{ first_video.title }}</span><br/>
                            {% if first_video.caption %}
                                <span class="header-visual-caption">{{ first_video.caption }}</span>
                            {% endif %}
                        {% endwith %}
                    {% endif %}

                </div>
            </div>
            {% autoescape off %}
                {{ project.about }}
            {% endautoescape %}
            </p>
        </div>
	    <div class="row">
		{% if publications %}
		<h3 class="news-type-label">Publications</h3>
		{% endif %}
		{% for pub in publications %}
            {% include "snippets/display_pub_snippet.html" %}
		{% endfor %}
	    </div>
	</div>
    </div>
    <div class="row no-margin" id="below-sidebar">
        <div class="row row-adjust-margins">
            {% if videos %}
            <h3 class="news-type-lable">Recent Videos</h3>
            {% endif %}
            {% for video in videos %}
                {% include "snippets/display_video_snippet.html" %}
            {% endfor %}
        </div>
        <div class="row row-adjust-margins">
            {% if talks %}
                <h3 class="news-type-label">Talks</h3>
            {% endif %}

            {% for talk in talks %}
                {% include "snippets/display_talk_snippet.html" %}
            {% endfor %}

            </div>
        </div>
        <div class="row row-adjust-margins">
            {% if photos %}
            <h3 class="news-type-label">Photo Gallery</h3>
            {% endif %}
            {% for image in photos %}
            <div class="col-md-4 project-gallery-col">
            <img src="{% thumbnail image.picture 368x245 box=image.cropping crop detail %}" alt="{{image.alt_text}}" class="project-gallery">
            <div class="overlay-image">
                <p class="image-gallery-caption">{{image.caption}}</p>
            </div>
            </div>
            {% endfor %}
        </div>

        {# Check to see if a project has ended. If so, just list all project members. If the project is #}
        {# active then split members into current and past #}
        {% if project.has_ended and project_roles %}
            <div class="row row-eq-height row-adjust-margins people-row">
                <h3 class="news-type-label">Project Members</h3>
                <div class="grid_members">
                    {% for member in project_roles %}
                        {% include "snippets/display_person_snippet.html" %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% if project_roles_current %}
                <div class="row row-eq-height row-adjust-margins people-row">
                    {# Check to see if there are past project members, if so, change the header slightly #}
                    {% if project_roles_past %}
                        <h3 class="news-type-label">Current Project Members</h3>
                    {%  else %}
                        <h3 class="news-type-label">Project Members</h3>
                    {% endif %}
                    <div class="grid_current_members">
                        {% include "snippets/display_people_snippet.html" with member_status="Current Member" %}
                    </div>
                </div>
            {% endif %}

            {% if project_roles_past %}
                <div class="row row-eq-height row-adjust-margins people-row">
                    <h3 class="news-type-label">Past Project Members</h3>
                    <div class="grid_past_members">
                        {% for member in project_roles_past %}
                            {% include "snippets/display_person_snippet.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
