{% extends 'website/base.html' %}

{% block pagetitle %}{{project.name}}{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block opengraph %}
  <meta property="og:title" content="{{project.name}}">
  <meta property="og:type" content="website">
  {% if project.summary %}
    <meta property="og:description" content="{{project.summary}}">
  {% else %}
    <meta property="og:description" content="The Makeability Lab is an advanced research lab in Human-Computer Interaction directed by Professor Jon E. Froehlich at University of Washington's Allen School of Computer Science.">
  {% endif %}
  {% comment %} <meta property="og:image"
    content="{{ request.scheme }}://{{ request.get_host }}{% static 'website/img/logos/makelab_logo_v3_white_with_colors_and_text_og_image_ratio_1200w.png' %}" /> {% endcomment %}
  <meta property="og:image"
    content="{{ request.scheme }}://{{ request.get_host }}{% thumbnail project.gallery_image 1200x630 box=project.cropping crop=True upscale=True %}" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'website/css/project.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/news-item.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/sponsor-listing.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <!-- <script src="{% static 'website/js/peopleHeightFix.js' %}"></script> -->
    <script src="{% static 'website/js/utils.js' %}"></script>
    <script src="{% static 'website/js/indproject.js' %}"></script>
    <script src="{% static 'website/js/lightbox.js' %}"></script>

    {# humanize-duration is used to pretty print date ages, see https://github.com/EvanHahn/HumanizeDuration.js #}
    {# we use it, for example, to pretty print the age of videos #}
    <script src="{% static 'website/js/humanize-duration.js' %}"></script>

    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'website/js/citationPopoverSimple.js' %}"></script> {# used for citation popups #}
{% endblock %}

{% block scripts %}
    $(document).ready(function() {
        // find the citation links and set up the popover content and behavior for each
        var citationLinks = $(".publication-citation-link");
        for(var i = 0; i < citationLinks.length; i++) {
            $(citationLinks[i]).citationPopover();
        }
    });
{% endblock %}

{% block maincarousel %}
    {# Override main carousel if we don't have any banners defined to have a gradient background #}
    {% if not banners or banners|length <= 0 %}
        <div id="main-carousel" class="carousel slide carousel-fade">
            <div class="container carousel-container">
                <div class="carousel-caption carousel-caption-left" style="pointer-events: auto;">
                    <div class="carousel-caption-title">
                        {{ project.name }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="content" class="container content-container" data-spy="scroll">
  <div class="row project-row about-column">
    <div class="col-sm-3 col-sm-push-9 project-sidebar hidden-xs">
      <div class="row">
        <h3 class="sidebar-header">Date</h3>
        {{ date_str }}

        {% if website %}
          <h3 class="sidebar-header">Website</h3>
          <a href="{{website}}">{{website}}</a>
        {% endif %}

        {% if featured_code_repo_url %}
          <h3 class="sidebar-header">Code</h3>
          <a href="{{featured_code_repo_url}}">Open Source Link</a>
        {% endif %}

        {% if data_url %}
          <h3 class="sidebar-header">Data Repo</h3>
          <a href="{{data_url}}">Data Link</a>
        {% endif %}
        
        {# Project leadership info #}
        {% if active_PIs %}
          <h3 class="sidebar-header">PI{% if active_PIs|length > 1 %}s{% endif %}{% if active_Co_PIs %} / Co-PI {% if active_Co_PIs|length > 1 %}s{% endif %}{% endif %}</h3>
          {% with active_leads=active_PIs %}
            {% include "snippets/display_project_lead_snippet.html" %}
          {% endwith %}
          {% if active_Co_PIs %}
            {% with active_leads=active_Co_PIs %}
              {% include "snippets/display_project_lead_snippet.html" %}
            {% endwith %}
          {% endif %}
        {% endif %}

        {% if active_postdoc_leads %}
          <h3 class="sidebar-header">Postdoc Lead{% if active_postdoc_leads|length > 1 %}s{% endif %}</h3>
          {% with active_leads=active_postdoc_leads%}
            {% include "snippets/display_project_lead_snippet.html" %}
          {% endwith %}
        {% endif %}
        
        {% if active_student_leads %}
          <h3 class="sidebar-header">Student Lead{% if active_student_leads|length > 1 %}s{% endif %}</h3>
          {% with active_leads=active_student_leads %}
            {% include "snippets/display_project_lead_snippet.html" %}
          {% endwith %}
        {% endif %}

        {% if active_research_scientist_leads %}
          <h3 class="sidebar-header">Research Scientist Lead{% if active_research_scientist_leads|length > 1 %}s{% endif %}</h3>
          {% with active_leads=active_research_scientist_leads%}
            {% include "snippets/display_project_lead_snippet.html" %}
          {% endwith %}
        {% endif %}

        <h3 class="sidebar-header"># Contributors</h3>
        {{ num_contributors }}

        {% if sponsors %}
          <h3 class="sidebar-header">Funding</h3>
          <div class="sponsor-sidebar-grid">
            {% for sponsor in sponsors %}
              <div class="sponsor-sidebar-card" {% if forloop.first %} style="margin-left:0px" {% endif %}>
                <div class="sponsor-logo">
                  {% if sponsor.icon %}
                    <a href="{{sponsor.url}}">
                      <img class="sponsor-img" 
                        src="{% thumbnail sponsor.icon sponsor.get_thumbnail_size_as_str box=sponsor.icon_cropping crop=True upscale=True %}" 
                        alt="{{sponsor.get_icon_alt_text}}"
                        title="{{sponsor.name}}"/>
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if news %}
          <h3 class="sidebar-header">Recent News</h3>
          <ul class="news-item-sidebar-ul">
            {% for recent_news_item in news|slice:":3" %}
              {% include "snippets/display_news_item_sidebar_snippet.html" %}
            {% endfor %}
          </ul>			
        {% endif %}

        {% if related_projects %}
          <h3 class="sidebar-header">Related Projects</h3>
          <ul class="sidebar-ul">
            {% for related_project in related_projects %}
              {% if related_project.gallery_image %}
                <li class="sidebar-li">   
                  <a href="{% url 'website:project' related_project.short_name %}">
                    <img class="related-project-thumbnail" 
                        src="{% thumbnail related_project.gallery_image related_project.get_thumbnail_size_as_str box=related_project.cropping crop=True upscale=True %}" 
                        alt="{{related_project.get_thumbnail_alt_text}}"/>
                  </a>
                  <div class="sidebar-content">
                    <div class="sidebar-related-project-title">
                      <a href="{% url 'website:project' related_project.short_name %}">{{ related_project.name }}</a>
                    </div>
                    <div class="sidebar-related-project-date">
                      {{ related_project.get_project_dates_str }}
                    </div>   
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
    </div>
    <div class="col-sm-9 col-sm-pull-3">
      <div class="row project-content-row">
        <h2 class="project-section-header">Project Description</h2>
        <div class="inline-sidebar-flex-container-xs">
          <div class="inline-sidebar-flex-item-xs">
            <h3 class="sidebar-header">Date</h3>
            {{ date_str }}
          </div>
          <div class="inline-sidebar-flex-item-xs">
            {% if active_PIs %}
              <h3 class="sidebar-header">PI{% if active_PIs|length > 1 %}s{% endif %}{% if active_Co_PIs %} / Co-PI {% if active_Co_PIs|length > 1 %}s{% endif %}{% endif %}</h3>
              {% with active_leads=active_PIs %}
                {% include "snippets/display_project_lead_snippet.html" %}
              {% endwith %}
              {% if active_Co_PIs %}
                {% with active_leads=active_Co_PIs %}
                  {% include "snippets/display_project_lead_snippet.html" %}
                {% endwith %}
              {% endif %}
            {% endif %}
          </div>
          <div class="inline-sidebar-flex-item-xs">
            {% if active_student_leads %}
              <h3 class="sidebar-header">Student Lead{% if active_student_leads|length > 1 %}s{% endif %}</h3>
              {% with active_leads=active_student_leads %}
                {% include "snippets/display_project_lead_snippet.html" %}
              {% endwith %}
            {% endif %}
          </div>
        </div> 
        <div class="project-description">
          {% autoescape off %}
            {{ project.about }}
          {% endautoescape %}
        </div>   
      </div>
      {% if featured_video %}
        <div class="row project-content-row" style="margin-top: 20px">
          <div class="video-wrapper">
            <iframe class="video-iframe" src="{{ featured_video.get_embed }}" 
              frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
        </div>
      {% endif %}
      <div class="row project-content-row" style="margin-top: 20px">
        <div class="inline-sidebar-flex-container-xs">
          {% if featured_code_repo_url %}
            <div class="inline-sidebar-flex-item-xs">
              <h3 class="sidebar-header">Code</h3>
              <a href="{{featured_code_repo_url}}">GitHub Link</a>
            </div>
          {% endif %}
          <div class="inline-sidebar-flex-item-xs">
            {% if sponsors %}
              <h3 class="sidebar-header">Funding</h3>
              <div class="sponsor-sidebar-grid">
                {% for sponsor in sponsors %}
                  <div class="sponsor-sidebar-card" {% if forloop.first %} style="margin-left:0px" {% endif %}>
                    <div class="sponsor-logo">
                      {% if sponsor.icon %}
                        <a href="{{sponsor.url}}">
                          <img class="sponsor-img" 
                            src="{% thumbnail sponsor.icon sponsor.get_thumbnail_size_as_str box=sponsor.icon_cropping crop=True upscale=True %}" 
                            alt="{{sponsor.get_icon_alt_text}}"
                            title="{{sponsor.name}}"/>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if publications %}
        <div class="row project-content-row"> 
          <h2>Publications</h2>
          {% for pub in publications %}
              {% include "snippets/display_pub_snippet.html" with orientation="vertical"%}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row project-row" id="below-sidebar">
    {% if has_videos_beyond_featured_video %}
      <div class="row row-adjust-margins">
        {% if videos %}
          <h2>Videos</h2>
        {% endif %}
        {% for video in videos %}
          {% include "snippets/display_video_snippet.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% if talks %}
      <div class="row row-adjust-margins">
        {% if talks %}
            <h2>Talks</h2>
        {% endif %}

        {% for talk in talks %}
            {% include "snippets/display_talk_snippet.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% if related_projects %}
      <div class="main-related-projects">
        <h2>Related Projects</h2>
        <div class="main-related-projects-flex-container">
          {% for related_project in related_projects %}
            {% if related_project.gallery_image %}
              <div class="main-related-project-flex-item">   
                <a href="{% url 'website:project' related_project.short_name %}">
                  <img class="main-related-project-thumbnail" 
                      src="{% thumbnail related_project.gallery_image related_project.get_thumbnail_size_as_str box=related_project.cropping crop=True upscale=True %}" 
                      alt="{{related_project.get_thumbnail_alt_text}}"/>
                </a>
                <div class="main-related-project-text">
                  <div class="main-related-project-title">
                    <a href="{% url 'website:project' related_project.short_name %}">{{ related_project.name }}</a>
                  </div>
                  <div class="main-related-project-date">
                    {{ related_project.get_project_dates_str }}
                  </div>   
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% comment %} Take out photo gallery for now {% endcomment %}
    {% comment %} 
    {% if photos %}
    <div class="row row-adjust-margins">
        <h3 class="news-type-label">Photo Gallery</h3>
        {% for image in photos %}
          <div class="col-md-4 project-gallery-col" id="slide{{ forloop.counter }}">
            <img class="project-gallery" 
                src="{% thumbnail image.picture image.get_cropping_size_as_str box=image.cropping crop=True detail=True upscale=True %}" 
                alt="{{image.alt_text}}" >
            <div class="overlay-image">
                <div class="image-gallery-caption">{{image.caption}}</div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% include "snippets/display_project_gallery_lightbox.html" %}
    {% endif %}{% endcomment %}
  </div> 
</div>
{% endblock %}
