{% extends 'website/base.html' %}

{% block pagetitle %}Project Gallery{% endblock %}

{% load staticfiles %}
{% load cropping %}
{% load thumbnail %}

{% block stylesheets %}
    <!-- TODO: go through every css file and make sure it's necessary to include -->
    <link rel="stylesheet" href="{% static 'website/css/projects.css'  %}">
    <link rel="stylesheet" href="{% static 'website/css/fixed_side_bar.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'website/js/fixedSideBar.js' %}?version=7"></script>
    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-init.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-filterBar.js' %}?version=7"></script>
    <script src="{% static 'website/js/isotope/isotope-filtering.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-sorting.js' %}"></script>
{% endblock %}

{% block scripts %}

    // Init the fixed side bar
    $(document).ready(function () {
	    $('#fixed-side-bar').fixedSideBar()
    });

{% endblock %}


{% block maincarousel %}
    {% include "snippets/display_short_carousel_snippet.html" %}
{% endblock %}

{% block content %}
     <div id="content" class="container">

        <!-- TODO: add in support for mobile filtering & sorting -->
        <div class="visible-xs">
            <br/>
            <input class="shortTextbox" id="filter-textbox-backup" placeholder="FILTER" type="text" value="">
        </div>

        <div id="fixed-side-bar" class="hidden-xs container">
            <div id = "sorting-keyword-container" style="display:none"></div>

            <div id="filter-bar">
                <!-- TODO: possibly add in number of each thing in parantheses -->
                <!-- TODO: support mouseover filtering so that when you mouseover a selection in left-menu, it auto-filters during hover -->
                <!-- TODO: support parallax hovering--or zoom-in hovering--over project thumbnail like vanschneider.com. Could also have mouseover details like grantburke.com/design-portfolio -->
                <!-- TODO: hhook tihs up to isotope https://isotope.metafizzy.co/layout-modes.html for sorting, filtering -->
                <h1 style="margin-top:0px">AREA</h1>
                <ul class="filter-list">
                    <li><a>Accessibility</a></li>
                    <li><a>Education</a></li>
                    <li><a>Fabrication</a></li>
                    <li><a>Health/Wellness</a></li>
                    <li><a>Smart Cities</a></li>
                    <li><a>Sustainability</a></li>
                </ul>

                <h1 style="margin-top:0px">TECHNOLOGY</h1>
                <ul class="filter-list">
                    <li><a>Augmented Reality</a></li>
                    <li><a>Computer Vision</a></li>
                    <li><a>Custom Hardware</a></li>
                    <li><a>E-Textiles</a></li>
                    <li><a>Machine Learning</a></li>
                    <li><a>Wearables</a></li>
                </ul>
                <li><a name="None" style="font-weight:bold">All</a></li>
            </div>
            <!-- Tech filter: augmented reality, machine learning, custom hardware, computer vision -->
        </div>

         <!--isotope data -->
         <div class= "isotope_data_container" id="isotope_data_container" style="display:none">
            sortFilterContainer(.sortingAndFiltering,str)
            gridName(.grid,str)
            filteringKeywordContainer(#filter-bar,str)
            sideBarContainer(#fixed-side-bar,str)
            sortingKeywordContainer(#sorting-keyword-container,str)
            scrollTop(150,int)
         </div>



        <div id="main-content" class="project-list">
            <!-- TODO: consider listing dates active or keywords underneath each project thumbnail in addition to name -->
            <div class="grid">
                {% for project in projects %}
                    <div class="item" style="width:20%; min-width: 150px; margin:2%;background:white">
                        <a href="{% url 'website:project' project.short_name %}" style="color:black;">
                            <img src="{% thumbnail project.gallery_image 300x180 box=project.cropping crop detail %}" class="img-responsive">
                            <p class="artifact-title">{{ project.name }}</p>
                        </a>
                        <div style="min-height:15px"></div>
                        <div class="sortingAndFiltering" style="display:none">
                            {% for keyword in project.keywords.all %}
                                {{ keyword }}()
                            {% endfor %}
                        </div>
                       <div class="Date" style="display:none">{{ project.get_most_recent_publication|date:"U" }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



