{% extends 'website/base.html' %}

{% block pagetitle %}{{project.name}}{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'website/css/project.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/news-item.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <!-- <script src="{% static 'website/js/peopleHeightFix.js' %}"></script> -->
    <script src="{% static 'website/js/utils.js' %}"></script>
    <script src="{% static 'website/js/indproject.js' %}"></script>
    <script src="{% static 'website/js/lightbox.js' %}"></script>

    {# humanize-duration is used to pretty print date ages, see https://github.com/EvanHahn/HumanizeDuration.js #}
    {# we use it, for example, to pretty print the age of videos #}
    <script src="{% static 'website/js/humanize-duration.js' %}"></script>

    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'website/js/citationPopoverSimple.js' %}"></script> {# used for citation popups #}
{% endblock %}

{% block scripts %}
    $(document).ready(function() {
        // find the citation links and set up the popover content and behavior for each
        var citationLinks = $(".publication-citation-link");
        for(var i = 0; i < citationLinks.length; i++) {
            $(citationLinks[i]).citationPopover();
        }
    });
{% endblock %}

{% block maincarousel %}
    {# Override main carousel if we don't have any banners defined to have a gradient background #}
    {% if not banners or banners|length <= 0 %}
        <div id="main-carousel" class="carousel slide carousel-fade">
            <div class="container carousel-container">
                <div class="carousel-caption carousel-caption-left" style="pointer-events: auto;">
                    <div class="carousel-caption-title">
                        {{ project.name }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="content" class="container content-container" data-spy="scroll">
  <div class="row about-column">
    <div class="col-md-3 col-md-push-9">
      <div class="row">
        <h3 class="sidebar-header">Date</h3>
        {{ date_str }}
        <h3 class="sidebar-header">Code</h3>
        GitHub Link
        
        {# Project leadership info #}
        {% if active_PIs.count > 0 %}
          <h3 class="sidebar-header">PI{% if active_PIs.count > 1 %}s{% endif %}</h3>
          {{ active_PIs }}
        {% endif %}

        {% if active_student_leads.count > 0 %}
          <h3 class="sidebar-header">Student Lead{% if active_student_leads.count > 1 %}s{% endif %}</h3>
          {{ active_student_leads }}
        {% endif %}

        <h3 class="sidebar-header"># Contributors</h3>
        {{ num_contributors }}

        <h3 class="sidebar-header">Sponsors</h3>
        List of sponsors

        {% if news %}
          <h3 class="sidebar-header">Recent Project News</h3>
          <ul class="news-item-sidebar-ul">
          {% for recent_news_item in news|slice:":3" %}
            {% include "snippets/display_news_item_sidebar_snippet.html" %}
          {% endfor %}			
        {% endif %}

        <h3 class="sidebar-header">Related Projects</h3>
        TODO: insert related projects based on project umbrella
      </div>
      
    </div>
    <div class="col-md-9 col-md-pull-3">
      <div class="row" style="width:90%">
        <h3>Project Description</h3>
          <div class="project-description">
            {% autoescape off %}
              {{ project.about }}
            {% endautoescape %}
          </div>
        </p>
      </div>
      <div class="row" style="width:90%">
        TODO: insert video
      </div>
      {% if publications %}
        <div class="row" style="width:90%"> 
          <h3 class="news-type-label">Publications</h3>
          {% for pub in publications %}
              {% include "snippets/display_pub_snippet.html" with orientation="vertical"%}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row" id="below-sidebar">
    
    <div class="row row-adjust-margins">
      {% if videos %}
        <h3 class="news-type-label">Videos</h3>
      {% endif %}
      {% for video in videos %}
          {% include "snippets/display_video_snippet.html" %}
      {% endfor %}
    </div>
    <div class="row row-adjust-margins">
      {% if talks %}
          <h3 class="news-type-label">Talks</h3>
      {% endif %}

      {% for talk in talks %}
          {% include "snippets/display_talk_snippet.html" %}
      {% endfor %}
    </div>
    {% if photos %}
    <div class="row row-adjust-margins">
        <h3 class="news-type-label">Photo Gallery</h3>
        {% for image in photos %}
          <div class="col-md-4 project-gallery-col" id="slide{{ forloop.counter }}">
            <img class="project-gallery" 
                src="{% thumbnail image.picture image.get_cropping_size_as_str box=image.cropping crop=True detail=True upscale=True %}" 
                alt="{{image.alt_text}}" >
            <div class="overlay-image">
                <div class="image-gallery-caption">{{image.caption}}</div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% include "snippets/display_project_gallery_lightbox.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
