{% extends 'website/base.html' %}

{% block pagetitle %}
  Makeability Lab Projects
{% endblock %}

{% load static %}
{% load cropping %}
{% load thumbnail %}
{% load ml_tags %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'website/css/project-listing.css' %}" />
  {% comment %} <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}" />
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}" />
  <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}" /> {% endcomment %}
{% endblock %}

{% block external_scripts %}
  {% comment %} <script src="{% static 'website/js/jquery-ui.min.js' %}"></script> {% endcomment %}
{% endblock %}

{% block maincarousel %}
  {% comment %} {% include 'snippets/display_short_carousel_snippet.html' %} {% endcomment %}
{% endblock %}

{% block content %}
  
  <div id="content" class="container">
    <div id="makelab-projects" class="makelab-content-container">
      <h1>Projects</h1>
      {% for key, value in map_project_umbrella_to_projects.items %}
          <p>{{ key }}: {{ value }}</p>
      {% endfor %}
      <!-- We only display projects that have a thumbnail and at least one publication -->
      <div class="project-grid">
        {% for project in active_projects %}
          {% if project.has_thumbnail and project.has_publication %}
            {% include 'snippets/display_project_snippet.html' %}
          {% endif %}
        {% endfor %}
      </div>
      <h2>Completed Projects</h2>
      <div class="project-grid">
        {% for project in completed_projects %}
          {% if project.has_thumbnail and project.has_publication %}
            {% include 'snippets/display_project_snippet.html' %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
