{#	TODO: limit keywords/projects by page size to avoid overflow #}
{#	TODO: auto-add using bibtex #}

{% extends "website/base.html" %}

{% block pagetitle %}Publications{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'website/css/publications.css' %}">
<link rel="stylesheet" href="{% static 'website/css/fixed_side_bar.css' %}">
<link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}">
{% endblock %}

{% block external_scripts %}

<script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'website/js/fixedSideBar.js' %}"></script>
<script src="{% static 'website/js/filterBar.js' %}"></script>
<script src="{% static 'website/js/publications.js' %}"></script>
<script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'website/js/citationPopover.js' %}"></script>



{% endblock %}

{% block scripts %}
    {% load ml_tags %}
    var publications = [
        {% for pub in publications %}
        {
            "id": "A.###",
            "title": "{{ pub.get_title }}",
            "authors": [
            {% for author in pub.authors.all %}
                {
                "name": "{{ author.get_full_name }}",
                "first_name": "{{ author.first_name }}",
                "middle_name": "{{ author.middle_name }}",
                "last_name": "{{ author.last_name }}",
                "link": "{% url 'website:member' author.get_url_name %}"
                },
            {% endfor %}
            ],
            "date": {{ pub.date|jsdate }},
            "pdf": "../../media/{{ pub.pdf_file }}",
            "video_url": "{{ pub.video.video_url }}",
            "thumbnail": "{% thumbnail pub.thumbnail 300x0 detail %}",
            "venue": "{{ pub.book_title_short }}",
            "pub_type": "{{ pub.pub_venue_type }}",
            "geo_location": "{{ pub.geo_location }}",
            "series": "{{ pub.series }}",
            "page_num_start": "{{ pub.page_num_start }}",
            "page_num_end": "{{ pub.page_num_end }}",
            "book_title": "{{ pub.book_title }}",
            "url": "{{ pub.official_url }}",
            "doi": "{{ pub.doi }}",
            "publisher": "{{ pub.publisher }}",
            "publisher_address": "{{ pub.publisher_address }}",
            "isbn": "{{ pub.isbn }}",
            "best_paper": "{% static 'website/img/bestpaper.png' %}",
            "honorable_mention": "{% static 'website/img/honorablemention.png' %}",
            "award_banner": "{% static 'website/img/awardoverlay.png' %}",
            {% if pub.award %}"award": "{{ pub.award }}",{% endif %}
            {% if pub.total_papers_accepted and pub.total_papers_submitted %}
                "total_papers_accepted": {{ pub.total_papers_accepted }},
                "total_papers_submitted": {{ pub.total_papers_submitted }},
            {% endif %}
            {% if pub.page_num_start %} "start_page": {{ pub.page_num_start }},{% endif %}
            {% if pub.page_num_end %} "end_page": {{ pub.page_num_end }},{% endif %}
            {% if pub.num_pages %} "num_pages": {{ pub.num_pages }},{% endif %}
            "to_appear": {% if pub.to_appear %}true{% else %}false{% endif %},
            "keywords": [
                {% for keyword in pub.keywords.all %}
                    "{{ keyword.keyword }}",
                {% endfor %}
            ],
            "projects": [
                {% for project in pub.projects.all %}
                    "{{ project.short_name }}",
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    initialFilter = "{{ filter }}";
    initialGroupBy = "{{ groupby }}";

{% endblock %}

{% block maincarousel %}
<div id="mainCarousel" class="carousel slide carousel-fade shortCarousel" data-ride="carousel" data-interval="10000" data-pause="false">
    <div class="page-title shadow-left">
        <div class="container carousel-container">
            <div class="overlay-title">Publications</div>
        </div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for banner in banners %}
        <div class="item {% if forloop.first %}active{% endif %}">
	    {% if banner.link %}
	    <a href="{{banner.link}}">
		{% else %}
		{% if banner.project %}
		<a href="{% url 'website:project' banner.project.short_name %}">
		    {% endif %}
		    {% endif %}
		    <div class="fill" style="background-image:url({% cropped_thumbnail banner "cropping" scale=1.0 %})" aria-label="{{ banner.alt_text }}" title="{{ banner.alt_text}}"></div>
		    <!-- <div class="overlay">
			 <div class="container carousel-container">
			 <div class="carousel-caption carousel-caption-right">
			 {% autoescape off %} {# enable HTML tags #}
			 <div class="carousel-caption-title">
			 {{ banner.title }}
			 </div>
			 <div class="carousel-caption-text">
			 {{ banner.caption }}
			 </div>
			 {% endautoescape %}
			 </div>
			 </div>
			 </div> -->
		    {% if banner.link %}</a>{% endif %}
		{% if banner.project %}
	    </a>
	    {% endif %}
        </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators"  {% if banners|length < 2 %} style="display: none" {% endif %}>
        {% for banner in banners %}
        <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

{% block content %}
<div id="content" class="container">

    <!-- TODO: the sidebar goes *over* the new footer; it should go under -->
    <div class="visible-xs">
	    <br/>
	    <input class="shortTextbox" id="filter-textbox-backup" placeholder="FILTER" type="text" value="">
    </div>

    <div id="fixed-side-bar" class="hidden-xs">
	    <div id="filter-bar">
	    </div>
	</div>

	<div class="publication-list" id="main-content">
	    Loading content... (Please make sure JavaScript is enabled)
	    <h1 class="group-template row" name="Group Name"></h1>
	    <div class="publication-template">
            <div class="publication-id">id</div>
                <div class="publication-thumbnail">
                    <a href="link" class="publication-thumbnail-link">
                        <img src="" class="publication-thumbnail-image img-responsive"/>
                    </a>
                </div>
                <div class="publication-info">
                    <p class="artifact-title">Paper Title</p>
                    <p class="publication-authors">
                        <span class="publication-author"><a href="link">Author Name</a>,&nbsp;</span>
                        <span class="publication-author-last"><a href="link">Author Name</a></span>
                    </p>
                    <p class="publication-stats">
                        <span class="publication-venue">Venue Name</span>
                        <span class="publication-to-appear-text">To Appear</span>
                        <span class="publication-award">| <span class="publication-award-text">Award Name</span> <span class="publication-award-icon"><i class=\"fa fa-trophy\" aria-hidden="true"></i></span></span>
                        <span class="publication-acceptance-rate">| <span class="publication-acceptance-rate-text">Acceptance Rate: ##% (# / #)</span></span>
                    </p>
                    <p class="publication-keywords hidden-xs">
                    keywords:
                    <span class="publication-keyword"><span class="publication-keyword-text">keyword</span>,&nbsp;</span>
                    <span class="publication-keyword-last"><span class="publication-keyword-text">keyword</span></span>
                    </p>
                    <div class="publication-download">Download: <a href="link" class="publication-download-link">[pdf]</a> <span class="publication-doi-link-label">| Official Link: <a href="link" class="publication-doi-link">[doi]</a></span> <span class="publication-video-link-label">| Video: <a href="link" class="publication-video-link">[youtube]</a></span> <span class="citation-link">| Export <a data-toggle="popover" data-html="true" data-trigger="manual" tabindex="0" title="Citation" data-content="Empty Citation" class="publication-citation-link">[Citation]</a></span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
