{#	TODO: limit keywords/projects by page size to avoid overflow #}
{#	TODO: auto-add using bibtex #}

{% extends "website/base.html" %}

{% block pagetitle %}Publications{% endblock %}

{% load staticfiles %}
{% load thumbnail %}

{% block scripts %}
	
	var groupMode = "year";

	var filterTop = 0, filterInitOffset = 0;
	$(window).load(function () {
		filterTop = $('.filter-bar').offset().top - parseInt($('.filter-bar').css('margin-top'));
		filterInitOffset = $('.filter-bar').css('top');

		$("#filter-textbox").on("propertychange change keyup paste input", function(){
			groupPublications();
	    	updateDisplay();
		});

		// Hide popovers when clicking outside, but not when clicking inside
		// from: http://stackoverflow.com/a/14857326
		// LS: this is a bit of a hack, since the default click behavior leaves them open
		// until you click on the button again, but the default focus behavior prevents you
		// from interacting with the content of the popover
		$('body').on('click', function (e) {
		    $('[data-toggle="popover"]').each(function () {
		        //the 'is' for buttons that trigger popups
		        //the 'has' for icons within a button that triggers a popup
		        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
		            $(this).popover('hide');
		        }
		    });
		});

		preprocessPublications();
		groupPublications();
		updateDisplay();
	});

	$(window).resize(resize);

	$(window).scroll(function(event) {
		// check the vertical position of the scroll
        var y = $(this).scrollTop();

        var filterBar = $('.filter-bar');

        // is it below the form?
        if (y >= filterTop) {
            // if so, set fixed position
            filterBar.css('position', 'fixed');
            filterBar.css('top', '0');
            filterBar.css('left', parseInt($('#content').css('margin-left')) + "px");
        } else {
            // otherwise set absolute position
            filterBar.css('position', 'absolute');
            filterBar.css('top', filterInitOffset);
            filterBar.css('left', "0");
        }
	});

	var pubTypeCodes = {
		"Conference": "C",
    	"Article": "A",
    	"Journal": "J",
    	"Book Chapter": "BC",
    	"Book": "B",
    	"MS Thesis": "T",
    	"PhD Dissertation": "D",
    	"Workshop": "W",
	    "Poster": "P",
	    "Demo": "Dm",
	    "Work in Progress": "WiP",
	    "Late Breaking Result": "LBR",
	    "Other": "O"
	};

	function preprocessPublications() {
		var pubTypeCount = {};
		publications.sort(function(a, b) {
			return a.date - b.date;
		});
		publications.forEach(function(pub, index, array) {
			if(!(pub.pub_type in pubTypeCount)) {
				pubTypeCount[pub.pub_type] = 1;
			} else {
				pubTypeCount[pub.pub_type]++;
			}

			pub.id = "[" + pubTypeCodes[pub.pub_type] + "." + pubTypeCount[pub.pub_type] + "]";
		});
		publications.reverse();
		publications.forEach(function(pub, index, array) {
			pub["index"] = index;
		});
	}

	function setGrouping(newGroupMode) {
		groupMode = newGroupMode;
		groupPublications();
		updateDisplay();
	}

	function groupPublications() {
		$(".group-type").removeClass("filter-selected");
		$("#group-" + groupMode).addClass("filter-selected");

		var tempGroupedPublications = {};
		groupedPublications = [];
		publications.forEach(function(pub, index, array) {
			if(!passesFilter(pub)) return;
			if(groupMode === "year") {
				var group = pub.date.getFullYear().toString();
				if(!(group in tempGroupedPublications)) {
					tempGroupedPublications[group] = [];
				}
				tempGroupedPublications[group].push(pub);
			} else if(groupMode === "pub-type") {
				var group = pub.pub_type;
				if(!(group in tempGroupedPublications)) {
					tempGroupedPublications[group] = [];
				}
				tempGroupedPublications[group].push(pub);
			} else if(groupMode === "keyword") {
				var groups = pub.keywords;
				groups.forEach(function(group, index, array) {
					if(!(group in tempGroupedPublications)) {
						tempGroupedPublications[group] = [];
					}
					tempGroupedPublications[group].push(pub);
				});
			} else if(groupMode === "project") {
				var groups = pub.projects;
				groups.forEach(function(group, index, array) {
					if(!(group in tempGroupedPublications)) {
						tempGroupedPublications[group] = [];
					}
					tempGroupedPublications[group].push(pub);
				});
			} else {
				var group = "Chronological List";
				if(!(group in tempGroupedPublications)) {
					tempGroupedPublications[group] = [];
				}
				tempGroupedPublications[group].push(pub);
			}
		});

		for(group in tempGroupedPublications) {
			groupedPublications.push({"name": group, "items": tempGroupedPublications[group]});
		}

		if(groupMode === "year") {
			groupedPublications.sort(function(a,b) { return parseInt(b.name) - parseInt(a.name) });
		} else if(groupMode === "pub-type" || groupMode === "keyword" || groupMode === "project") {
			groupedPublications.sort(function(a,b) { return b.items.length - a.items.length });
		}

		var groupList = $(".filter-bar-items");
		if(groupMode === "none") {
			groupList.css("display", "none");
		} else {
			groupList.css("display", "block");
			var displayGroupMode = groupMode.toUpperCase().replace("-", " ");
			var data = "<h1>" + displayGroupMode + "</h1>\n"
			for(var i=0; i<groupedPublications.length; i++) {
				data += "<li><a href=\"#" + groupedPublications[i].name + "\" class=\"scroll\">" + groupedPublications[i].name + " (" + groupedPublications[i].items.length + ")</a></li>\n";
			}
			groupList[0].innerHTML = data;
		}
	}

	function passesFilter(pub) {
		var filter = $('#filter-textbox').val().toLowerCase();
		var passes = false;
		if(!filter || filter.length == 0) passes = true;

		if(pub.title.toLowerCase().indexOf(filter) >= 0) passes = true;
		if(pub.venue.toLowerCase().indexOf(filter) >= 0) passes = true;
		pub.authors.forEach(function(author, index, array) { 
			if(author.name.toLowerCase().indexOf(filter) >= 0) passes = true; 
		});
		pub.keywords.forEach(function(keyword, index, array) { if(keyword.toLowerCase().indexOf(filter) >= 0) passes = true; });
		pub.projects.forEach(function(project, index, array) { if(project.toLowerCase().indexOf(filter) >= 0) passes = true; });

		return passes;
	}

	function updateDisplay() {
		displayPublications();
		resize();
	}

	function resize() {
		var filterBar = $('.filter-bar');
		var minHeight = filterBar.height() + 10;
		var publicationList = $('#publication-list');
		publicationList.css('min-height', minHeight + "px");

		if(filterBar.css('position') == "fixed") {
			filterBar.css('left', parseInt($('#content').css('margin-left')) + "px");
		} else {
			filterBar.css('left', 0);
		}
	}

	function displayPublications() {
		var content = $("#publication-list")[0];
		var data = "";
		groupedPublications.forEach(function (group, groupIndex, groupArray) {
			var groupCount = 0;
			group.items.forEach(function(pub, pubIndex, pubArray) { if(passesFilter(pub))groupCount++; });
			if(groupCount == 0) return;

			data += "<h1 name=\"" + group.name + "\">" + group.name + "</h1>";
			group.items.forEach(function (pub, pubIndex, pubArray) {
				if(!passesFilter(pub)) return;
				data += "<div class=\"publication-row\">\n";
		        data += "	<div class=\"publication-id\">" + pub.id + "</div>\n";
		        data += "    <div class=\"publication-thumbnail\">\n";
		        data += "        <a href=\"" + pub.pdf + "\">\n";
		        data += "            <img src=\"" + pub.thumbnail + "\" class=\"img-responsive\"/>\n";
		        data += "        </a>\n";
		        data += "    </div>\n";
		        data += "    <div class=\"publication-info\">\n";
		        data += "    	<p class=\"publication-title\">" + pub.title + "</p>\n";
		        data += "    	<p class=\"publication-authors\">\n";
		        pub.authors.forEach(function(author, index, array) {
		        	data += "    		<a href=\"" + author.link + "\">" + author.name + "</a>";
		        	if(index + 1 < array.length) {
		        		data += ",&nbsp;";
		        	}
		        	data += "\n";
		    	});
		        data += "    	</p>\n";
		        data += "    	<p class=\"publication-venue\">\n";
		        data += "    		" + pub.venue + "&nbsp;\n";
		        if(pub.award) {
		        	data += "    		| <span style=\"color:#c25059\">" + pub.award + " <i class=\"fa fa-trophy\" aria-hidden=\"true\"></i></span>&nbsp;\n";
		    	}
		    	if(pub.total_papers_accepted && pub.total_papers_submitted) {
		    		data += "    		| <span style=\"font-style: bold\">Acceptance Rate: " + (pub.total_papers_accepted / pub.total_papers_submitted * 100).toFixed(0) + "% (" + pub.total_papers_accepted + " / " + pub.total_papers_submitted + ")</span>&nbsp;\n";
		    	}
		    	if(pub.to_appear) {
			        data += "    		| <span style=\"font-style: italic\">To Appear</span>&nbsp;\n";
			    }
		        data += "    	</p>\n";
		        if(pub.keywords.length > 0)
		        {
			        data += "    	<p class=\"publication-keywords\">\n";
			        data += "    	keywords:&nbsp;\n";
			        pub.keywords.forEach(function(keyword, index, array) {
				        data += "    		" + keyword.toLowerCase();
				        if(index + 1 < array.length) {
				        	data += ",&nbsp;";
				    	}
				        data += "\n";
				    });
				}
		        data += "    	</p>\n";
		        data += "    	<div class=\"publication-download\">Download: <a href=\"" + pub.pdf + "\">[pdf]</a> | Export <a data-toggle=\"popover\" data-html=\"true\" data-trigger=\"manual\" tabindex=\"0\" title=\"\Citation\" data-content=\"" + createCitationText(pub) + "\" style=\"cursor:pointer\">[Citation]</a></div>\n";
		        data += "    </div>\n";
		        data += "</div>\n";
			});
		});
		content.innerHTML = data;
		$('[data-toggle="popover"]').popover()

		// Manual trigger to get around idiosyncrasies of bootstrap's popover control
		$('[data-toggle="popover"]').click(function() {

			// prevent multiple popovers from being open at once
			var popovers = $('[data-toggle="popover"]')
			for(var i = 0; i < popovers.length; i++) {
				if(popovers[i] != this) // ignore the current popover
					$(popovers[i]).popover('hide');
			}

			// toggle this popover
			$(this).popover('toggle');
		});
	}

	function showCitation(index) {
		var text = createCitationText(publications[index]);
		alert(text);
	}

	function createCitationText(pub) {
		var text = "";
		
		// authors
		pub.authors.forEach(function(author, index, array) {
			text += author.last_name + ", " + author.first_name.substring(0,1) + ". ";
			if(author.middle_name && author.middle_name.length > 0)
				text += author.middle_name.substring(0,1) + ". ";
			text = text.substring(0, text.length-1) + ", "; // trim last space, add comma
		});
		if(text.length > 0) text = text.substring(0, text.length - 2); // trim last comma and space

		// year
		text += " (" + pub.date.getFullYear() + "). ";

		// title
		text += pub.title + ". ";

		// venue
		text += "<i>" + pub.venue + "</i>. "

		// pages
		if(pub.to_appear) {
			if(pub.num_pages) {
				text += pub.num_pages + " pages.";
			}
			text += " <i>To Appear</i>.";
		} else if(pub.start_page && pub.end_page) {
			text += pub.start_page + "&ndash;" + pub.end_page + ".";
		}

		return text;
	}

	var groupedPublications = [];
	var publications = [
		{% for pub in publications %}
		{
			"id": "A.###",
			"title": "{{pub.title}}",
			"authors": [
				{% for author in pub.authors.all %}
				{
					"name": "{{author.get_full_name}}",
					"first_name": "{{author.first_name}}",
					"middle_name": "{{author.middle_name}}",
					"last_name": "{{author.last_name}}",
					"link": "{% url 'website:member' author.id %}"
				},
				{% endfor %}
			],
			"date": new Date("{{pub.date.isoformat}}"),
			"pdf": "../../media/{{ pub.pdf_file }}",
			"thumbnail": "{% thumbnail pub.thumbnail 300x0 detail %}",
			"venue": "{{pub.book_title_short}}",
			"pub_type": "{{pub.pub_venue_type}}",
			{% if pub.award %}"award": "{{ pub.award }}",{% endif %}
			{% if pub.total_papers_accepted and pub.total_papers_submitted %}
			"total_papers_accepted": {{pub.total_papers_accepted}},
			"total_papers_submitted": {{pub.total_papers_submitted}},
			{% endif %}
			{% if pub.page_num_start %} "start_page": {{pub.page_num_start}},{% endif %}
			{% if pub.page_num_end %} "end_page": {{pub.page_num_end}},{% endif %}
			{% if pub.num_pages %} "num_pages": {{pub.num_pages}},{% endif %}
			"to_appear": {% if pub.to_appear %}true{% else %}false{% endif %},
			"keywords": [
				{% for keyword in pub.keywords.all %}
					"{{keyword.keyword}}",
				{% endfor %}
			],
			"projects": [
				{% for project in pub.projects.all %}
					"{{project.short_name}}",
				{% endfor %}
			]
		},
		{% endfor %}
	];

{% endblock %}

{% block maincarousel %}
    <div id="mainCarousel" class="carousel slide carousel-fade shortCarousel" data-ride="carousel" data-interval="5000" data-pause="false">
        <div class="overlay carousel-caption">
            <div class="container">
                <div class="overlay-spacer"></div>
                <div class="overlay-title">Publications</div>
            </div>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="fill" style="background-image:url({% static 'website/img/banner1.jpg' %})"></div>
                <!-- <div class="carousel-caption">
                    This is a caption for carousel item 1.
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static 'website/img/banner2.jpg' %})"></div>
                <!-- <div class="carousel-caption">
                    This is a caption for carousel item 2.
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static 'website/img/banner3.png' %})"></div>
                <!-- <div class="carousel-caption">
                    This is a caption for carousel item 3.
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="content" class="container">
	<div class="filter-bar">
		<h1 style="margin-top:10px">FILTER</h1>
		<input class="shortTextbox" id="filter-textbox" type='text' value='' />

		<h1>GROUP BY</h1>

		<div class="filter-bar-categories">
	        <li id="group-year" class="group-type" onclick="setGrouping('year')">Year</li>
	        <li id="group-pub-type" class="group-type" onclick="setGrouping('pub-type')">Pub Type</li>
	        <li id="group-keyword" class="group-type" onclick="setGrouping('keyword')">Keyword</li>
	        <li id="group-project" class="group-type" onclick="setGrouping('project')">Project</li>
	        <li id="group-none" class="group-type" onclick="setGrouping('none')">None</li>
    	</div>

        <div class="filter-bar-items">
        </div>

	</div>
	<div class="publication-list" id="publication-list">
		Loading content... (Please make sure JavaScript is enabled)
	</div>
</div>
{% endblock %}