{#	TODO: limit keywords/projects by page size to avoid overflow #}
{#	TODO: auto-add using bibtex #}

{% extends "website/base.html" %}

{% block pagetitle %}Talks{% endblock %}

{% load static %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block maincarousel %}
    {% include "snippets/display_short_carousel_snippet.html" %}
{% endblock %}

{% block content %}
    <div id="content" class="container" style="margin-top: 50px">
        {% for talk in talks %}
            {% include "snippets/display_talk_snippet.html" %}
        {% endfor %}
    </div>
{% endblock %}
