{#	TODO: limit keywords/projects by page size to avoid overflow #}
{#	TODO: auto-add using bibtex #}

{% extends "website/base.html" %}

{% block pagetitle %}Talks{% endblock %}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'website/css/talks.css' %}">
<link rel="stylesheet" href="{% static 'website/css/fixed_side_bar.css' %}">

{% endblock %}

{% block external_scripts %}

<script src="{% static 'website/js/fixedSideBar.js' %}"></script>
<script src="{% static 'website/js/filterBar.js' %}"></script>
<script src="{% static 'website/js/talks.js' %}"></script>

{% endblock %}

{% block scripts %}

	var talks = [
		{% for talk in talks %}
		{
			"id": "A.###",
			"title": "{{talk.title}}",
			"speakers": [
				{% for speaker in talk.speakers.all %}
				{
					"name": "{{speaker.get_full_name}}",
					"first_name": "{{speaker.first_name}}",
					"middle_name": "{{speaker.middle_name}}",
					"last_name": "{{speaker.last_name}}",
					"link": "{% url 'website:member' speaker.id %}"
				},
				{% endfor %}
			],
			"date": new Date("{{talk.date.isoformat}}"),
			"pdf": "{{ talk.pdf_file }}",
            "pptx": "{{ talk.raw_file }}",
            "video": "{{ talk.video_url }}",
            "slideshare": "{{ talk.slideshare_url }}",
			"thumbnail": "{% thumbnail talk.thumbnail 300x0 detail %}",
			"location": "{{talk.location}}",
			"talk_type": "{{talk.talk_venue_type}}",
			{% if talk.award %}"award": "{{ talk.award }}",{% endif %}
			{% if talk.total_papers_accepted and pub.total_papers_submitted %}
			"total_papers_accepted": {{talk.total_papers_accepted}},
			"total_papers_submitted": {{talk.total_papers_submitted}},
			{% endif %}
			{% if talk.page_num_start %} "start_page": {{talk.page_num_start}},{% endif %}
			{% if talk.page_num_end %} "end_page": {{talk.page_num_end}},{% endif %}
			{% if talk.num_pages %} "num_pages": {{talk.num_pages}},{% endif %}
			"to_appear": {% if talk.to_appear %}true{% else %}false{% endif %},
			"keywords": [
				{% for keyword in talk.keywords.all %}
					"{{keyword.keyword}}",
				{% endfor %}
			],
			"projects": [
				{% for project in talk.projects.all %}
					"{{project.short_name}}",
				{% endfor %}
			]
		},
		{% endfor %}
	];

{% endblock %}

{% block maincarousel %}
    <div id="mainCarousel" class="carousel slide carousel-fade shortCarousel" data-ride="carousel" data-interval="10000" data-pause="false">
        <div class="page-title shadow-left">
            <div class="container carousel-container">
                <div class="overlay-title">Talks</div>
            </div>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for banner in banners %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <div class="fill" style="background-image:url({% cropped_thumbnail banner "cropping" scale=1.0 %})" aria-label="{{ banner.alt_text }}" title="{{ banner.alt_text}}"></div>
                    <!-- <div class="overlay">
                      <div class="container carousel-container">
                        <div class="carousel-caption carousel-caption-right">
                          {% autoescape off %} {# enable HTML tags #}
                          <div class="carousel-caption-title">
                            {{ banner.title }}
                          </div>
                          <div class="carousel-caption-text">
                            {{ banner.caption }}
                          </div>
                          {% endautoescape %}
                        </div>
                      </div>
                    </div> -->
                </div>
            {% endfor %}
        </div>
        <ol class="carousel-indicators">
          {% for banner in banners %}
          <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
       </ol>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="fixed-side-bar">
            <div id="filter-bar">
            </div>
        </div>
        <div class="talk-list" id="main-content">
            Loading content... (Please make sure JavaScript is enabled)
            <h1 class="group-template" name="Group Name"></h1>
            <div class="talk-template">
            	<div class="talk-info">
                   <div class="talk-thumbnail">
                    <a href="link" class="talk-thumbnail-link">
                        <img src="" class="talk-thumbnail-image img-responsive"/>
                    </a>
                	</div>
                    <p class="talk-title">Paper Title</p>
                    <p class="talk-speakers">
        				<span class="talk-speaker"><a href="link">Speaker Name</a>,&nbsp;</span>
                        <span class="talk-speaker-last"><a href="link">Speaker Name</a></span>
        			</p>
                    <p class="talk-stats">
        				<span class="talk-date">Talk Date</span> | 
                    	<span class="talk-location">Talk Location</span>
		    		</p>
        			<div class="talk-download">
                		<a href="link" class="talk-pdf-link">PDF</a>
                    	<span class="decor_pptx"> | </span><a href="link" class="talk-pptx-link">PPTX</a>
                    	<span class="decor_slideshare"> | </span><a href="link" class="talk-slideshare-link">Slideshare</a>
                    	<span class="decor_video"> | </span><a href="link" class="talk-video-link">Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
