{% extends "website/base.html" %}

{% block pagetitle %}Makeability Lab Videos{% endblock %}

{% load static %}
{% load cropping %}
{% load ml_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>

    {# humanize-duration is used to pretty print date ages, see https://github.com/EvanHahn/HumanizeDuration.js #}
    {# we use it, for example, to pretty print the age of videos #}
    <script src="{% static 'website/js/humanize-duration.js' %}"></script>
{% endblock %}

{% block maincarousel %}
    {% include "snippets/display_short_carousel_snippet.html" %}
{% endblock %}

{% block content %}
    <div id="makelab-videos" class="container-fluid makelab-content-container">
        <div class="section" style="margin-top: 50px;">
            {% for video in videos %}
                {% include "snippets/display_video_snippet.html" %}
                {# TODO: need to add margin-bottom here of like 40px #}
{#                <div class="empty-space" style="min-height: 40px"/>#}
            {% endfor %}
        </div>
    </div>
{% endblock %}
