{#	TODO: limit keywords/projects by page size to avoid overflow #}

{% extends "website/base.html" %}

{% block pagetitle %}Videos{% endblock %}

{% load staticfiles %}
{% load cropping %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/video.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/fixed_side_bar.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-modifications.css' %}">
{% endblock %}

{% block external_scripts %}
    <script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'website/js/fixedSideBar.js' %}?version=2"></script>
    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>

    <script src="{% static 'website/js/isotope/isotope-filterBar.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-init.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-header-creator.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-filtering.js' %}"></script>
    <script src="{% static 'website/js/isotope/isotope-sorting.js' %}"></script>
{% endblock %}

{% block maincarousel %}
    <!-- TODO: would be great if the video carousel background images were videos that auto-played. Obviously, hardest part about that is video aspect ratio -->
    <div id="mainCarousel" class="carousel slide carousel-fade shortCarousel" data-ride="carousel" data-interval="10000" data-pause="false">
        <div class="page-title shadow-left">
            <div class="container carousel-container">
                <div class="overlay-title">Videos</div>
            </div>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for banner in banners %}
            <div class="item {% if forloop.first %}active{% endif %}">
		{% if banner.link %}
		<a href="{{banner.link}}">
		    {% else %}
		    {% if banner.project %}
		    <a href="{% url 'website:project' banner.project.short_name %}">
			{% endif %}
			{% endif %}
			<div class="fill" style="background-image:url({% cropped_thumbnail banner "cropping" scale=1.0 %})" aria-label="{{ banner.alt_text }}" title="{{ banner.alt_text}}"></div>
			{% if banner.link %}</a>{% endif %}
		    {% if banner.project %}
		</a>
		{% endif %}
            </div>
            {% endfor %}
        </div>
        <ol class="carousel-indicators"  {% if banners|length < 2 %} style="display: none" {% endif %}>
          {% for banner in banners %}
          <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
       </ol>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="container">

        <div class="visible-xs">
            <br/>
            <input class="shortTextbox" id="filter-textbox-backup" placeholder="FILTER" type="text" value="">
        </div>

        <div id="fixed-side-bar" class="hidden-xs ">
            <div id="keywords-filtering">
                <div id="keywords-sorting">
                    <h1>Sort By</h1>
                    <ul style="list-style-type: none">
                        <li><a sorting-order="false">Year</a></li>
                        <li><a sorting-order="true">Project</a></li>
                        <li><a style="font-weight:bold" sorting-order="false">None</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class = "isotope_data_container" style="display:none">
            sortFilterContainer(.sortingAndFiltering,str)
            gridName(.grid,str)
            headerClass(h1,str)
            headerStyle(margin: 0; background: white;,str)
            filteringKeywordContainer(#keywords-filtering,str)
            sortingKeywordContainer(#keywords-sorting,str)
            sideBarContainer(#fixed-side-bar,str)
            scrollTop(100,int)
        </div>

        <!-- display without javascript -->
        <div class="video-list" id="main-content">
            <div class="grid">
                {% for video in videos %}
                    <div class="item" name = "video" style="width:30%; min-width: 200px; margin:1.5%; background:white">
                        <div class="video-container">
                            <iframe class="video" src="{{video.get_embed}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <p class="video-title line-clamp">{{video.title}}</p>
                        <p class="video-location line-clamp-one-line">{{video.caption}} </p>
                        <p class="video-links">
                            <a href="{{video.video_url}}">YouTube</a>
                            {% if video.publication %}
                            | <a href="../../media/{{video.publication.pdf_file}}">Paper</a>
                            {% endif %}
                        </p>

                        <div class="sortingAndFiltering" style="display:none">Year({{ video.date.year }},int)Project({{video.project.name}},str)</div>
                        <div class="Date" style="display:none">{{ video.date|date:"U" }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
