{% comment %} {% extends "website/base.html" %} {% endcomment %}
{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<link rel="stylesheet" href="{% static 'website/css/people.css' %}">
<link rel="stylesheet" href="{% static 'website/css/view_project_people.css' %}">


{{project}}

<div class="people-grid">
  {% for person in people_only %}
    <div class="person">
      <a href="{% url 'website:member_by_name' member_name=person.url_name %}">
        <img src="{% thumbnail person.image person.get_thumbnail_size_as_str box=person.cropping crop=True upscale=True detail=True%}" 
            alt="{{ person.get_full_name }}" 
            data-alt-src="{% thumbnail person.easter_egg person.get_thumbnail_size_as_str box=person.easter_egg_crop crop=True upscale=True detail=True %}" 
            width=90%"/>
      </a>
      <div class="person-name">
        <a href="{% url 'website:member_by_name' member_name=person.url_name %}">
          {{ person.get_full_name }}
        </a>
      </div>
      {% with position=person.get_latest_position %}
        {% if person.last_name == "Froehlich" %}
          <div class="person-title">Lab Director</div>
        {% else %}
          <div class="person-title">{{ position.title }}</div>
        {% endif %}
        <div class="person-affiliation">{{ position.get_school_abbreviated }} {{ position.get_department_abbreviated }} </div>
      {% endwith %}
    </div>
  {% endfor %}
</div>