token.txt
media/
import/temp/*
.idea/vcs.xml
.idea/workspace.xml
db.sqlite3
website/__pycache__
website/utils/__pycache__
makeabilitylab/__pycache__
website/migrations/
website/migrations_old/
website/migrations/__pycache__
*.pyc
config.ini
*.suo
*.user
bin
obj
\#*\#
output
ssl_access_log
.idea/inspectionProfiles/Project_Default.xml\
.idea/makeabilitylab.iml

.idea/misc.xml

.idea/misc.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/makeabilitylabwebsite.iml

.idea/modules.xml

makeabilitylab_django.log
media/*
static/*
!media/images/StarWarsFiguresFullSquare/Rebels



.DS_Store

nbproject
docker_makelab_build.log
a11y-report.json
