media/
import/temp/*
.idea/vcs.xml
.idea/workspace.xml
db.sqlite3
website/__pycache__
website/utils/__pycache__
makeabilitylab/__pycache__
website/migrations/
website/migrations/__pycache__
*.pyc
config.ini
*.suo
*.user
bin
obj
\#*\#
output
ssl_access_log
.idea/inspectionProfiles/Project_Default.xml\
.idea/makeabilitylab.iml

.idea/misc.xml

.idea/misc.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/makeabilitylabwebsite.iml

.idea/modules.xml

makeabilitylab_django.log


#############################################################################################################
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm #
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839								#
#############################################################################################################

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
