# Run `pip3 install -r requirements.txt` to install dependencies
#
# If you want to view the installed Python packages on the Docker container:
# 1. Make sure the Makeability Lab website container is running
# 2. From command line, run: > docker exec -it makeabilitylabwebsite-website-1 bash
# 3. Now you're in the Docker container, run: apache@eee162a179fd:/code$ pip3 list
# 4. Confirm that all of the packages that you expect to be installed are there.
#
# If you need to install new packages in the Docker container, you can try:
# 1. docker ps // this gets a list of current processes/containers running
# 2. docker exec -it -u root <container_id> /bin/bash
# 3. Then here, you can install a new package like: > pip3 install django==4.2.16 
#    or you could even run: > pip3 install -r requirements.txt
# 
# You can also try to see which version of libraries are installed by running:
# 1. docker run -it makelab_image bash
# 2. pip3 list
# Or even commands like: python -m django --version

# Django upgrade notes: https://www.djangoproject.com/download/
# Upgraded to 4.2.7 on 11/07/2023
# Upgraded to 4.2.16 on 09/23/2024
django==4.2.16 

django-debug-toolbar==4.2.0 # Used for debugging: https://django-debug-toolbar.readthedocs.io/en/latest/
psycopg2==2.9.5 # Psycopg is the most popular PostgreSQL database adapter for Python. https://pypi.org/project/psycopg2/
wand==0.6.10 # Used for generating thumbnails of PDFs and other image manipulation: https://pypi.org/project/Wand/
Pillow==9.3.0 # Used for image manipulation: https://pypi.org/project/Pillow/

django-image-cropping==1.7 # Used for cropping images https://pypi.org/project/django-image-cropping/
easy_thumbnails==2.8.3 # Used in concert with django-image-cropping to generate thumbnails https://pypi.org/project/easy-thumbnails/
django-sortedm2m==3.1.1 # Used for SortedManyToManyFields: https://pypi.org/project/django-sortedm2m/
djangorestframework==3.14 # JEF (Oct 16, 2023); we use this in urls.py but not sure if we need to. Needs to be checked

pyOpenSSL==22.1.0
requests==2.31.0

django-sortedm2m-filter-horizontal-widget==2.0.1 # Used for SortedManyToManyFields in admin interface: https://pypi.org/project/django-sortedm2m-filter-horizontal-widget/
django-ckeditor==6.5.1 # Used for news editor https://pypi.org/project/django-ckeditor/

# Careful, we only want to use whitenoise in development for testing 404 pages
# It allows us to serve static files in development with DEBUG=False
# See: 
# - https://stackoverflow.com/questions/63116823/django-not-applying-css-file-from-app-on-404-page#:~:text=for%20the%20shortcut.-,Share,-Edit
# - https://stackoverflow.com/questions/5836674/why-does-debug-false-setting-make-my-django-static-files-access-fail
# whitenoise==6.7.0 # Used for serving static files: https://pypi.org/project/whitenoise/

# bibtexparser==1.4.0 # We used to use this for importing data: https://pypi.org/project/bibtexparser/
# beautifulsoup4==4.11.1 # JEF (Oct 16, 2023); not sure why/when we used this
# django-extensions==3.2.1 # JEF (Oct 16, 2023); not sure why we want this
# xmltodict==0.13.0 # JEF (Oct 16, 2023); we used to use this for importing data but no longer need it

