# Run `pip3 install -r requirements.txt` to install dependencies
#
# If you want to view the installed Python packages on the Docker container:
# 1. Make sure the Makeability Lab website container is running
# 2. From command line, run: > docker exec -it makeabilitylabwebsite-website-1 bash
# 3. Now you're in the Docker container, run: apache@eee162a179fd:/code$ pip3 list
# 4. Confirm that all of the packages that you expect to be installed are there.

#django==3.2.15
django==4.2.5 # trying to upgrade on 9/25/2023

django-debug-toolbar==4.2.0
psycopg2==2.9.5
djangorestframework==3.14
beautifulsoup4==4.11.1
wand==0.6.10
bibtexparser==1.4.0
Pillow==9.3.0
django-extensions==3.2.1
django-image-cropping==1.7
django-sortedm2m==3.1.1
easy_thumbnails==2.8.3
xmltodict==0.13.0
pyOpenSSL==22.1.0
requests==2.31.0

# Seems incompatible with Django 4+ because no more force_text
# django-sortedm2m-filter-horizontal-widget==1.3.2 # 

django-ckeditor==6.5.1
