{# This is a reusable template for displaying video #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-column">
    <div class="video">
        {# TODO: fix this on mobile; has weird aspect ratio because of fixed height  #}
        <iframe class="youtube-player" src="{{ video.get_embed }}" frameborder="0" allowfullscreen></iframe>

        <p class="artifact-title line-clamp" style="margin-top: 0px;">{{ video.title }}</p>
        {# TODO Consider adding in age of video and author #}
        <p class="artifact-links">
            <a href="{{ video.video_url }}">YouTube</a>
            {# TODO: fix this so that we are not using a constant for the media dir link #}
            {% if video.publication %}
                | <a href="../../media/{{ video.publication.pdf_file }}">Paper</a>
            {% endif %}
            {% if video.project %}
                | <a href="{% url 'website:project' video.project.short_name %}">{{ video.project.name }}</a>
            {% endif %}
        </p>
    </div>
</div>