{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% if orientation == "horizontal" %}
    <div class="col-xs-12 col-md-4 pub-column" style="margin-bottom: 20px;">
        <!-- TODO: add in best paper icon, etc. -->
        <div class="pub-thumbnail" style="float: left; margin-right: 7px;">
            <a href="../../media/{{ pub.pdf_file }}" class="pub-thumbnail-link">
                <img src="{% thumbnail pub.thumbnail 300x0 detail %}" class="pub-thumbnail-image2 img-responsive"
                     style="max-width: 100px;">
            </a>
            {% if pub.award %}
                <img src="/static/website/img/awardoverlay.png" class="publication-award-banner">
            {% endif %}
        </div>

        <a href="../../media/{{ pub.pdf_file }}">
            <span class="artifact-title line-clamp" style="margin-top: 0px;">{{ pub.title }}</span>
        </a>
        <p class="artifact-venue line-clamp-one-line">
            {{ pub.book_title_short }}
            {% if pub.to_appear %}
                <span class="pub-to-appear-text">To Appear</span>
            {% endif %}
            <span class="publication-award">| <span class="publication-award-text">{{ pub.award }}</span> <span
                    class="publication-award-icon"><i class=\"fa fa-trophy\" aria-hidden="true"></i></span></span>
        </p>
        <p class="artifact-authors line-clamp3">
            {% for author in pub.authors.all %}
                <a href="{% url 'website:member' author.url_name %}">{{ author.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <!-- We only show the download bar if there is a paper to download. And, thankfully, this if condition checks that
             pub.pdf_file exists, is not empty, and is not a false boolean value. See https://docs.djangoproject.com/en/1.9/ref/templates/builtins/#if-->
        {% if pub.pdf_file %}
            <p class="pub-download-links">
                <a href="../../media/{{ pub.pdf_file }}">PDF</a>
                {% if pub.official_url %}<a href="{{ pub.official_url }}">| doi</a>{% endif %}
                {% if pub.talk.pdf_file %}<a href="../../media/{{ pub.talk.pdf_file }}">| Talk</a>{% endif %}
                <span class="citation-link">| <a data-toggle="popover" data-html="true" data-trigger="manual"
                                                 tabindex="0"
                                                 title="Citation" data-content="Empty Citation"
                                                 class="publication-citation-link">Citation</a></span>
                {% for project in pub.projects.all %}
                    | <a href="{% url 'website:project' project.short_name %}">{{ project.name }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% else %}
    <div class="row publication-template">
        <div class="publication-thumbnail">
            <a href="../../media/{{ pub.pdf_file }}" class="publication-thumbnail-link">
                <img src="{% thumbnail pub.thumbnail 300x0 detail %}"
                     class="publication-thumbnail-image img-responsive">
            </a>
            {% if pub.award %}
                <img src="/static/website/img/awardoverlay.png" class="publication-award-banner">
            {% endif %}
        </div>
        <div class="publication-info">
            <p class="publication-title">{{ pub.title }}</p>
            <p class="publication-authors">
                {% for author in pub.authors.all %}
                    <a href="{% url 'website:member' author.url_name %}">{{ author.get_full_name }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
            <p class="publication-stats">
                <span class="publication-venue">
                    {% if pub.is_extended_abstract and "Poster" not in pub.book_title_short and "Extended" not in pub.book_title_short %}
                        Extended Abstract {{ pub.book_title_short }}
                    {% else %}
                        {{ pub.book_title_short }}
                    {% endif %}
                    {% if pub.to_appear %}
                        <span class="publication-to-appear-text">To Appear</span>
                    {% endif %}
                </span>
                {% if pub.total_papers_accepted %}
                    <span class="publication-acceptance-rate">|
                        <span class="publication-acceptance-rate-text">
                            {# Formatting strings with Django templates: #}
                            {# https://docs.djangoproject.com/en/1.11/ref/templates/builtins/#stringformat #}
                            Acceptance Rate: {{ pub.get_acceptance_rate|stringformat:".1f" }}%
                            ({{ pub.total_papers_accepted }} / {{ pub.total_papers_submitted }})
                        </span>
                    </span>
                {% endif %}
            </p>
            <p class="publication-keywords hidden-xs">
                keywords:
                <span class="publication-keyword"><span class="publication-keyword-text">
				{% for keyword in pub.keywords.all %}
                    {% if forloop.last %}
                        {{ keyword.keyword }}
                    {% else %}
                        {{ keyword.keyword }},
                    {% endif %}
                {% endfor %}
			    </span></span>
            </p>

            {% if pub.pdf_file %}
                <p class="pub-download-links">
                    <a href="../../media/{{ pub.pdf_file }}">PDF</a>
                    {% if pub.official_url %}<a href="{{ pub.official_url }}">| doi</a>{% endif %}
                    {% if pub.talk.pdf_file %}<a href="../../media/{{ pub.talk.pdf_file }}">| Talk</a>{% endif %}
                    <span class="citation-link">| <a data-toggle="popover" data-html="true" data-trigger="manual"
                                                     tabindex="0"
                                                     title="Citation" data-content="Empty Citation"
                                                     class="publication-citation-link">Citation</a></span>
                    {% for project in pub.projects.all %}
                        | <a href="{% url 'website:project' project.short_name %}">{{ project.name }}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}