{# This is a reusable template for displaying video #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-column">
  <div class="video" style="height: 300px; margin-bottom: 20px;">
    {# TODO: fix this on mobile; has weird aspect ratio because of fixed height  #}
    <iframe class="video-player" src="{{ video.get_embed }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    <p class="artifact-title line-clamp" style="margin-top: 0px;">{{ video.title }}</p>

    <p class="artifact-links">
      <a href="{{ video.video_url }}">{{ video.get_video_host_str }}</a>
      {# TODO: fix this so that we are not using a constant for the media dir link #}

      {# We can access the linked video publication, if one exists, using Django's 'reverse' query, #}
      {# which if you define a OneToOneField on your model--as we did in Publication for video-- #}
      {# then we can access the related object like this: video.publication #}
      {% if video.has_publication %}
        | <a href="{{ MEDIA_URL }}{ video.publication.pdf_file }}">Paper</a>
      {% endif %}
      
      {% for project in video.projects.all %}
        {% if forloop.first and video.projects.all|length > 0 %}| {% endif %}
        {% if project.can_show_online %}
            <a href="{% url 'website:project' project.short_name %}">{{ project.name }}</a>{% if not forloop.last %} • {% endif %}
        {% endif %}
      {% endfor %}

      {# humanize-duration.js must be loaded for this to work #}
      <script>
        /**
         * Display video age or release date depending on whether the video
         * has already been released or is scheduled for future release.
         */
        (function() {
          {% autoescape off %}
            const ageInMs = {{ video.get_age_in_ms }};
            
            // Check if the video has a future release date (negative age)
            if (ageInMs < 0) {
              console.log("Video age in ms: " + ageInMs);
              console.log("Video is scheduled for future release.");
              // Video is in the future - display the release date
              const releaseDate = new Date("{{ video.date|date:'c' }}");
              console.log("Posted date string: {{ video.date|date:'c' }}");
              console.log("Release date object: " + releaseDate);
              console.log("Release date as ISO string: " + releaseDate.toISOString());
              const formattedDate = releaseDate.toLocaleDateString('en-US', { 
                year: 'numeric', 
                month: 'short', 
                day: 'numeric' 
              });
              console.log("Formatted release date: " + formattedDate);
              document.write("• Releases " + formattedDate);
            } else {
              // Video is in the past - display time ago
              const age = humanizeDuration(ageInMs, { largest: 1 });
              document.write("• " + age + " ago");
            }
          {% endautoescape %}
        })();
      </script>
    </p>
  </div>
</div>