{# This is a reusable template for displaying video #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-column">
  <div class="video" style="height: 300px; margin-bottom: 20px;">
    {# TODO: fix this on mobile; has weird aspect ratio because of fixed height  #}
    <iframe class="video-player" src="{{ video.get_embed }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    <p class="artifact-title line-clamp" style="margin-top: 0px;">{{ video.title }}</p>

    <p class="artifact-links">
      <a href="{{ video.video_url }}">{{ video.get_video_host_str }}</a>
      {# TODO: fix this so that we are not using a constant for the media dir link #}

      {# We can access the linked video publication, if one exists, using Django's 'reverse' query, #}
      {# which if you define a OneToOneField on your model--as we did in Publication for video-- #}
      {# then we can access the related object like this: video.publication #}
      {% if video.has_publication %}
        | <a href="{{ MEDIA_URL }}{ video.publication.pdf_file }}">Paper</a>
      {% endif %}
      
      {% for project in video.projects.all %}
        {% if forloop.first and video.projects.all|length > 0 %}| {% endif %}
        {% if project.can_show_online %}
            <a href="{% url 'website:project' project.short_name %}">{{ project.name }}</a>{% if not forloop.last %} • {% endif %}
        {% endif %}
      {% endfor %}

      {# humanize-duration.js must be loaded for this to work #}
      <script>
        {% autoescape off %}
          age = humanizeDuration({{ video.get_age_in_ms }}, { largest: 1 })
          document.write("• " + age + " ago")
        {% endautoescape %}
      </script>
    </p>
  </div>
</div>