{# This is a reusable template for displaying short carousels. It is very much like the carousel used in base.html #}
{# except for a few key differences: (1) the title here is the page title; (2) the carousel is shorter; (3) no captions are allowed  #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<div id="mainCarousel" class="carousel slide carousel-fade shortCarousel" data-ride="carousel" data-interval="10000"
     data-pause="false">
    <div class="page-title shadow-left">
        <div class="container carousel-container">
            {#  | title is built into Django, how handy! see: https://stackoverflow.com/questions/14268342/make-the-first-letter-uppercase-inside-a-django-template #}
{#            <div class="overlay-title">{{ request.path|title|slice:"1:"|slice:":-1" }}</div>#}
            <div class="overlay-title">
                {% if page_title %}
                    {{ page_title }}
                {% else %}
                    {{ request.path|get_url_page|title }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for banner in banners %}
            <div class="item {% if forloop.first %}active{% endif %}">
                {% if banner.link %}
                    <a href="{{ banner.link }}">
                {% elif banner.project %}
                    <a href="{% url 'website:project' banner.project.short_name %}">
                {% endif %}
                <div class="fill" style="background-image:url({% cropped_thumbnail banner "cropping" scale=1.0 %})"
                     aria-label="{% if banner.alt_text %}{{ banner.alt_text }}{% else %}{{ banner.caption }}{% endif %}"
                     title="{% if banner.alt_text %}{{ banner.alt_text }}{% else %}{{ banner.caption }}{% endif %}">
                </div>
                {% if banner.link %}</a>
                {% elif banner.project %}</a>{% endif %}
            </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators"  {% if banners|length < 2 %} style="display: none" {% endif %}>
        {% for banner in banners %}
            <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</div>