{# This is a reusable template for displaying a project #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<div class="project-card" 
     data-project-keywords="{% for project_umbrella in project.project_umbrellas.all %}{{ project_umbrella.short_name }} {% endfor %}">
  <div class="project-image">
    <a href="{% url 'website:project' project.short_name %}">
      <img class="project-thumbnail" 
           src="{% thumbnail project.gallery_image '300x180' crop='center' %}" 
           alt="{{project.get_thumbnail_alt_text}}"/>
      {% if project.has_award %}
        <img class="project-award-banner" src="/static/website/img/awardoverlay.png" />
      {% endif %}
    </a>
  </div>
  <div class="project-info">
    <a href="{% url 'website:project' project.short_name %}"><p class="artifact-title line-clamp-one-line">{{ project.name }}</p></a>
    <p class="artifact-venue line-clamp-one-line" style="margin: 0px; color: #6E6E6E;">
      {{ project.start_date.year }}
      {% if project.has_ended %}
        {% if project.start_date.year != project.end_date.year %}
          – {{ project.end_date.year }}
        {% endif %}
      {% else %}
        – Present
      {% endif %}
  </div>
</div>
