{# This is a reusable template for displaying a project #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

<div class="col-ts-12 col-xs-6 col-sm-4 col-lg-3 individual-project-listing">
    <a href="{% url 'website:project' project.short_name %}">
        <div style="background: white; width:100%; contain: content;">
            <img style="width:100%; height: auto; position: relative;object-fit: cover"
                 src="{% thumbnail project.gallery_image "300x180" crop="center" %}">
            {% if project.has_award %}
                <img src="/static/website/img/awardoverlay.png" class="project-award-banner">
            {% endif %}
        </div>
    </a>
    <a href="{% url 'website:project' project.short_name %}">
        <p class="artifact-title line-clamp-one-line">{{ project.name }}</p>
    </a>
    <p class="artifact-venue line-clamp-one-line" style="margin: 0px; color: #6E6E6E;">
        {{ project.start_date.year }}
        {% if project.has_ended %}
            {% if project.start_date.year != project.end_date.year %}
                – {{ project.end_date.year }}
            {% endif %}
        {% else %}
            – Present
        {% endif %}
    </p>
    <p>
        Project {{ project }} has a thumbnail={{ project.has_thumbnail }} and a pub={{ project.has_publication  }}
    </p>
</div>