{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{% for talk in talks%}
    <div class="col-ts-12 col-xs-6 col-sm-4 col-lg-3" style="margin-bottom:20px">
        <div style="width: 100%; height: 300px; contain: content;">
            <div class="talk2-thumbnail">
                <!-- TODO: I don't get this thumbnail stuff; need to talk to Lee about it -->
                <a href="../../media/{{ talk.pdf_file }}" target="_blank">
                    <div style="background: white; width:100%; height: 180px; contain: content;">
                        <img style="width:100%; height: auto; position: relative;top: 50%; left: 50%;transform: translate(-50%,-50%);object-fit: cover" src="{% thumbnail talk.thumbnail 420x0 detail %}" class="talk2-thumbnail-image img-responsive">
                    </div>
                </a>
            </div>
            <div class="talk-text">
                <!-- TODO: href the talk title as well -->
                <span class="artifact-title line-clamp">{{ talk.title }}</span>
                <span class="artifact-venue line-clamp-one-line">{{ talk.date }} | {{ talk.forum_name }}</span>
                {% if talk.location %}<p class="artifact-venue line-clamp-one-line">{{ talk.location }}</p>{% endif %}
                <p class="artifact-authors">
                    <!-- TODO: figure out how to remove vertical space between speakers and subtitle -->
                    {% for speaker in talk.speakers.all %}
                        <a href="{% url 'website:member' speaker.url_name %}">{{ speaker.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <!-- TODO: add in YouTube of talk? -->
            </div>
        </div>
    </div>
{% endfor %}