{# This is a reusable template for displaying a person #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}


{#<div class="item" name="member"#}
{#     style="background:white; margin-right: 15px; width: 210px; height:391px; object-fit: contain">#}
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-5ths people-col" name="member">
    <a href="{% url 'website:member' member.person.url_name %}">
        <div class="easter-egg-col">
            <img src="{% thumbnail member.person.image 245x245 box=member.person.cropping crop detail upscale %}"
                 class="img-responsive main-image"/>
            <div class="overlay-easter-egg">
                <img src="{% thumbnail member.person.easter_egg 245x245 box=member.person.easter_egg_crop crop detail upscale %}"
                     class="img-responsive">
            </div>
        </div>
    </a>
    <div class="item-info" style="background:white">
        <a href="{% url 'website:member' member.person.url_name %}">
            <h5>{{ member.person.get_full_name }}</h5>
        </a>
        {{ member.get_start_date_short }} - {{ member.get_end_date_short }}<br/>

        <span class="line-clamp-one-line">{{ member.person.get_current_title }}</span><br/>

        <span class="line-clamp-one-line">
            {% if member.person.get_current_title != 'High School Student' %}
                {{ member.person.get_current_department }}<br/>
            {% endif %}
        </span>
        <span class="line-clamp-one-line">{{ member.person.get_current_school }}</span><br/>

        {# TODO: Currently excluding me from this as I have so many projects and the clamping isn't working correctly #}
        {% if member.person.project_role_set.all and member.person.last_name != "Froehlich" %}
            <span class="pub-download-links line-clamp-one-line" style="position: static; margin:3px 0px 0px 0px; display: inline-block;">
                {% for project in member.person.get_projects|slice:"3" %}
                    <a href="{% url 'website:project' project.short_name %}">{{ project.name }}</a>{% if not forloop.last %} | {% endif %}
                {% endfor %}

            </span><br/>
        {% endif %}
    </div>
    <div class="sortingAndFiltering" style="display:none">
        <!-- special case for professors since each type of prof does not get their own category -->
        {% if  "Professor" in member.person.get_current_title %}
            Professor()
        {% else %}
            {{ member.person.get_current_title }}()
        {% endif %}
    </div>
</div>