{# This is a reusable template for displaying people #}
{# See: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#include #}

{% load static %}
{% load thumbnail %}
{% load cropping %}
{% load ml_tags %}

{# TODO: should really rename member object to being a position object, since that's what it is #}
{% for title in sorted_titles %}
    {% if map_status_to_title_to_people|get_item:member_status and map_status_to_title_to_people|get_item:member_status|get_item:title %}
        {% for member in map_status_to_title_to_people|get_item:member_status|get_item:title %}
           {% include "snippets/display_person_snippet.html" %}
        {% endfor %}
    {% endif %}
{% endfor %}