/**** Automatic Show/Hide Scroll-Up Up Arrow ****/
#back-top {
    position: fixed;
    bottom: 10px;
    left: 25px;
}

#back-top a {
    width: 75px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 75px;
    height: 75px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../img/up-arrow.png) no-repeat center center;

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover span {
    background-color: #777;
}