/***************************************************/
/************* Makeability Lab footer **************/

.makelab-footer {
    background-color: #3797db;
    color: white;
    margin-top: 50px;
    padding-top: 40px;
    position: relative;
    /*padding-bottom: 20px;*/
  }
  
  .makelab-footer-row {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .makelab-footer-affiliations {
    background-color: black;
    /* should be same color as navbar header */
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .makelab-footer-affiliations-row {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .makelab-footer-affiliation-logo {
    /*height: 75px;*/
    max-height: 60px;
    /* Center content. See center-block in bootstrap.css */
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .makelab-footer-affiliation-col {
    max-width: 20%;
    margin: 0 5px;
  }
  
  .makelab-footer-col {
    margin: 20px 20px 50px 20px;
    width: 21%;
  }
  
  .makelab-footer-recent-news {
    width: 26%;
  }
  
  .makelab-footer-links {
    width: 10%;
  }
  
  .makelab-footer-col h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .makelab-footer-col ul {
    list-style: none;
    padding-left: 0;
    /*margin-top: 5px;*/
  }
  
  .makelab-footer-col li {
    margin-top: 5px;
    color: white;
  }
  
  .makelab-footer-col li.active {
    font-weight: bold;
  }
  
  .makelab-footer-col a {
    text-decoration: none;
  }
  
  .makelab-footer-col a:link {
    color: white;
  }
  
  .makelab-footer-col a:visited {
    color: white;
  }
  
  .makelab-footer-connect-logo {
    max-height: 18px;
  }
  
  .makelab-footer-connect-links ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .makelab-footer-connect-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .makelab-footer-connect-links a {
    text-decoration: none;
  }
  
  .makelab-footer-logo {
    max-width: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .makelab-footer-connect-links-mobile {
    display: none;
  }
  
  /** RESPONSIVE FOOTER FOR TABLET *******/
  
  /** Author: Dhruv Jain ****************/
  
  /** Date: Nov 9, 2018 *****************/
  
  @media screen and (max-width: 1040px) {
    .makelab-footer-col {
      width: 28%;
    }
  
    .makelab-footer-recent-news {
      display: none;
    }
  }
  
  /*** RESPONSIVE FOOTER FOR TABLET ENDS **/
  
  /** RESPONSIVE FOOTER FOR BETW. PHONE-TABLET *******/
  
  /** Author: Dhruv Jain ****************/
  
  /** Date: Nov 9, 2018 *****************/
  
  @media screen and (max-width: 770px) {
    .makelab-footer-col {
      width: 35%;
    }
  
    .makelab-footer-links {
      display: none;
    }
  }
  
  /*** RESPONSIVE FOOTER FOR BETW. PHONE-TABLET ENDS **/
  
  /** RESPONSIVE FOOTER FOR PHONE *******/
  
  /** Author: Dhruv Jain ****************/
  
  /** Date: Nov 7, 2018 *****************/
  
  @media screen and (max-width: 550px) {
    .makelab-footer-links {
      display: initial;
    }
  
    .makelab-footer-col {
      width: 75%;
      float: left;
      margin-bottom: 0.5em;
    }
  
    .makelab-footer-recent-news {
      display: none;
    }
  
    .makelab-footer-connect-links {
      display: none;
    }
  
    .makelab-footer-logo {
      float: left;
      width: 100%;
      max-width: 180px;
    }
  
    .makelab-footer-connect-links-mobile {
      display: initial;
    }
  
    .makelab-footer-connect-links-mobile ul {
      list-style-type: none;
      margin-top: 2em;
      padding: 10px 0;
    }
  
    .makelab-footer-connect-links-mobile li {
      display: inline;
      margin-right: 10px;
    }
  
    .makelab-footer-connect-links-mobile a {
      text-decoration: none;
    }
  
    #uw-cse-footer-icon,  #umd-cse-footer-icon {
      display: none;
    }
  
    #uw-footer-icon img {
      content: url("/static/website/img/logos/uw_solo_white_w_logo.png");
    }
  
    #umd-footer-icon img {
      content: url("/static/website/img/logos/umd_logo_white.png");
    }
  }