.research-area-icon-label {
  text-align: center;
}

.banner-video{
  /* height: auto;
  min-width: 1000px; */
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.news-banner-overlay-container{
  z-index: 15;
  right:0;
  left:0;
  position: absolute;
  top: 100px;    
}

@media (max-width: 768px) {
  .news-banner-overlay-container{
    display: none;
  }
}

.project-grid.landing-page-project-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 950px) {
  .project-grid.landing-page-project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .project-grid.landing-page-project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .project-grid.landing-page-project-grid {
    grid-template-columns: 1fr;
  }
}


.news-banner-listing {
  z-index: 15;
  position: relative; 
  background: rgba(0, 0, 0, 0.65); 
  padding: 6px 10px 1px 10px; 
  border-radius: 5px; 
  margin-right: 15px;
  float: right;
  width: 220px;
}

.news-banner-item{
  margin-bottom:15px; 
  font-family:Roboto;
}

.news-banner-item a{
  color:rgb(245,245,245);
}

.news-banner-item-date{
  font-weight: 500;
  color:rgb(230,230,230);
}

@media only screen and (min-width: 600px) {
  .news-listing {
    display: inline;
  }
}

.research-area-icon-row img {
  width: 100%;
}

.research-area-icon-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.research-area-icon-label {
  width: 100%;
  text-align: center;
}

.research-area-icon-col {
  text-align: center;
}

.section-header {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  /*text-transform: uppercase;*/
}

.see-all-artifacts {
  margin-top: 15px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}

.news_thumbnail_image {
  width: 50px;
}

.talk-text {
  margin-bottom: 20px;
  vertical-align: top;
  margin-top: 5px;
  /*width:80%;*/
  /*text-align: center;*/
}

.talk2-thumbnail-image {
  object-fit: cover;
  width: 295.42px;
  height: 166px;
}

h1 {
  text-transform: uppercase;
  font-variant: normal;
}

#makelab-intro h1 {
  text-align: center;
}

#makelab-intro {
  margin: 0;
  padding: 0;
  background-color: #eac446;
}

.page-link {
  margin: 0;
  text-align: left;
}

.landing-talk-fix {
  /*min-width: 240px;*/
  padding-left: 0;
}

@media (min-width: 769px) {
  .landing-content {
    padding-right: 80px;
  }
}

.content-container {
  padding-left: 25px;
  padding-right: 25px;
}

/* ABOUT US */
.about-us-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-grid p {
  font-size: 18px; /* Adjust the font size as needed */
}

.about-us-grid canvas {
  /*width: 100%; /* Ensure canvas scales to fit container */
  /* height: auto; */
}

@media (max-width: 767px) {
  .about-us-grid {
    flex-direction: column;
  }
}