research-area-icon-label{
    text-align: center;
}

.research-area-icon-row img {
    width: 100%;
}

.research-area-icon-row{
    padding-top: 20px;
    padding-bottom: 20px
}

.research-area-icon-label {
    width: 100%;
    text-align: center;
}

.research-area-icon-col{
    text-align: center;
}

.section-header{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}

.makelab-content-container{
    margin-left: 40px;
    margin-right: 40px;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}


h1{
    text-transform: none;
    font-variant: normal;
}

#makelab-intro h1{
    text-align: center;
}

#makelab-intro{
    margin: 0px;
    padding: 0px;
    background-color: #eac446;
}

.page-link{
    margin: 0;
    text-align: left;
}


.landing-talk-fix {
    /*min-width: 240px;*/
    padding-left:0;
}

.landing-publications {
    /*padding-left: 0;
    padding-right: 0;*/
}

.landing-content {
    /*padding-left: 0;*/
}

@media (min-width: 769px){
    .landing-content {
	padding-right: 80px;
    }
}

.content-container {
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    /*margin-left: 0;
    margin-right: 0;*/
}
