.info-title {
    margin-left: 0px;
}

.project-intro-content {
    padding-right: 30px;
}

.video-about {
    height: 300px;
    width: 535px; /*1.78 * height*/
}

.header-visual {
    padding-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.content-container {
    padding-left: 25px;
    padding-right: 25px;
}

.no-margin {
    padding: 0px;
}

.publication-template {
    margin: 0px;
}

.header-visual-title {
    	font-family: adelle-regular;
	font-weight: bold;
	color: #464D59;
	font-size: 15px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	padding-top: 5px;
	margin-bottom: 0px;
}

.header-visual-caption {
    margin-top: 0px;
    color: #7F7F7F;
}


.project-gallery {
    width: 100%;
    padding-bottom: 10px;
}

.project-gallery-col {
    padding-left: 0px;
}

.project-people-col {
    padding-left: 0px;
}