.icon_row img {
    width: 100%;
}

.icon_row{
    padding-top: 20px;
    padding-bottom: 20px
}

.icon-label {
    width: 100%;
    text-align: center;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}


h1{
    text-transform: none;
    font-variant: normal;
}

@media (max-width:480px) {
    #short-statement {
        font-size: 28px;
    }
}

.page-link{
    margin: 0;
    text-align: left;
}


.landing-talk-fix {
    /*min-width: 240px;*/
    padding-left:0;
}

.landing-publications {
    /*padding-left: 0;
    padding-right: 0;*/
}

.landing-content {
    /*padding-left: 0;*/
}

@media (min-width: 769px){
    .landing-content {
	padding-right: 80px;
    }
}

.content-container {
    padding-left: 25px;
    padding-right: 25px;
}

