.header-icon {
    height: 25px;
    width: 25px;
}

.header-link {
    margin-top: 5px;
    padding-left: 10px;
}

.about-person {
    border-left: solid 1px;
    height: 100%;
}

.about-header {
    margin-top: 10px;
}

.content-container {
    margin-top: 25px;
}

.individual-project-listing {
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 30px;
}