#makelab-news{
  margin-top: 80px;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: center;
  row-gap: 35px;
  margin-top: 20px;
  min-width: 250px;
}

/* In Bootstrap, xs class is meant for phones with size <768 px.
sm class is for tablets with size >= 768 px and <992 px.
md class is used for desktops with size >=992 px and <1200 px.
lg class is defined for larger desktops with size >= 1200 px. */

@media screen and (max-width: 700px) {
  .news-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .news-grid  {
    grid-template-columns: 1fr;
  }
}

.news-image{
  overflow: hidden;
}

.news-card img{
  border-radius: 5%;
  border: 1px solid lightgray;
  width: 100%;
  transition: transform .4s;
}

.news-card img:hover {
  transform: scale(1.1);
}

.news-card-headline {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 4px;
  text-align: left;
  line-height: normal;
}

.news-card-headline a{
  color: inherit
}

.news-card-byline{
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  color: rgb(120, 120, 120)
}

.news-card-byline a{
  color: inherit
}

.news-pagination {
  text-align: center;
  margin: auto;
  margin-top: 40px;
}