#makelab-people{
  margin-top: 80px;
}

#makelab-people h2 {
  margin-top: 40px;
}

.fix-row-align {
  margin-left: -10px;
  margin-right: -10px;
}

.people-col {
  padding-left: 0;
  padding-right: 20px;
}

.current-research-group-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  text-align: center;
  row-gap: 20px;
  margin-top: 20px;
  min-width: 250px;
}

.person img{
  width: 90%;
}

.person img.hover {
  display: none;
}

@media screen and (max-width: 992px) {
  .current-research-group-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .current-research-group-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .current-research-group-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.person-name{
  margin-top: 4px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.person-title{
  font-size: 90%;
}

.person-affiliation{
  font-size: 90%;
}

.person img{
  border-radius:50%;
}

/** GRADUATED PHD STUDENT SECTION **/
.graduated-phds-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  grid-gap: 25px;
  row-gap: 20px;
  margin-top:20px
}

@media screen and (max-width: 992px) {
  .graduated-phds-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .graduated-phds-grid {
    grid-template-columns: 1fr;
  }
}

.graduated-phds-grid img{
  float: left;
  margin-right: 8px;
  width: 50%;
}

.graduated-phd-name{  
  margin-top: 2px;
  font-weight: bold;
  font-size: larger;
}

.dissertation{
  text-align: left;
  font-size: smaller;
  margin-top: 6px;
}

.next-position{
  text-align: left;
  font-size: smaller;
  margin-top: 6px;
}

/** PAST MEMBER SECTION **/
.past-members-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .past-members-grid {
    grid-template-columns: 1fr;
  }
}

.past-member-grid-item {
  padding: 0px;
  margin: 0px;
}

.past-member-name {
  font-weight: 600;
}

.past-member-name a {
  color: rgb(90, 90, 90); 
}

.past-member-affiliation {
  color: rgb(120, 120, 120);
}

.past-members-section{
  /* TODO: at some point, I'd love for this to be a full width spanning background that alternates every other subsection */
  background: inherit;
}