.section-header { /* TODO: this duplicates section-header in index.css; consider moving */
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.load-more{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .person-image-and-bio-container {
    display: flex;
    align-items: flex-start;
  }
}

.person-name-header{
  margin-top: 8px;
  margin-bottom: 4px;
}

@media (min-width: 576px) {
  .person-name-header{
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.person-image {
  flex: 1;
  text-align: center;
  max-width: 190px;
}

.person-image img{
  border-radius:50%;
}

.person-websites a {
  margin-right: 15px;
}

.person-bio{
  flex: 2;
  margin-left: 10px;
}

.person-websites{
  margin-top: 6px;
}

.person-bio-text{
  line-height: 1.8em;
  margin-top: 10px;
}

.person-bio-modified-timestamp{
  /* text-align: right; */
  margin-top: 5px;
  font-size: 0.8em;
  color: #7F7F7F;
  font-style: italic;
}

.text-left{
  text-align: left;
}