/* This is the project gallery css file. For individual project pages, see project.css */

/* TODO: Cleanup the CSS in this file and start using artifact-title, artifact-venue, etc. from base.css */

.content-container {
    margin-top: 25px;
}

.project-display {
    padding-bottom: 25px;
}

.project-name {
    font-family: adelle-regular;
	font-weight: bold;
	color: #464D59;
	font-size: 20px;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.recent-project-name {
    font-weight: bold;
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    line-height: 75%;
    width: 100%;
    overflow: hidden;
}

.recent-image {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 2px;
    vertical-align: top;
}

.header-label {
    padding-top: 0px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 5px;
}

.sidebar-container {
    margin: 0 auto;
    padding-bottom: 10px;
}

.project-column{
    /*margin-top: 15px;*/
    /*margin: 0px 2px 0px 0px;*/
    /*padding: 0px;*/
    margin-top: 3px;
    padding: 0px 4px 0px 4px;
}

.filter-list{
    padding: 0;
    list-style-type: none;
}

.popular-project{
    margin: 0;
    padding: 0;
}

.popular-project img {
    width: 100%;
}

@media (max-width: 768px){
    .project-list {
	margin-top: 25px;
    }
}

@media (min-width: 769px){
    .project-list {
	padding-left: 145px; /* should be greater than the filter-bar width */
	margin-top: 25px;
    }
}

