/* TODO: Cleanup the CSS in this file and start using artifact-title, artifact-venue, etc. from base.css */

/* TODO: update--cleanup in progress. Note that any change here may impact publications.js and filterBar.js */

@media only screen and (max-width: 600px) {
  .citation-link {
    display: none;
  }
}

@media (max-width: 768px) {
  .pub-list {
    margin-top: 25px;
  }
}

@media (min-width: 769px) {
  .pub-list {
    padding-left: 145px;
    /* should be greater than the filter-bar width */
    margin-top: 25px;
  }
}

.citation-links {
  text-align: left;
  margin-bottom: -5px;
  cursor: pointer;
}

.citation-links button {
  border-width: 1px;
  border-radius: 3px;
}

.citation-links button.active {
  border-width: 1.5px;
  color: black;
}

.citation-copy {
  cursor: pointer;
}

.pub-list h1 {
  color: #7F7F7F;
  font-size: 24px;
  border-bottom: 1px solid #A6A6A6;
  margin: 5px 0 3px 0;
  padding-bottom: 1px;
}

.pub-row-vert-layout {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  position: relative;
  min-height: 170px;
}

.pub-row-vert-layout p {
  margin: 0;
  padding: 0;
}

.pub-thumbnail-image {
  border: 1px solid #dddddd;
  width: 100%;
  max-width: 135px;
  margin: auto;
}

.pub-info {
  padding-bottom: 20px;
  /* height of the downloads bar */
  display: table-cell;
  vertical-align: top;
  width: 100%;
  position: relative;
}

@media (max-width: 374px) {
  .pub-thumbnail {
    display: none;
  }

  .pub-award-banner {
    display: none;
  }
}

@media (min-width: 375px) {
  .pub-thumbnail {
    width: 120px;
    min-width: 120px;
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .pub-award-banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    z-index: 20;
  }
}

@media (max-width: 768px) {
  .pub-id {
    font-size: 10px;
    color: #7F7F7F;
    min-width: 40px;
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-right: 10px;
  }
}

@media (min-width: 769px) {
  .pub-id {
    font-size: 10px;
    color: #7F7F7F;
    min-width: 40px;
    display: table-cell;
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
  }
}

.pub-title{
  font-weight: 600;
}

.artifact-title {
  color: #464D59;
  /*font-size: 16px;*/
  font-weight: 500;
  word-wrap: break-word;
  text-overflow: ellipsis;

  /* Added this max-width 01/18/2024 to address long titles messing up the project gallery
  https://github.com/makeabilitylab/makeabilitylabwebsite/issues/1133 */
  max-width: 320px; 
}

.pub-stats {
  color: #7F7F7F;
}

.pub-award-text, .pub-award-icon {
  color: #c25059;
}

.pub-acceptance-rate {
  font-style: bold;
}

.pub-keywords {
  font-size: 11px;
  color: #7F7F7F;
  word-break: break-all;
}

.pub-keyword {
  word-wrap: break-word;
}

.pub-download {
  position: absolute;
  font-size: 12px;
  border-top: 1px solid #dddddd;
  width: 100%;
  height: 20px;
  bottom: 0;
  right: 0;
  margin-left: 5px;
}

.pub-citation-link {
  cursor: pointer;
}

.award-icon {
  border: none;
  width: 20px;
  height: auto;
  align: left;
}

.pub-column-horiz-layout {
  margin-bottom: 20px;
  padding-left: 0px;
  max-height: 129px;
}

.pub-thumbnail {
  position: relative;
}

.pub-thumbnail-horiz-layout{
  float: left; 
  margin-right: 7px;
  height: 129px;
  overflow: hidden;
}

.pub-thumbnail-horiz-layout img {
  /* width: 100%; */
  height: auto;
}

.pub-thumbnail-image2 {
  border: 1px solid #dddddd;
}

.pub-to-appear-text {
  font-style: italic;
}

.pub-text-float-left {
  vertical-align: top;
}

/* This opacity stuff auto-shows the download links on mouseover ('hover');
otherwise, they are hidden! */
.pub-column-horiz-layout .pub-download-links {
  opacity: 0;
}

.pub-column-horiz-layout:hover .pub-download-links {
  opacity: 1;
}

.pub-download-links {
  font-size: 7pt;
  color: gray;
  margin-top: 8px !important;
  margin: 0 20px 0 107px;
  bottom: 0;
  /* position: absolute; */
  border-top: 1px solid #dddddd;
  overflow: hidden;
  max-height: 14px;
}