.sponsor-grid{
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Wrap to multiple lines if there isn't enough space on one line */
  justify-content: center; /* Center the sponsor cards on the line */
}

.sponsor-card {
  /* Set flex grow factor to 1, flex shrink to 0, and flex basis to 200px.
     So, each card is flexible and can grow to fill the container but won't
     shrink smaller than 200px. */
  flex: 1 0 150px; 
  max-width: 150px; /* Card won't exceed 200px */
  margin: 15px; /* Add a margin of 10px around each card */
}

.sponsor-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* image cover the entire content box of its parent element, while maintaining its aspect ratio */
  border-radius: 10%;
}

.sponsor-info{
  text-align: center;
}

.sponsorship-statement{
  max-width: 600px; 
  text-align: center;
  margin: auto;
}